<md-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let language">
            <md-checkbox [(ngModel)]="checkboxes[language.id]" (ngModelChange)="onSelectedChange(language.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Busname Column -->
    <ng-container cdkColumnDef="language">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>language Name</md-header-cell>
        <md-cell *cdkCellDef="let language" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{language.title}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let language">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletelanguage(language)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let language; columns: displayedColumns;"
            (click)="editLanguage(language)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[language.phrase_id]}"
            md-ripple>
    </md-row>
</md-table>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-language-button" (click)="newLanguage($event)" aria-label="add language">
    <md-icon>business</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
