<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="diagnosis_reportForm">

        <input type="hidden" [(ngModel)]="nameId" name="name_id" formControlName="name_id" placeholder="Id">
        <input type="hidden" [(ngModel)]="prescriptionId" name="prescription_name" formControlName="prescription_name" placeholder="Id">
        <input type="hidden" [(ngModel)]="patientId" name="patient_id" formControlName="patient_id" placeholder="Id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">note</md-icon>
            <md-input-container fxFlex>
                <input name="file_name" formControlName="file_name" mdInput placeholder="Enter File Name">
            </md-input-container>
        </div>


        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-select formControlName="laboratorist_id" fxFlex placeholder="Laboratorist">
                <md-option name="laboratorist_id" *ngFor="let laboratorist of laboratorists" [value]="laboratorist.name" (click)="getLId(laboratorist)">
                    {{laboratorist.name}}
                </md-option>
            </md-select>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">local_hotel</md-icon>
            <md-select formControlName="patient_name" fxFlex placeholder="Patient">
                <md-option name="patient_name" *ngFor="let patient of patients" [value]="patient.name" (click)="getPAId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">assignment</md-icon>
            <md-select formControlName="prescription_id" fxFlex placeholder="Prescription">
                <md-option name="prescription_id" *ngFor="let prescription of prescriptions" [value]="prescription.note" (click)="getPId(prescription)">
                    {{prescription.note}}
                </md-option>
            </md-select>
        </div>

        <!--   <div>
            <md-icon class="mr-12 mt-12">add_circle_outline</md-icon>
            <md-input-container>
                <textarea mdInput name="prescription_id" formControlName="prescription_id" placeholder="Enter Prescription" md-maxlength="250"
                    max-rows="4">
            </textarea>
            </md-input-container>
        </div> -->

        <div>
            <md-icon class="mr-12 mt-12">assignment</md-icon>
            <md-input-container>
                <textarea mdInput name="report_type" formControlName="report_type" placeholder="Enter Report" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="timestamp" formControlName="timestamp" [mdDatepicker]="birthdayDatePicker" placeholder="Date">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">note_add</md-icon>
            <md-input-container fxFlex>
                <input name="document_type" formControlName="document_type" mdInput placeholder="Document Type">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <label>Enter Description</label>
            <md-icon class="mr-12 mt-12">insert_drive_file</md-icon>
            <!-- <md-input-container fxFlex> -->
            <div [froalaEditor] formControlName="description">

            </div>
            <!--  </md-input-container> -->
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(diagnosis_reportForm)" class="save-button mat-accent"
        [disabled]="diagnosis_reportForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',diagnosis_reportForm])" class="save-button mat-accent"
        [disabled]="diagnosis_reportForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',diagnosis_reportForm])"
        aria-label="Delete" md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>