<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice">
            <md-checkbox  [(ngModel)]="checkboxes[invoice.id]" (ngModelChange)="onSelectedChange(invoice.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice">
         <!--    <md-checkbox [(ngModel)]="checkboxes[invoice.id]" (ngModelChange)="onSelectedChange(invoice.id)" (click)="$event.stopPropagation()">
            </md-checkbox> -->
        </md-cell>
        </div>
    </ng-container>

    <!-- Invoice Number Column -->
    <ng-container cdkColumnDef="invoice">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Invoice</md-header-cell>
        <div *ngIf="localStorageType!=='Admin'">
            <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-md (click)="editInvoice(invoice)">
                <p class="email text-truncate">
                    {{invoice.invoice_number}}
                </p>
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='Admin'">
            <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-md>
                <p class="email text-truncate">
                    {{invoice.invoice_number}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Title Column -->
    <ng-container cdkColumnDef="title">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Title</md-header-cell>
         <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice" fxShow.gt-md (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.title}}
            </p>
        </md-cell>
         </div>

         <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice" fxShow.gt-md>
            <p class="email text-truncate">
                {{invoice.title}}
            </p>
        </md-cell>
         </div>
    </ng-container>

    <!-- Patient Column -->
    <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-md>Patient</md-header-cell>
          <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice"  fxShow.gt-md (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.patient_name}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice"  fxShow.gt-md>
            <p class="email text-truncate">
                {{invoice.patient_name}}
            </p>
        </md-cell>
         </div>
    </ng-container>

    <!-- Entries Column -->
    <ng-container cdkColumnDef="entries">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Invoice Entries</md-header-cell>
         <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-lg (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.invoice_entries}}
            </p>
        </md-cell>
        </div>

          <div *ngIf="localStorageType==='Admin'">
        <md-cell  *cdkCellDef="let invoice" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{invoice.invoice_entries}}
            </p>
        </md-cell>
          </div>
    </ng-container>

    <!-- Create Column -->
    <ng-container cdkColumnDef="create">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Create <br> Date</md-header-cell>
          <div *ngIf="localStorageType!=='Admin'">
        <md-cell  *cdkCellDef="let invoice" fxHide fxShow.gt-lg (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.creation_timestamp}}
            </p>
        </md-cell>
          </div>

          <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{invoice.creation_timestamp}}
            </p>
        </md-cell>
          </div>
    </ng-container>

    <!-- Due Column -->
    <ng-container cdkColumnDef="due">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Due <br> Date</md-header-cell>
        <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-lg (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.due_timestamp}}
            </p>
        </md-cell>
        </div>

            <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{invoice.due_timestamp}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="status">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Status</md-header-cell>
         <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-md (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.status}}
            </p>
        </md-cell>
         </div>

         <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{invoice.status}}
            </p>
        </md-cell>
        </div>
    </ng-container>


    <!-- Percentage Column -->
    <ng-container cdkColumnDef="vat_percentage">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Vat</md-header-cell>
         <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-md (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.vat_percentage}}
            </p>
        </md-cell>
         </div>

         <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{invoice.vat_percentage}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Discount Column -->
    <ng-container cdkColumnDef="discount">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Discount</md-header-cell>
        <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-md (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.discount_amount}}
            </p>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{invoice.discount_amount}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Sub Total Column -->
    <ng-container cdkColumnDef="subtotal">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Sub</md-header-cell>
        <div *ngIf="localStorageType!=='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-lg (click)="editInvoice(invoice)">
            <p class="email text-truncate">
                {{invoice.subtotal}}
            </p>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Admin'">
        <md-cell *cdkCellDef="let invoice" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{invoice.subtotal}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let invoice">
            <div fxFlex="row" fxLayoutAlign="center center">
                <button md-menu-item aria-label="remove" (click)="viewInvoice(invoice)">
                   <md-icon>receipt</md-icon>
                   <!--  <span class="font-weight-600"><i>View</i></span> -->
                </button>

            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let invoice; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[invoice.invoice_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="invoices.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType!=='Admin'" class="md-accent-bg" id="add-invoice-button" (click)="newInvoice($event)"
    aria-label="add invoice">
    <md-icon>assessment</md-icon>
</button>

<button md-fab *ngIf="localStorageType==='Admin'||localStorageType==='Patient'" class="md-accent-bg" id="add-invoice-button" (click)="newInvoice($event)"
    aria-label="add invoice" disabled>
    <md-icon>assessment</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->