:host {

    .content {

        form {
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }
    }
}

.img3{
   width: 300px;
   height: 250px;
   border-radius: 50%;
}

.co-style{
padding-right: 10px;
padding-bottom: 25px;
}
