<div id="forms" class="page-layout simple fullwidth" fxLayout="column" perfect-scrollbar>

    <!-- HEADER -->
    <div class="header md-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <md-icon class="secondary-text s-16">group</md-icon>
                <md-icon class="secondary-text s-16">chevron_right</md-icon>
                <!-- <span class="secondary-text">User Interface</span> -->
            </div>
            <div class="h1 mt-16">Doctor's Profile</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <p class="mb-32">

        </p>
        <div id="printArea" class="center">

            <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

                <form class="md-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                    [formGroup]="form">

                    <div class="invoice-title h2 mb-24"><strong>Doctor Details</strong></div>
                    
                        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="1 0 auto">
                            
                                    <span [ngStyle]="{'font-weight': 'bold'}" class="hint-text font-size-28 mb-8 "> Name: </span>
                           
                                    <span class="font-size-18 mb-8 invoice-date"> {{doctorName}} </span>
                              
                                    <span [ngStyle]="{'font-weight': 'bold'}" class="hint-text font-size-28 mb-8"> Address: </span>

                             
                           
                                    <span class="font-size-18 mb-8 invoice-date"> {{doctorAddress}} </span>

                                    <span [ngStyle]="{'font-weight': 'bold'}" class="hint-text font-size-28 mb-8"> Department: </span>

                             
                                    <span class="font-size-18 mb-8 invoice-date"> {{doctorDepartment}} </span>

                             
                                    <span [ngStyle]="{'font-weight': 'bold'}" class="hint-text font-size-28 mb-8"> Phone: </span>

                              
                                    <span class="font-size-18 mb-8 invoice-date"> {{doctorPhone}} </span>

                                    <span [ngStyle]="{'font-weight': 'bold'}" class="hint-text font-size-28 mb-8"> Doctor's Profile: </span>

                                    <span class="font-size-18 mb-8 invoice-date"> {{doctorProfile}} </span>


                        </div>

                </form>

                <div class="reduce form-errors-model md-white-bg p-24 mat-elevation-z4">

                    <div class="h2 mb-24"><strong>Profile Picture</strong></div>

                    <span>
              <img class="img3" [src]="_DomSanitizer.bypassSecurityTrustUrl(image)"> 
            </span>

                </div>

            </div>


        </div>
        <br>
        <div>
            <button md-raised-button (click)="print()" class="save-button mat-accent">
                     PRINT
                    </button>
        </div>

    </div>
    <!-- / CONTENT -->

</div>