<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="smsForm">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="subject" formControlName="subject" mdInput placeholder="Subject">
            </md-input-container>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-select formControlName="patient" fxFlex placeholder="Patient Name">
                <md-option *ngFor="let patient of patientss" [value]="patient.name" (click)="getPId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">phone</md-icon>
            <md-input-container fxFlex>
                <input [(ngModel)]="patientNumber" name="phone" formControlName="phone" mdInput placeholder="Phone Number">
            </md-input-container>
        </div>

        <div>
            <md-icon class="mr-12 mt-12">note</md-icon>
            <md-input-container>
                <textarea mdInput name="body" formControlName="body" placeholder="Message" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(smsForm)" class="save-button mat-accent" [disabled]="smsForm.invalid"
        aria-label="SAVE">
        SEND
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',smsForm])" class="save-button mat-accent"
        [disabled]="smsForm.invalid" aria-label="SAVE">
        SEND
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',smsForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>