<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button"
                (click)="dialogRef.close()"
                aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="managepaymentForm">

       <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="product" formControlName="product" mdInput placeholder="Product">
            </md-input-container>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">description</md-icon>
            <md-input-container fxFlex>
                <input name="reference" formControlName="reference" mdInput placeholder="Reference">
            </md-input-container>
        </div>

          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">monetization_on</md-icon>
            <md-input-container fxFlex>
                <input name="amount" formControlName="amount" mdInput placeholder="Amount">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input mdInput name="expire" formControlName="expire" [mdDatepicker]="accountopen" placeholder="Expire">
            </md-input-container>
            <md-datepicker #accountopen></md-datepicker>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">add</md-icon>
            <md-input-container fxFlex>
                <input name="method" formControlName="amount" mdInput placeholder="Amount">
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

   <!--  <button *ngIf="action !=='edit'"
            md-raised-button
            (click)="dialogRef.close(managepaymentForm)"
            class="save-button mat-accent"
            [disabled]="managepaymentForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-raised-button
            (click)="dialogRef.close(['save',managepaymentForm])"
            class="save-button mat-accent"
            [disabled]="managepaymentForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-button
            class="mat-icon-button"
            (click)="dialogRef.close(['delete',managepaymentForm])"
            aria-label="Delete"
            md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div> -->
