<div [formGroup]="amountForm">
    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <md-icon class="mr-12 mt-12">note</md-icon>
        <md-input-container fxFlex>
            <input name="entry" mdInput placeholder="Invoice Entry" formControlName="entry">
        </md-input-container>

        <md-icon class="mr-12 mt-12">monetization_on</md-icon>
        <md-input-container fxFlex>
            <input type="number"  #passtext (keyup)="onChange(passtext.value)" name="amount" mdInput placeholder="Amount" formControlName="amount">
        </md-input-container>
    </div>

</div>