<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="invoiceForm">

        <input type="hidden"  [(ngModel)]="invoice.patient_id" name="patient_id" formControlName="patient_id" placeholder="Id">
        <input type="hidden"  [(ngModel)]="invoice.paddress" name="paddress" formControlName="paddress" placeholder="Id">
        <input type="hidden"  [(ngModel)]="invoice.pnumber" name="pnumber" formControlName="pnumber" placeholder="Id">
        <input type="hidden"  [(ngModel)]="invoice.pemail" name="patient_id" formControlName="pemail" placeholder="Id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="title" formControlName="title" mdInput placeholder="Invoice Title">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">dvr</md-icon>
            <md-input-container fxFlex>
                <input name="invoice_number" formControlName="invoice_number" mdInput placeholder="Invoice Number">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">local_hotel</md-icon>
            <md-select formControlName="patient_name" fxFlex placeholder="Select Patient">
                <md-option *ngFor="let patient of patientss" [value]="patient.name" (click)="getPId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="creation_timestamp" formControlName="creation_timestamp" [mdDatepicker]="birthdayDatePicker" placeholder="Date Created">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="duedate"></button>
                <input mdInput name="due_timestamp" formControlName="due_timestamp" [mdDatepicker]="duedate" placeholder="Due Date">
            </md-input-container>
            <md-datepicker #duedate></md-datepicker>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">credit_card</md-icon>
            <md-input-container fxFlex>
                <input type="number" #who name="vat_percentage" (ngModelChange)="getData($event)" formControlName="vat_percentage" mdInput placeholder="Vat"
                    [(ngModel)]="invoice.vat_percentage">
            </md-input-container>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="insurancename" formControlName="insurancename" mdInput placeholder="Insurance Name"
                    [(ngModel)]="invoice.insurancename">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">attach_money</md-icon>
            <md-input-container fxFlex>
                <input name="discount_amount" (ngModelChange)="getDiscountData($event)" formControlName="discount_amount" mdInput placeholder="Discount Amount"
                    [(ngModel)]="invoice.discount_amount">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">bookmark</md-icon>
            <md-select formControlName="status" fxFlex placeholder="Payment Status">
                <md-option *ngFor="let status of statuss" [value]="status">
                    {{status}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">monetization_on</md-icon>
            <md-input-container hide fxFlex>
                <input [(ngModel)]="invoice.subtotal" name="subtotal" formControlName="subtotal" mdInput placeholder="Sub-Total">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">account_balance_wallet</md-icon>
            <md-input-container hide fxFlex>
                <input [(ngModel)]="invoice.grandtotal" name="grandtotal" formControlName="grandtotal" mdInput placeholder="Grand-Total">
            </md-input-container>
        </div>

        <div formArrayName="amountss">
            <div *ngFor="let amount of invoiceForm.controls.amountss.controls; let i=index">
                <!-- address header, show remove button when more than one address available -->
                <div>
                    <span *ngIf="invoiceForm.controls.amountss.controls.length > 1" (click)="removeAmount(i)">
                </span>
                </div>

                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div [formGroupName]="i">
                    <!--amount-->
                    <amount (passInput)="textData=$event" [group]="invoiceForm.controls.amountss.controls[i]"></amount>

                </div>
            </div>
        </div>

        <!--  <p >{{textData}}</p> -->

    </form>
   
    <button md-raised-button *ngIf="trigger ==='show'" (click)="calculate()" class="save-button mat-accent">
        Calculate Invoice Entry
    </button>
    <button md-raised-button *ngIf="trigger !=='show'" (click)="calculate2()" class="save-button mat-accent">
        Calculate Invoice Entry
    </button>

    <button md-raised-button (click)="addAmount()" class="save-button mat-accent">
        Add Invoice Entry
    </button>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
  
    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(invoiceForm)" class="save-button mat-accent" [disabled]="invoiceForm.invalid"
        aria-label="SAVE">
        SAVE
    </button>
    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',invoiceForm])" class="save-button mat-accent"
        [disabled]="invoiceForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',invoiceForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>