<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let account">
            <md-checkbox [(ngModel)]="checkboxes[account.id]" (ngModelChange)="onSelectedChange(account.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- accountname Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let account" fxShow.gt-sm>
            <p class="email text-truncate">
                {{account.name}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Email</md-header-cell>
        <md-cell *cdkCellDef="let account"  fxShow.gt-md>
            <p class="email text-truncate">
                {{account.email}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Password Column -->
    <ng-container cdkColumnDef="password">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Password</md-header-cell>
        <md-cell *cdkCellDef="let account" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{account.password}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let account">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deleteaccount(account)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let account; columns: displayedColumns;"
            (click)="editAccount(account)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[account.account_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="accounts.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-account-button" (click)="newAccount($event)" aria-label="add account">
    <md-icon>local_pharmacy</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
