<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let payroll">
            <md-checkbox [(ngModel)]="checkboxes[payroll.id]" (ngModelChange)="onSelectedChange(payroll.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>
    </div>

     <div *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let payroll">
           <!--  <md-checkbox [(ngModel)]="checkboxes[payroll.id]" (ngModelChange)="onSelectedChange(payroll.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox> -->
        </md-cell>
    </ng-container>
    </div>

    <!-- Code Column -->
    <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="code">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Payroll Code</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-sm  (click)="editPayroll(payroll)">
            <p class="email text-truncate">
                {{payroll.payroll_code}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <div *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="code">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Payroll Code</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{payroll.payroll_code}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <!-- Employee Column -->
     <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="employee">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Employee</md-header-cell>
        <md-cell *cdkCellDef="let payroll"  fxShow.gt-sm  (click)="editPayroll(payroll)">
            <p class="email text-truncate">
                {{payroll.user_id}}
            </p>
        </md-cell>
    </ng-container>
    </div>

      <div  *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="employee">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Employee</md-header-cell>
        <md-cell *cdkCellDef="let payroll"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{payroll.user_id}}
            </p>
        </md-cell>
    </ng-container>
    </div>


     <!-- Account Column -->
     <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="account">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Account Type</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-md  (click)="editPayroll(payroll)">
            <p class="email text-truncate">
                {{payroll.user_type}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <div *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="account">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Account Type</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{payroll.user_type}}
            </p>
        </md-cell>
    </ng-container>
    </div>

      <!-- Salary Column -->
      <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="salary">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Net Salary</md-header-cell>
        <md-cell *cdkCellDef="let payroll"  fxShow.gt-md  (click)="editPayroll(payroll)">
            <p class="email text-truncate">
                {{payroll.joining_salary}}
            </p>
        </md-cell>
    </ng-container>
    </div>

      <div *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="salary">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Net Salary</md-header-cell>
        <md-cell *cdkCellDef="let payroll"  fxShow.gt-md>
            <p class="email text-truncate">
                {{payroll.joining_salary}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <!-- Date Column -->
     <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Date</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-md  (click)="editPayroll(payroll)">
            <p class="email text-truncate">
                {{payroll.date}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <div *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Date</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{payroll.date}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <!-- Status Column -->
     <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="status">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Status</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-md  (click)="editPayroll(payroll)">
            <p class="email text-truncate">
                {{payroll.status}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <div *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="status">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Status</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{payroll.status}}
            </p>
        </md-cell>
    </ng-container>
    </div>


     <!-- Allowance Column -->
     <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="allowance">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Allowances</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-lg  (click)="editPayroll(payroll)">
            <p class="email text-truncate" >
                {{payroll.allowances}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <div *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="allowance">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Allowances</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-lg>
            <p class="email text-truncate" >
                {{payroll.allowances}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <!-- Deduction Column -->
     <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="deduction">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Deductions</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-lg  (click)="editPayroll(payroll)">
            <p class="email text-truncate">
                {{payroll.deductions}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     <div *ngIf="localStorageType==='disable'">
    <ng-container cdkColumnDef="deduction">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Deductions</md-header-cell>
        <md-cell *cdkCellDef="let payroll" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{payroll.deductions}}
            </p>
        </md-cell>
    </ng-container>
    </div>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let payroll">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-menu-item aria-label="remove" (click)="viewPayroll(payroll)">
                   <md-icon>receipt</md-icon>
                    <!-- <span>Receipt</span> -->
                </button>
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let payroll; columns: displayedColumns;"
           
            [ngClass]="{'md-light-blue-50-bg':checkboxes[payroll.payroll_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="payrolls.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType" class="md-accent-bg" id="add-payroll-button" (click)="newPayroll($event)" aria-label="add payroll" disabled>
    <md-icon>account_balance_wallet</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType==='Admin'" class="md-accent-bg" id="add-payroll-button" (click)="newPayroll($event)" aria-label="add payroll">
    <md-icon>account_balance_wallet</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
