<div class="my-container">
    <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: 'rgb(92, 214, 92,0.3)', backdropBorderRadius: '20px',
        primaryColour: '#2eb82e', secondaryColour: '#2eb82e', tertiaryColour: '#2eb82e' }"></ngx-loading>

</div>

<div id="login" fxLayout="column" perfect-scrollbar>

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form">
            <div class="logo">
                <span><img src="assets/images/logos/hospii.png" /></span>
            </div>
            <br>
            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form name="loginForm" [formGroup]="loginForm" novalidate>

                <md-input-container>
                    <input [(ngModel)]="username" mdInput placeholder="Email" formControlName="email">
                    <md-error *ngIf="loginFormErrors.email.required">
                        Email is required
                    </md-error>
                    <md-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
                        Please enter a valid email address
                    </md-error>
                </md-input-container>

                <md-input-container>
                    <input [type]="getType()" [(ngModel)]="password" mdInput placeholder="Password" formControlName="password">
                    <md-error *ngIf="loginFormErrors.password.required">
                        Password is required
                    </md-error>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between end">
                        <button class="co-style color-transparent" (click)="toggleTextPassword()"><md-icon>visibility</md-icon></button>
                    </div>
                </md-input-container>



                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <md-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </md-checkbox>

                    <button class="color-transparent" (click)="navFP()"><a class="forgot-password">
                            Forgot Password?
                        </a></button>
                </div>
                <p margin-left margin-right class="red">{{ error }}</p>
                <button md-raised-button (click)="login()" color="accent" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid">
                    LOGIN
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account? Contact the Admin</span>
               <!--  <label class="color-transparent" (click)="newStaff($event)" *ngIf="!disable"> <a class="link">Create an account</a></label>
                <label class="color-transparent"  *ngIf="disable"> </label> -->
            </div>

        </div>
    </div>
</div>