<div id="printArea">
    <div class="ml-8 mt-8" fxLayout="row" fxLayoutAlign="start">
        <img *ngIf="image" class="avatar" [src]="_DomSanitizer.bypassSecurityTrustUrl(image2)">
        <img *ngIf="!image" class="avatar" src="assets/images/avatars/profile.jpg">
        <span class="username mr-12 mt-4" fxShow.gt-md><h3><strong>{{patientName}}</strong></h3></span>
    </div>
    <div class="ml-8">
        <h4><span class="font-weight-600">Address :</span> {{patientAddress}} <span fxLayoutAlign="end" fxFlex>
             <button class="print2 mr-8" color="warn" title="consultancy" md-raised-button (click)="navConsultancy()">CONSULTANCY</button></span></h4>
    </div>
    <div class="ml-8">
        <h4><span class="font-weight-600">Phone Number :</span> {{patientPhone}} <span fxLayoutAlign="end" fxFlex>
        <button class="print mr-8" color="warn" title="Print" md-mini-fab (click)="printlabrecord()"><md-icon class="white">print</md-icon></button>
    </span> </h4>
    </div>
    <div class="ml-8">
        <h4><span class="font-weight-600">Email :</span> {{patientEmail}} </h4>
    </div>

    <form margin-top (ngSubmit)="submit()">
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            HAEMATOLOGY AND BLOOD BANKING</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8 hide" *ngFor="let gen of haematology;let i = index">


            <md-checkbox (ngModelChange)="click($event)" class="mr-20 hide" *ngIf="gen.type=='checkbox'" mdInput [(ngModel)]="labrecord[gen.name]"
                name="gen.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>

            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{gen.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{labrecord[gen.name]}} </span>
            
            <md-input-container *ngIf="gen.type=='input'" fxFlex>
                <input class="hide ml-40" [(ngModel)]="labrecord[gen.name]" name="gen.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="gen.type=='text'" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="labrecord[gen.name]" name="gen.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="gen.type=='date'" fxFlex>
                <button mdSuffix class="hide color-transparent" [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" [(ngModel)]="labrecord[gen.name]" name="gen.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{gen.normalvalue}}</label>
        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            WBC DIFFERENTIAL</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let medhis of wbc;let i = index">
            <md-checkbox class="mr-20 hide" *ngIf="medhis.type=='checkbox'" [(ngModel)]="labrecord[medhis.name]" name="medhis.{{i}}.name"
                fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medhis.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{labrecord[medhis.name]}} </span>

            <md-input-container *ngIf="medhis.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="labrecord[medhis.name]" name="medhis.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="medhis.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="labrecord[medhis.name]" name="medhis.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="medhis.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button mdSuffix class="hide" [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[medhis.name]" name="medhis.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>

            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medhis.normalvalue}}</label>
        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            BLOOD CROSS MATCHING</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let sochis of bloodCross;let i = index">
            <md-checkbox class="mr-20" *ngIf="sochis.type=='checkbox'" [(ngModel)]="labrecord[sochis.name]" name="sochis.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sochis.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{labrecord[sochis.name]}} </span>

            <md-input-container *ngIf="sochis.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="labrecord[sochis.name]" name="sochis.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="sochis.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="labrecord[sochis.name]" name="sochis.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="sochis.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[sochis.name]" name="sochis.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>

            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sochis.normalvalue}}</label>
        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            SEROLOGY TEST</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let medcond of serology;let i = index">
            <md-checkbox class="mr-20" *ngIf="medcond.type=='checkbox'" [(ngModel)]="labrecord[medcond.name]" name="medcond.{{i}}.name"
                fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medcond.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{labrecord[medcond.name]}} </span>

            <md-input-container *ngIf="medcond.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="labrecord[medcond.name]" name="medcond.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="medcond.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="labrecord[medcond.name]" name="medcond.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="medcond.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[medcond.name]" name="medcond.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medcond.normalvalue}}</label>
        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            RETROVIRAL SCREENING</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let currentmed of retroviral;let i = index">
            <md-checkbox class="mr-20" *ngIf="currentmed.type=='checkbox'" [(ngModel)]="labrecord[currentmed.name]" name="currentmed.{{i}}.name"
                fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{currentmed.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{labrecord[currentmed.name]}} </span>

            <md-input-container *ngIf="currentmed.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="labrecord[currentmed.name]" name="currentmed.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="currentmed.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" *ngIf="currentmed.type=='text'" [(ngModel)]="labrecord[currentmed.name]" name="currentmed.{{i}}.name"
                    mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="currentmed.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[currentmed.name]" name="currentmed.{{i}}.name" mdInput
                    [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>

            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{currentmed.normalvalue}}</label>
        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            VDRL</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let famhis of vdrl;let i = index">
            <md-checkbox class="mr-20" *ngIf="famhis.type=='checkbox'" [(ngModel)]="labrecord[famhis.name]" name="famhis.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{famhis.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{labrecord[famhis.name]}} </span>

            <md-input-container *ngIf="famhis.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="labrecord[famhis.name]" name="famhis.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="famhis.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="labrecord[famhis.name]" name="famhis.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="famhis.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[famhis.name]" name="famhis.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>

            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{famhis.normalvalue}}</label>
        </md-card>

        <p class="font-weight-800 mb-8 ml-8 mr-8">
            HBSAg</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let note of hbsag;let i = index">
            <md-checkbox class="mr-20" *ngIf="note.type=='checkbox'" [(ngModel)]="labrecord[note.name]" name="note.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{note.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{labrecord[note.name]}} </span>

            <md-input-container *ngIf="note.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="labrecord[note.name]" name="note.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="note.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="labrecord[note.name]" name="note.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="note.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[note.name]" name="note.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{note.normalvalue}}</label>
            </md-card>
       
       <p class="font-weight-800 mb-8 ml-8 mr-8">
        MALARIA PARASITE</p>

    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8 hide" *ngFor="let mal of malaria;let i = index">


        <md-checkbox (ngModelChange)="click($event)" class="mr-20 hide" *ngIf="mal.type=='checkbox'" mdInput [(ngModel)]="labrecord[mal.name]"
            name="mal.{{i}}.name" fxLayoutAlign="start">
        </md-checkbox>

        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{mal.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[mal.name]}} </span>

        <md-input-container *ngIf="mal.type=='input'" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[mal.name]" name="mal.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="mal.type=='text'" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[mal.name]" name="mal.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="mal.type=='date'" fxFlex>
            <button mdSuffix class="hide color-transparent" [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" [(ngModel)]="labrecord[mal.name]" name="mal.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{mal.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        ABO BLOOD GROUP</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let ab of abo;let i = index">
        <md-checkbox class="mr-20 hide" *ngIf="ab.type=='checkbox'" [(ngModel)]="labrecord[ab.name]" name="ab.{{i}}.name"
            fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{ab.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[ab.name]}} </span>

        <md-input-container *ngIf="ab.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[ab.name]" name="ab.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="ab.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[ab.name]" name="ab.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="ab.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button mdSuffix class="hide" [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[ab.name]" name="ab.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>

        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{ab.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        HCV</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let hc of hcv;let i = index">
        <md-checkbox class="mr-20" *ngIf="hc.type=='checkbox'" [(ngModel)]="labrecord[hc.name]" name="hc.{{i}}.name" fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{hc.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[hc.name]}} </span>

        <md-input-container *ngIf="hc.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[hc.name]" name="hc.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="hc.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[hc.name]" name="hc.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="hc.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[hc.name]" name="hc.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>

        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{hc.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        HAEMOGLOGIN GENOTYPE</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let type of genotype;let i = index">
        <md-checkbox class="mr-20" *ngIf="type.type=='checkbox'" [(ngModel)]="labrecord[type.name]" name="type.{{i}}.name"
            fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{type.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[type.name]}} </span>

        <md-input-container *ngIf="type.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[type.name]" name="type.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="type.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[type.name]" name="type.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="type.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[type.name]" name="type.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{type.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        SICKLING TEST</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let sic of sickling;let i = index">
        <md-checkbox class="mr-20" *ngIf="sic.type=='checkbox'" [(ngModel)]="labrecord[sic.name]" name="sic.{{i}}.name"
            fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sic.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[sic.name]}} </span>

        <md-input-container *ngIf="sic.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[sic.name]" name="sic.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="sic.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" *ngIf="sic.type=='text'" [(ngModel)]="labrecord[sic.name]" name="sic.{{i}}.name"
                mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="sic.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[sic.name]" name="sic.{{i}}.name" mdInput
                [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>

        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sic.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        BLOOD MICROFILARIA</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let bm of bloodm;let i = index">
        <md-checkbox class="mr-20" *ngIf="bm.type=='checkbox'" [(ngModel)]="labrecord[bm.name]" name="bm.{{i}}.name" fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{bm.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[bm.name]}} </span>

        <md-input-container *ngIf="bm.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[bm.name]" name="bm.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="bm.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[bm.name]" name="bm.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="bm.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[bm.name]" name="bm.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>

        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{bm.normalvalue}}</label>
    </md-card>

    <p class="font-weight-800 mb-8 ml-8 mr-8">
        PREGNANCY TEST(Urine/Serum)</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let pt of pTest;let i = index">
        <md-checkbox class="mr-20" *ngIf="pt.type=='checkbox'" [(ngModel)]="labrecord[pt.name]" name="pt.{{i}}.name" fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{pt.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[pt.name]}} </span>

        <md-input-container *ngIf="pt.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[pt.name]" name="pt.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="pt.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[pt.name]" name="pt.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="pt.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[pt.name]" name="pt.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{pt.normalvalue}}</label>
        </md-card>
        
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            MICROBIOLOGY TEST</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let mt of microTest;let i = index">
            <md-checkbox class="mr-20" *ngIf="mt.type=='checkbox'" [(ngModel)]="labrecord[mt.name]" name="mt.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{mt.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{labrecord[mt.name]}} </span>

            <md-input-container *ngIf="mt.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="labrecord[mt.name]" name="mt.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="mt.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="labrecord[mt.name]" name="mt.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="mt.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[mt.name]" name="mt.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{mt.normalvalue}}</label>
            </md-card>
            
       
       <p class="font-weight-800 mb-8 ml-8 mr-8">
        URINALYSIS</p>

    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8 hide" *ngFor="let urin of urinalysis;let i = index">


        <md-checkbox (ngModelChange)="click($event)" class="mr-20 hide" *ngIf="urin.type=='checkbox'" mdInput [(ngModel)]="labrecord[urin.name]"
            name="urin.{{i}}.name" fxLayoutAlign="start">
        </md-checkbox>

        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{urin.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[urin.name]}} </span>

        <md-input-container *ngIf="urin.type=='input'" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[urin.name]" name="urin.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="urin.type=='text'" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[urin.name]" name="urin.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="urin.type=='date'" fxFlex>
            <button mdSuffix class="hide color-transparent" [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" [(ngModel)]="labrecord[urin.name]" name="urin.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{urin.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        MICROSCOPY</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let micro of microscopy;let i = index">
        <md-checkbox class="mr-20 hide" *ngIf="micro.type=='checkbox'" [(ngModel)]="labrecord[micro.name]" name="micro.{{i}}.name"
            fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{micro.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[micro.name]}} </span>

        <md-input-container *ngIf="micro.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[micro.name]" name="micro.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="micro.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[micro.name]" name="micro.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="micro.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button mdSuffix class="hide" [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[micro.name]" name="micro.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>

        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{micro.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        ANTIBIOTIC SEMSITIVITY</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let biotic of antibiotic;let i = index">
        <md-checkbox class="mr-20" *ngIf="biotic.type=='checkbox'" [(ngModel)]="labrecord[biotic.name]" name="biotic.{{i}}.name" fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{biotic.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[biotic.name]}} </span>

        <md-input-container *ngIf="biotic.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[biotic.name]" name="biotic.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="biotic.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[biotic.name]" name="biotic.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="biotic.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[biotic.name]" name="biotic.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>

        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{biotic.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        SEMICAL FLUID ANALYSIS</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let sem of semical;let i = index">
        <md-checkbox class="mr-20" *ngIf="sem.type=='checkbox'" [(ngModel)]="labrecord[type.name]" name="sem.{{i}}.name"
            fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sem.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[sem.name]}} </span>

        <md-input-container *ngIf="sem.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[sem.name]" name="sem.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="sem.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" [(ngModel)]="labrecord[sem.name]" name="sem.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="sem.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[sem.name]" name="sem.{{i}}.name" mdInput [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sem.normalvalue}}</label>
    </md-card>
    <p class="font-weight-800 mb-8 ml-8 mr-8">
        CHEMICAL PATHOLOGY GENERAL</p>
    <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let path of pathology;let i = index">
        <md-checkbox class="mr-20" *ngIf="path.type=='checkbox'" [(ngModel)]="labrecord[path.name]" name="path.{{i}}.name"
            fxLayoutAlign="start">
        </md-checkbox>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{path.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{labrecord[path.name]}} </span>

        <md-input-container *ngIf="path.type=='input'" fxLayoutAlign="center center" fxFlex>
            <input class="hide ml-40" [(ngModel)]="labrecord[path.name]" name="path.{{i}}.name" text-center type="text" mdInput>
        </md-input-container>

        <md-input-container *ngIf="path.type=='text'" fxLayoutAlign="center center" fxFlex>
            <textarea class="hide ml-40" *ngIf="path.type=='text'" [(ngModel)]="labrecord[path.name]" name="path.{{i}}.name"
                mdInput md-maxlength="250" max-rows="4">
        </textarea>
        </md-input-container>

        <md-input-container *ngIf="path.type=='date'" fxLayoutAlign="center center" fxFlex>
            <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
            <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="labrecord[path.name]" name="path.{{i}}.name" mdInput
                [mdDatepicker]="accountopen">
        </md-input-container>
        <md-datepicker class="hide" #accountopen></md-datepicker>
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{path.normalvalue}}</label>
    </md-card>

        <div fxLayout="row" fxLayoutAlign="center center">
            <button md-raised-button type="submit" class="save-button mat-accent facebook hide" aria-label="SAVE">
        SAVE
    </button>
        </div>
    </form>
</div>
<!-- ADD CONTACT BUTTON -->
<!-- <button md-fab class="md-accent-bg" id="add-labrecord-button" (click)="newlabrecord($event)" aria-label="add labrecord">
    <md-icon>add</md-icon>
</button> -->
<!-- / ADD CONTACT BUTTON -->