<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
   <!--  <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let staff">
            <md-checkbox [(ngModel)]="checkboxes[staff.id]" (ngModelChange)="onSelectedChange(staff.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let staff"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{staff.name}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Department Column -->
    <ng-container cdkColumnDef="department">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Department</md-header-cell>
        <md-cell *cdkCellDef="let staff"  fxShow.gt-md>
            <p class="email text-truncate">
                {{staff.department_id}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Amount Column -->
   <!--  <ng-container cdkColumnDef="amount">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Amount</md-header-cell>
        <md-cell *cdkCellDef="let payment" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{payment.amount}}
            </p>
        </md-cell>
    </ng-container> -->

      <!-- Invoice Column -->
   <!--  <ng-container cdkColumnDef="invoice">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Invoice</md-header-cell>
        <md-cell *cdkCellDef="let payment" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{payment.invoice_number}}
            </p>
        </md-cell>
    </ng-container> -->

  <!-- Description Column -->
  <!--   <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Description</md-header-cell>
        <md-cell *cdkCellDef="let payment" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{payment.description}}
            </p>
        </md-cell>
    </ng-container> -->

         <!-- Payment Method Column -->
  <!--   <ng-container cdkColumnDef="method">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Method</md-header-cell>
        <md-cell *cdkCellDef="let payment" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{payment.payment_method}}
            </p>
        </md-cell>
    </ng-container> -->

      <!-- Date Column -->
   <!--  <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Date</md-header-cell>
        <md-cell *cdkCellDef="let payment" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{payment.date}}
            </p>
        </md-cell>
    </ng-container> -->
  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let staff">
            <div fxFlex="row" fxLayoutAlign="end center">
                 <button md-menu-item aria-label="remove" (click)="viewDoctor(staff)">
                   <md-icon>visibility</md-icon>
                    <!-- <span>Edit</span> -->
                </button>
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let payment; columns: displayedColumns;"
           
            md-ripple>
    </md-row>
</md-table>
 <!-- [ngClass]="{'md-light-blue-50-bg':checkboxes[staff.staff_id]}" -->
 <md-paginator #paginator
                [length]="staffs.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
