<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType==='Laboratorist'">
            <md-cell *cdkCellDef="let blood_price">
                <md-checkbox [(ngModel)]="checkboxes[blood_price.id]" (ngModelChange)="onSelectedChange(blood_price.id)" (click)="$event.stopPropagation()">
                </md-checkbox>
            </md-cell>
        </div>

        <div *ngIf="localStorageType!=='Laboratorist'">
            <md-cell *cdkCellDef="let blood_price">
                <!-- <md-checkbox [(ngModel)]="checkboxes[blood_price.id]" (ngModelChange)="onSelectedChange(blood_price.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox> -->
            </md-cell>
        </div>
    </ng-container>


    <!-- Group Column -->
    <ng-container cdkColumnDef="amount">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Amount of Blood</md-header-cell>
        <md-cell *cdkCellDef="let blood_price" fxShow.gt-sm>
            <p class="email text-truncate">
                {{blood_price.amount}} Pint
            </p>
        </md-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="price">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Price per Pint</md-header-cell>
        <md-cell *cdkCellDef="let blood_price" fxShow.gt-sm>
            <p class="email text-truncate">
                {{blood_price.price}} 
            </p>
        </md-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let blood_price">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deleteblood_price(blood_price)">
                    <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <div *ngIf="localStorageType!=='Laboratorist'">
        <md-row *cdkRowDef="let blood_price; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[blood_price.blood_group_id]}"
            md-ripple>
        </md-row>
    </div>
    <div *ngIf="localStorageType==='Laboratorist'">
        <md-row *cdkRowDef="let blood_price; columns: displayedColumns;" (click)="editBlood_price(blood_price)" [ngClass]="{'md-light-blue-50-bg':checkboxes[blood_price.blood_group_id]}"
            md-ripple>
        </md-row>
    </div>
</md-table>

<md-paginator #paginator
                [length]="blood_prices.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button *ngIf="localStorageType" md-fab class="md-accent-bg" id="add-blood_price-button" (click)="newBlood_price($event)" aria-label="add blood_price"
    disabled>
    <md-icon>opacity</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType==='Laboratorist'" class="md-accent-bg" id="add-blood_price-button" (click)="newBlood_price($event)"
    aria-label="add blood_price">
    <md-icon>opacity</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->