<md-table #table [dataSource]="dataSource" mdSort>


     <!-- Type Column -->
    <ng-container cdkColumnDef="type">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Report Type</md-header-cell>
        <md-cell *cdkCellDef="let report"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.type}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Description</md-header-cell>
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.description}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Date Column -->
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Date</md-header-cell>
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.timestamp}}
            </p>
        </md-cell>

    </ng-container>

      <!-- Doctor Column -->
    <ng-container cdkColumnDef="doctor">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Doctor</md-header-cell>
        <md-cell *cdkCellDef="let report" fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.doctor_id}}
            </p>
        </md-cell>

    </ng-container>
  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let report">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-menu-item aria-label="remove">
                  <!-- <a [href]="url"> <md-icon>visibility</md-icon> -->
                
                </button>
            </div>
        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let report; columns: displayedColumns;"
            
            [ngClass]="{'md-light-blue-50-bg':checkboxes[report.report_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="reports.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

