 <form [formGroup]="allowanceForm">
 <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">attach_money</md-icon>
            <md-input-container fxFlex>
                <input type="number" [(ngModel)]="allowance" #passtext (keyup)="onChange(passtext.value)" name="allowance" formControlName="allowance" mdInput placeholder="Allowance">
            </md-input-container>
        </div>
 </form>