<form [formGroup]="deductionForm">
    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <md-icon class="mr-12 mt-12">money_off</md-icon>
        <md-input-container fxFlex>
            <input type="number" [(ngModel)]="deduction" #passtext (keyup)="onChange(passtext.value)" name="deduction" formControlName="deduction" mdInput placeholder="Deduction">
        </md-input-container>
    </div>
</form>