<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="payrollForm">

        <input type="hidden" [(ngModel)]="payroll.name_Id" name="name_Id" formControlName="name_Id" placeholder="Id">
        <input type="hidden" [(ngModel)]="payroll.saddress" name="saddress" formControlName="saddress" placeholder="Id">
        <input type="hidden" [(ngModel)]="payroll.snumber" name="snumber" formControlName="snumber" placeholder="Id">
        <input type="hidden" [(ngModel)]="payroll.semail" name="semail" formControlName="semail" placeholder="Id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">collections_bookmark</md-icon>
            <md-select [(ngModel)]="payroll.user_type" (ngModelChange)="click($event)" formControlName="user_type" fxFlex placeholder="User Type">
                <md-option *ngFor="let employee of employeess" [value]="employee">
                    {{employee}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person_add</md-icon>
            <md-select fxFlex formControlName="user_id" placeholder="Employee" [(ngModel)]="payroll.user_id">
                <md-option *ngFor="let name of namess" [value]="name.name" (click)="getUId(name)">
                    {{name.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="date" formControlName="date" [mdDatepicker]="birthdayDatePicker" placeholder="Date">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

        <div formArrayName="allowances">
            <div *ngFor="let allowance of payrollForm.controls.allowances.controls; let i=index">
                <!-- address header, show remove button when more than one address available -->
                <div>
                    <span *ngIf="payrollForm.controls.allowances.controls.length > 1" (click)="removeAllowance(i)">
                </span>
                </div>

                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div [formGroupName]="i">
                    <!--allowance-->
                    <allowance (passInput)="textData=$event" [group]="payrollForm.controls.allowances.controls[i]"></allowance>

                </div>
            </div>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">
            <button md-raised-button (click)="addAllowance()" class="save-button mat-accent">
        Add Allowances
    </button>&nbsp;
            <button md-raised-button *ngIf="trigger ==='show'" (click)="calcAllowance()" class="save-button mat-accent">
        Calculate Allowances
    </button>
            <button md-raised-button *ngIf="trigger !=='show'" (click)="calcAllowance2()" class="save-button mat-accent">
        Calculate Allowances
    </button>
        </div>

        <div formArrayName="deductions">
            <div *ngFor="let deduction of payrollForm.controls.deductions.controls; let i=index">
                <!-- address header, show remove button when more than one address available -->
                <div>
                    <span *ngIf="payrollForm.controls.deductions.controls.length > 1" (click)=" removeDeduction(i)">
                </span>
                </div>

                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div [formGroupName]="i">
                    <!--deduction-->
                    <deduction (passInput)="textData2=$event" [group]="payrollForm.controls.deductions.controls[i]"></deduction>

                </div>
            </div>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">
            <button md-raised-button (click)="addDeduction()" class="save-button mat-accent">
        Add Deductions
    </button>&nbsp;
            <button md-raised-button *ngIf="trigger ==='show'" (click)="calcDeduction()" class="save-button mat-accent">
        Calculate Deductions
    </button>
            <button md-raised-button *ngIf="trigger !=='show'" (click)="calcDeduction2()" class="save-button mat-accent">
        Calculate Deductions
    </button>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">attach_money</md-icon>
            <md-input-container fxFlex>
                <input type="number" mdInput (keyup)="getBasic($event)" name="basic" formControlName="basic_salary" placeholder="Basic Salary" [(ngModel)]="payroll.basic_salary">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">monetization_on</md-icon>
            <md-input-container fxFlex>
                <input mdInput [(ngModel)]="payroll.totalallowance" name="totalallowance" formControlName="totalallowance" placeholder="Total Allowance">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">money_off</md-icon>
            <md-input-container fxFlex>
                <input mdInput [(ngModel)]="payroll.totaldeduction" placeholder="Total Deduction" name="totaldeduction" formControlName="totaldeduction">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">monetization_on</md-icon>
            <md-input-container fxFlex>
                <input mdInput (ngModelChange)="getNetSalary($event)" placeholder="Net Salary" name="joining_salary" formControlName="joining_salary"
                    [(ngModel)]="payroll.joining_salary">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">bookmark</md-icon>
            <md-select formControlName="status" fxFlex placeholder="Status">
                <md-option *ngFor="let status of statuss" [value]="status">
                    {{status}}
                </md-option>
            </md-select>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(payrollForm)" class="save-button mat-accent" [disabled]="payrollForm.invalid"
        aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',payrollForm])" class="save-button mat-accent"
        [disabled]="payrollForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',payrollForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>