<div id="printArea">
    <div class="ml-8 mt-8" fxLayout="row" fxLayoutAlign="start">
        <img *ngIf="image" class="avatar" [src]="_DomSanitizer.bypassSecurityTrustUrl(image2)">
        <img *ngIf="!image" class="avatar" src="assets/images/avatars/profile.jpg">
        <span class="username mr-12 mt-4" fxShow.gt-md><h3><strong>{{patientName}} {{patientFirstname}}</strong></h3></span>
    </div>
    <div class="ml-8">
        <h4><span class="font-weight-600">Address :</span>  {{ patientAddress}} <span fxLayoutAlign="end" fxFlex>
             <button class="print2 mr-8" color="warn" title="consultancy" md-raised-button (click)="navConfigure()">CONFIGURE RECORDS</button></span></h4>
    </div>
    <div class="ml-8">
            <h4><span class="font-weight-600">Date Of Booking: </span>  {{ patientDatebooking}} 
         <span fxLayoutAlign="end" fxFlex> <button class="print mr-8" color="warn" title="Print" md-mini-fab (click)="printanterecord()"><md-icon class="white">print</md-icon></button>
    </span> </h4>
    </div>
   
    <form margin-top (ngSubmit)="submit()">
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Precious Medical History</p>

        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8 hide" *ngFor="let gen of pmh;let i = index">


            <md-checkbox (ngModelChange)="click($event)" class="mr-20 hide" *ngIf="gen.type=='checkbox'" mdInput [(ngModel)]="anterecord[gen.name]"
                name="gen.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>

            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{gen.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{anterecord[gen.name]}} </span>

            <md-input-container *ngIf="gen.type=='input'" fxFlex>
                <input class="hide ml-40" [(ngModel)]="anterecord[gen.name]" name="gen.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="gen.type=='text'" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="anterecord[gen.name]" name="gen.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="gen.type=='date'" fxFlex>
                <button mdSuffix class="hide color-transparent" [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" [(ngModel)]="anterecord[gen.name]" name="gen.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>

        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Child Births</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let medhis of childBirths;let i = index">
            <md-checkbox class="mr-20 hide" *ngIf="medhis.type=='checkbox'" [(ngModel)]="anterecord[medhis.name]" name="medhis.{{i}}.name"
                fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medhis.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{anterecord[medhis.name]}} </span>

            <md-input-container *ngIf="medhis.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="anterecord[medhis.name]" name="medhis.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="medhis.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="anterecord[medhis.name]" name="medhis.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="medhis.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button mdSuffix class="hide" [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="anterecord[medhis.name]" name="medhis.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>


        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Immunization</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let sochis of immunization;let i = index">
            <md-checkbox class="mr-20" *ngIf="sochis.type=='checkbox'" [(ngModel)]="anterecord[sochis.name]" name="sochis.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sochis.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{anterecord[sochis.name]}} </span>

            <md-input-container *ngIf="sochis.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="anterecord[sochis.name]" name="sochis.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="sochis.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="anterecord[sochis.name]" name="sochis.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="sochis.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="anterecord[sochis.name]" name="sochis.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>


        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Primary Assessment(History of Present Pregnancy)</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let medcond of primaryasses;let i = index">
            <md-checkbox class="mr-20" *ngIf="medcond.type=='checkbox'" [(ngModel)]="anterecord[medcond.name]" name="medcond.{{i}}.name"
                fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medcond.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{anterecord[medcond.name]}} </span>

            <md-input-container *ngIf="medcond.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="anterecord[medcond.name]" name="medcond.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="medcond.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="anterecord[medcond.name]" name="medcond.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="medcond.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="anterecord[medcond.name]" name="medcond.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>

        </md-card>

        <div fxLayout="row" fxLayoutAlign="center center">
            <button md-raised-button type="submit" class="save-button mat-accent facebook hide" aria-label="SAVE">
        SAVE
    </button>
        </div>
    </form>
</div>
<!-- ADD CONTACT BUTTON -->
<!-- <button md-fab class="md-accent-bg" id="add-anterecord-button" (click)="newanterecord($event)" aria-label="add anterecord">
    <md-icon>add</md-icon>
</button> -->
<!-- / ADD CONTACT BUTTON -->