<md-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let message">
            <md-checkbox [(ngModel)]="checkboxes[message.id]" (ngModelChange)="onSelectedChange(message.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Busname Column -->
    <ng-container cdkColumnDef="message">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>message Name</md-header-cell>
        <md-cell *cdkCellDef="let message" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{message.title}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let message">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletemessage(message)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let message; columns: displayedColumns;"
            (click)="editMessage(message)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[message.message_id]}"
            md-ripple>
    </md-row>
</md-table>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-message-button" (click)="newMessage($event)" aria-label="add message">
    <md-icon>business</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
