<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType==='Nurse'">
        <md-cell *cdkCellDef="let report">
            <md-checkbox [(ngModel)]="checkboxes[report.id]" (ngModelChange)="onSelectedChange(report.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
        </div>

        <div *ngIf="localStorageType!=='Nurse'">
        <md-cell *cdkCellDef="let report">
           <!--  <md-checkbox [(ngModel)]="checkboxes[report.id]" (ngModelChange)="onSelectedChange(report.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox> -->
        </md-cell>
        </div>
    </ng-container>

    <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Description</md-header-cell>
         <div *ngIf="localStorageType==='Nurse'">
        <md-cell *cdkCellDef="let report"  fxShow.gt-sm>
            <p class="email text-truncate" (click)="editReport(report)">
                {{report.description}}
            </p>
        </md-cell>
         </div>

          <div *ngIf="localStorageType!=='Nurse'">
        <md-cell *cdkCellDef="let report" fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.description}}
            </p>
        </md-cell>
         </div>
    </ng-container>

      <!-- Date Column -->
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Date</md-header-cell>
        <div *ngIf="localStorageType==='Nurse'">
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm>
            <p class="email text-truncate" (click)="editReport(report)">
                {{report.timestamp}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType!=='Nurse'">
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.timestamp}}
            </p>
        </md-cell>
        </div>
    </ng-container>

      <!-- Patient Column -->
    <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Patient</md-header-cell>
        <div *ngIf="localStorageType==='Nurse'">
        <md-cell *cdkCellDef="let report"  fxShow.gt-sm>
            <p class="email text-truncate" (click)="editReport(report)">
                {{report.patient_id}}
            </p>
        </md-cell>
        </div>

          <div *ngIf="localStorageType!=='Nurse'">
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.patient_id}}
            </p>
        </md-cell>
        </div>
    </ng-container>

      <!-- Doctor Column -->
    <ng-container cdkColumnDef="doctor">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Doctor</md-header-cell>
        <div *ngIf="localStorageType==='Nurse'">
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm>
            <p class="email text-truncate" (click)="editReport(report)">
                {{report.doctor_id}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType!=='Nurse'">
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.doctor_id}}
            </p>
        </md-cell>
        </div>
    </ng-container>

     <!-- Files Column -->
    <ng-container cdkColumnDef="files">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>File Name</md-header-cell>
        <div *ngIf="localStorageType==='Nurse'">
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm (click)="editReport(report)">
            <p class="email text-truncate">
                {{report.document_name}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType!=='Nurse'">
        <md-cell *cdkCellDef="let report" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{report.document_name}}
            </p>
        </md-cell>
        </div>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let report">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-menu-item aria-label="remove">
                  <!-- <a [href]="url"> <md-icon>visibility</md-icon> -->
                
                </button>
            </div>
        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let report; columns: displayedColumns;"
            
            [ngClass]="{'md-light-blue-50-bg':checkboxes[report.report_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="reports.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType!=='Nurse'" class="md-accent-bg" id="add-report-button" (click)="newReport($event)" aria-label="add report" disabled>
    <md-icon>assessment</md-icon>
</button>

<button md-fab *ngIf="localStorageType==='Nurse'" class="md-accent-bg" id="add-report-button" (click)="newReport($event)" aria-label="add report">
    <md-icon>assessment</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
