<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="blood_donorForm">

        <input type ="hidden"  [(ngModel)]="bloodId" name="blood_bank" formControlName="blood_bank" placeholder="Id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-input-container fxFlex>
                <input name="name" formControlName="name" mdInput placeholder="Name">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">mail</md-icon>
            <md-input-container fxFlex>
                <input name="email" formControlName="email" mdInput placeholder="Email">
            </md-input-container>
        </div>

        <div>
            <md-icon class="mr-12 mt-12">domain</md-icon>
            <md-input-container>
                <textarea mdInput name="address" formControlName="address" placeholder="Address" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">phone</md-icon>
            <md-input-container fxFlex>
                <input name="phone" formControlName="phone" mdInput placeholder="Phone Number">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">account_circle</md-icon>
            <md-select formControlName="sex" fxFlex placeholder="Sex">
                <md-option *ngFor="let sex of sexss" [value]="sex">
                    {{sex}}
                </md-option>
            </md-select>
        </div>


        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">filter_1</md-icon>
            <md-input-container fxFlex>
                <input name="age" formControlName="age" mdInput placeholder="Age">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">opacity</md-icon>
            <md-select formControlName="blood_group" fxFlex placeholder="Select Blood Group">
                <md-option *ngFor="let blood_bank of blood_bankss" [value]="blood_bank.blood_group" (click)="getBId(blood_bank)">
                    {{blood_bank.blood_group}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="last_donation_timestamp" formControlName="last_donation_timestamp" [mdDatepicker]="birthdayDatePicker" placeholder="Donation Date">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">opacity</md-icon>
            <md-input-container fxFlex>
                <input type="number" name="blood_donated" formControlName="blood_donated" mdInput placeholder="Amount of Blood Donated">
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(blood_donorForm)" class="save-button mat-accent"
        [disabled]="blood_donorForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',blood_donorForm])" class="save-button mat-accent"
        [disabled]="blood_donorForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',blood_donorForm])"
        aria-label="Delete" md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>