<div id="forgot-password" fxLayout="column" perfect-scrollbar>

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form">

            <div class="logo">
                <span>F</span>
            </div>

            <div class="title">CREATE ACCOUNT FOR ADMIN</div>

            <form name="createAccountForm" [formGroup]="createAccountForm" novalidate>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">library_books</md-icon>
                    <md-select formControlName="department_id" fxFlex placeholder="Departments">
                        <md-option *ngFor="let department of departmentss" [value]="department.name">
                            {{department.name}}
                        </md-option>
                    </md-select>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">group</md-icon>
                    <md-select formControlName="usertype" fxFlex placeholder="Users">
                        <md-option *ngFor="let userType of userTypes" [value]="userType">
                            {{userType}}
                        </md-option>
                    </md-select>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">person</md-icon>
                    <md-input-container fxFlex>
                        <input name="name" formControlName="name" mdInput placeholder="Staff Name">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">mail</md-icon>
                    <md-input-container fxFlex>
                        <input name="email" formControlName="email" mdInput placeholder="Staff Email">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">enhanced_encryption</md-icon>
                    <md-input-container fxFlex>
                        <input type="password" name="password" formControlName="password" mdInput placeholder="Enter Password">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">domain</md-icon>
                    <md-input-container fxFlex>
                        <input name="address" formControlName="address" mdInput placeholder="Enter Address">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">phone</md-icon>
                    <md-input-container fxFlex>
                        <input name="phone" formControlName="phone" mdInput placeholder="Enter Phone">
                    </md-input-container>
                </div>


                <!-- ADD FILE BUTTON -->
                <div class="file-uploader">
                    <input hidden name="files" type="file" id="fileupload" #fileInput required/>
                    <button md-fab class="add-file-button mat-warn" (click)="fileInput.click()" aria-label="Add file">
                        <md-icon>create_new_folder</md-icon>
                    </button>
                </div>
                <!-- / ADD FILE BUTTON -->
                <div id="img3">

                </div>

                <button (click)="revealPassword()" md-raised-button class="submit-button" color="accent" aria-label="SUBMIT" [disabled]="createAccountForm.invalid">
                    SUBMIT
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <button (click)="navLP()"> <a class="link">Go back to login</a></button>
            </div>

        </div>

    </div>

</div>