<div id="invoice" class="compact page-layout blank" fxLayout="row" perfect-scrollbar>

    <div class="invoice-container">

        <!-- INVOICE -->
        <div>
            <div>
                <div class="card" id="printArea">
                    <div class="header">
                        <div class="invoice-date ">{{payrollDate}}</div>
                        <br/>


                        <div fxLayout="row" fxLayoutAlign="space-between stretch">
                            <div class="client">
                                <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title">PAYROLL RECEIPT:</span>
                                    <span class="number">{{payrollNumber}}</span>

                                </div>

                                <div class="invoice-title" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title">SALARY FOR THE MONTH:</span>
                                    <span class="invoice-name">{{payrollMonth}}</span>

                                </div>

                                <div class="due-date" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title">STAFF ROLE:</span>
                                    <span class="date">{{userType}}</span>
                                </div>
                                <div class="info">

                                    <div class="title">
                                        {{staffName}}
                                    </div>
                                    <div class="address">
                                        {{staffAddress}}
                                    </div>
                                    <div class="phone">
                                        {{staffNumber}}
                                    </div>
                                    <div class="email">
                                        {{staffEmail}}
                                    </div>
                                </div>
                            </div>


                            <div class="issuer md-accent-bg" fxLayout="row">
                                <div class="logo" fxLayout="row">
                                    <span><md-icon id="co-size"> local_pharmacy </md-icon></span>
                                </div>

                                <div class="info">
                                    <div class="title">{{hospitalName}}</div>
                                    <div class="address">{{hospitalAddress}}</div>
                                    <div class="phone">{{hospitalPhone}}</div>
                                    <div class="email">{{hospitalEmail}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <table class="simple invoice-table">
                            <thead>
                                <tr>
                                    <th>SALARIES</th>
                                    <th class="text-right">ALLOWANCES</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let allowance of allowancess">

                                    <td>
                                        Bonus Allowances
                                    </td>

                                    <td class="text-right">
                                        {{displayCurrencys}} {{allowance.allowance}}
                                    </td>
                                </tr>

                                <tr *ngFor="let deduction of deductionss">

                                    <td>
                                        Deductions
                                    </td>

                                    <td class="text-right">
                                        {{displayCurrencys}} {{deduction.deduction}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="simple invoice-table-footer">
                            <tbody>
                                <tr class="subtotal">
                                    <td>BASIC SALARY</td>
                                    <td class="alignright">{{displayCurrencys}} {{basicSalary}} </td>
                                </tr>
                                <!-- <tr class="tax">
                                    <td>VAT PERCENTAGE</td>
                                    <td class="alignright">{{displayCurrencys}} {{vat}}%</td>
                                </tr> -->
                                <!-- <tr class="discount">
                                    <td class="line">DISCOUNT</td>
                                    <td id="alignright" class="line">{{displayCurrencys}} {{discount}} </td>
                                </tr> -->
                                <tr class="total">
                                    <td class="mytotal">TOTAL</td>
                                    <td class="alignright">{{displayCurrencys}} {{subTotal}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                   <!--  <div class="footer">
                        <div class="note">Please pay before due date. Thank you for your business.</div>

                        <div fxLayout="row" fxLayoutAlign="start start">

                        </div>
                    </div> -->
                </div>

            </div>
            <br/>
            <button md-raised-button (click)="print()" class="save-button mat-accent">
                     PRINT
                    </button>
        </div>
        <br/>
        <!-- / INVOICE -->

        <!-- Use the following element to add breaks to your pages -->
        <!-- This will make sure that the section after this element will be printed on a new page -->
        <div class="page-break"></div>

    </div>
</div>