
<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <div *ngIf="localStorageType!=='Admin'">
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let medicine">
            <md-checkbox [(ngModel)]="checkboxes[medicine.id]" (ngModelChange)="onSelectedChange(medicine.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>
    </div>

     <div *ngIf="localStorageType==='Admin'">
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let medicine">
            <!-- <md-checkbox [(ngModel)]="checkboxes[medicine.id]" (ngModelChange)="onSelectedChange(medicine.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox> -->
        </md-cell>
    </ng-container>
    </div>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let medicine"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{medicine.name}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Category Column -->
    <ng-container cdkColumnDef="category">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Medicine<br>Category</md-header-cell>
        <md-cell *cdkCellDef="let medicine" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{medicine.medicine_category_id}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Description</md-header-cell>
        <md-cell *cdkCellDef="let medicine" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{medicine.description}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Price Column -->
    <ng-container cdkColumnDef="price">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Price</md-header-cell>
        <md-cell *cdkCellDef="let medicine"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{medicine.price}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Total Column -->
    <ng-container cdkColumnDef="total">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Total<br>Quantity</md-header-cell>
        <md-cell *cdkCellDef="let medicine" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{medicine.total_quantity}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Sold Column -->
    <ng-container cdkColumnDef="sold">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Sold<br>Quantity</md-header-cell>
        <md-cell *cdkCellDef="let medicine" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{medicine.sold_quantity}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Company Column -->
    <ng-container cdkColumnDef="company">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Manufacturing<br>Company</md-header-cell>
        <md-cell *cdkCellDef="let medicine" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{medicine.manufacturing_company}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let medicine">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletemedicine(medicine)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <div *ngIf="localStorageType!=='Admin'">
    <md-row *cdkRowDef="let medicine; columns: displayedColumns;"
            (click)="editMedicine(medicine)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[medicine.medicine_id]}"
            md-ripple>
    </md-row>
        </div>

         <div *ngIf="localStorageType==='Admin'">
    <md-row *cdkRowDef="let medicine; columns: displayedColumns;"

            [ngClass]="{'md-light-blue-50-bg':checkboxes[medicine.medicine_id]}"
            md-ripple>
    </md-row>
        </div>
</md-table>

<md-paginator #paginator
                [length]="medicines.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType!=='Admin'" class="md-accent-bg" id="add-medicine-button" (click)="newMedicine($event)" aria-label="add medicine">
    <md-icon>local_pharmacy</md-icon>
</button>

<button md-fab *ngIf="localStorageType==='Admin'" class="md-accent-bg" id="add-medicine-button" (click)="newMedicine($event)" aria-label="add medicine" disabled>
    <md-icon>local_pharmacy</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
