<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let note">
            <md-checkbox [(ngModel)]="checkboxes[note.id]" (ngModelChange)="onSelectedChange(note.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Busname Column -->
    <ng-container cdkColumnDef="note">
        <md-header-cell *cdkHeaderCellDef md-sort-header  fxShow.gt-sm>note Name</md-header-cell>
        <md-cell *cdkCellDef="let note"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{note.title}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let note">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletenote(note)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let note; columns: displayedColumns;"
            (click)="editNote(note)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[note.note_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="notes.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-note-button" (click)="newNote($event)" aria-label="add note">
    <md-icon>business</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
