<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    HAEMATOLOGY AND BLOOD BANKING</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of haematology">
    <span>{{record.name}} <button md-button color="accent" class="color-transparent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    WBC DIFFERENTIAL</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of wbc">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    BLOOD CROSS MATCHING</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of bloodCross">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    SEROLOGY TEST</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of serology">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    RETROVIRAL SCREENING</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of retroviral">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    VDRL</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of vdrl">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    HBSAg</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of hbsag">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    HCV</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of hcv">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    MALARIA PARASITE</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of malaria">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    ABO BLOOD GROUP</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of abo">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    HAEMOGLOGIN GENOTYPE</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of genotype">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    SICKLING TEST</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of sickling">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    BLOOD MICROFILARIA</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of bloodm">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    PREGNANCY TEST(Urine/Serum)</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of pTest">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    MICROBIOLOGY TEST</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of microTest">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    URINALYSIS</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of urinalysis">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    MICROSCOPY</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of microscopy">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    ANTIBIOTIC SEMSITIVITY</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of antibiotic">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    SEMICAL FLUID ANALYSIS</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of semical">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    CHEMICAL PATHOLOGY GENERAL</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of pathology">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="center" fxFlex>{{record.normalvalue}}</span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deletelabtest(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editlabtest(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-labtest-button" (click)="newlabtest($event)" aria-label="add labtest">
    <md-icon>add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->