<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let consultancy">
            <md-checkbox [(ngModel)]="checkboxes[consultancy.id]" (ngModelChange)="onSelectedChange(consultancy.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Complaint Column -->
    <ng-container cdkColumnDef="complaint">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Complaint/Observation</md-header-cell>
        <md-cell *cdkCellDef="let consultancy" fxShow.gt-sm>
            <p class="email text-truncate">
                {{consultancy.observations.slice(0,30)}}.....
            </p>
        </md-cell>
    </ng-container>

     <!-- Treatment Column -->
    <ng-container cdkColumnDef="treatment">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Treatment</md-header-cell>
        <md-cell *cdkCellDef="let consultancy"  fxShow.gt-md>
            <p class="email text-truncate">
                {{consultancy.treatments.slice(0,30)}}.....
            </p>
        </md-cell>
    </ng-container>

     <!-- Plan Column -->
    <ng-container cdkColumnDef="plan">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Plan</md-header-cell>
        <md-cell *cdkCellDef="let consultancy" fxShow.gt-md>
            <p class="email text-truncate">
                {{consultancy.plans}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Date Column -->
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-sm>Date</md-header-cell>
        <md-cell *cdkCellDef="let consultancy" fxShow.gt-sm>
            <p class="email text-truncate">
                {{consultancy.date}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let consultancy">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deleteconsultancy(consultancy)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let consultancy; columns: displayedColumns;"
            (click)="editConsultancy(consultancy)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[consultancy.consultancy_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="consultancys.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-consultancy-button" (click)="newConsultancy($event)" aria-label="add consultancy">
    <md-icon>library_add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
