
<div id="invoice" class="compact page-layout blank" fxLayout="row" perfect-scrollbar>

    <div class="invoice-container">

        <!-- INVOICE -->
        <div>
            <div>
                <div class="card" id="printArea">
                    <div class="header">
                        <div class="invoice-date ">{{invoiceDate}}</div>
                        <br/>

                        <div fxLayout="row" fxLayoutAlign="space-between stretch">
                            <div class="client">
                                <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title invoice-data">INVOICE:</span>
                                    <span class="number invoice-data">{{invoiceNumber}}</span>

                                </div>

                                <div class="invoice-title" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title invoice-data">SERVICE:</span>
                                    <span class="invoice-name invoice-data">{{productName}}</span>

                                </div>

                                <div class="due-date" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title invoice-data">DUE DATE:</span>
                                    <span class="date invoice-data">{{invoiceDueDate}}</span>
                                </div>
                                <div class="invoice-data4">

                                    <div class="title invoice-data4">
                                        {{patientName}}
                                    </div>
                                    <div class="address invoice-data4">
                                        {{patientAddress}}
                                    </div>
                                    <div class="phone invoice-data4">
                                        {{patientNumber}}
                                    </div>
                                    <div class="email invoice-data4">
                                        {{patientEmail}}
                                    </div>
                                </div>
                            </div>


                            <div class="issuer md-accent-bg" fxLayout="row">
                                <div class="logo" fxLayout="row">
                                    <span><md-icon id="co-size"> local_pharmacy </md-icon></span>
                                </div>

                                <div class="info invoice-data4">
                                    <div class="title invoice-data4">{{hospitalName}}</div>
                                    <div class="address invoice-data4">{{hospitalAddress}}</div>
                                    <div class="phone invoice-data4">{{hospitalPhone}}</div>
                                    <div class="email invoice-data4">{{hospitalEmail}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content  invoice-data9">
                        <table class="simple invoice-table">
                            <thead>
                                <tr>
                                    <th class="invoice-data5">UNIT</th>
                                    <th class="text-right invoice-data6">UNIT PRICE</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let unit of unitss">

                                    <td class="invoice-data7">
                                        {{unit.entry}}
                                    </td>

                                    <td class="text-right invoice-data8">
                                        {{displayCurrencys}} {{unit.amount}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="simple invoice-table-footer">
                            <tbody>
                                <tr class="subtotal">
                                    <td class="invoice-data7">SUBTOTAL</td>
                                    <td class="alignright invoice-data8">{{displayCurrencys}} {{subTotal}} </td>
                                </tr>
                                <tr class="tax">
                                    <td class="invoice-data7">VAT PERCENTAGE</td>
                                    <td class="alignright invoice-data8">{{displayCurrencys}} {{vat}}%</td>
                                </tr>
                                <tr class="discount">
                                    <td class="line invoice-data7">DISCOUNT</td>
                                    <td id="alignright" class="line invoice-data8">{{displayCurrencys}} {{discount}} </td>
                                </tr>
                                <tr class="total">
                                    <td class="mytotal invoice-data7">TOTAL</td>
                                    <td class="alignright invoice-data8">{{displayCurrencys}} {{total}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="footer  invoice-data4">
                        <div class="note">Please pay before due date. Thank you for your business.</div>

                        <div fxLayout="row" fxLayoutAlign="start start">




                        </div>
                    </div>
                </div>

            </div>
            <br/>
            <button md-raised-button (click)="print()" class="save-button mat-accent">
                     PRINT
                    </button>
        </div>
        <br/>
        <!-- / INVOICE -->

        <!-- Use the following element to add breaks to your pages -->
        <!-- This will make sure that the section after this element will be printed on a new page -->
        <div class="page-break"></div>

    </div>
</div>