<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell *cdkCellDef="let antenatal">
                <md-checkbox [(ngModel)]="checkboxes[antenatal.id]" (ngModelChange)="onSelectedChange(antenatal.id)" (click)="$event.stopPropagation()">
                </md-checkbox>
            </md-cell>
        </div>

        <div *ngIf="localStorageType=='Doctor'">
            <md-cell *cdkCellDef="let antenatal">
                <!--  <md-checkbox [(ngModel)]="checkboxes[antenatal.id]" (ngModelChange)="onSelectedChange(antenatal.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox> -->
            </md-cell>
        </div>
    </ng-container>

    <!-- Surname Column -->
    <ng-container cdkColumnDef="surname">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-md>Surname</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxShow.gt-md>
                <p class="email text-truncate">
                    {{antenatal.surname}}
                </p>
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
            <md-cell *cdkCellDef="let antenatal" fxShow.gt-md>
                <p class="email text-truncate">
                    {{antenatal.surname}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container cdkColumnDef="firstname">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>First Name</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{antenatal.firstname}}
                </p>
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
            <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{antenatal.firstname}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- xrayno Column -->
    <ng-container cdkColumnDef="xrayno">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>X-ray no</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{antenatal.xrayno}}
                </p>
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
            <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{antenatal.xrayno}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Unitno Column -->
    <ng-container cdkColumnDef="unitno">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Unit No</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{antenatal.unitno}}
            </p>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{antenatal.unitno}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- specialpoints Column -->
    <ng-container cdkColumnDef="specialpoints">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Special Points</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxShow.gt-md>
            <p class="email text-truncate">
                {{antenatal.specialpoints}}
            </p>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxShow.gt-md>
            <p class="email text-truncate">
                {{antenatal.specialpoints}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- consultant Column -->
    <ng-container cdkColumnDef="consultant">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Consultant</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.consultant}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.consultant}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- dateofbooking Column -->
    <ng-container cdkColumnDef="dateofbooking">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-sm>Date of Booking</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{antenatal.dateofbooking}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxShow.gt-sm>
            <p class="email text-truncate">
                {{antenatal.dateofbooking}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- indicationbook Column -->
    <ng-container cdkColumnDef="indicationbook">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Indication for Booking</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxShow.gt-sm>
            <p class="email text-truncate">
                {{antenatal.indicationbook}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{antenatal.indicationbook}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- lmp Column -->
    <ng-container cdkColumnDef="lmp">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>L.M.P</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.lmp}}
            </p>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.lmp}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- edd Column -->
    <ng-container cdkColumnDef="edd">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>ED.D</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.edd}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.edd}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    
    <!-- egabooking Column -->
    <ng-container cdkColumnDef="egabooking">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>EGA at Booking</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.egabooking}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.egabooking}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    <!-- address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Address</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.address}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.address}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    <!-- age Column -->
    <ng-container cdkColumnDef="age">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Age</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.age}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.age}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    <!-- occupation Column -->
    <ng-container cdkColumnDef="occupation">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Occupation</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.occupation}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.occupation}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    <!-- speakenglish Column -->
    <ng-container cdkColumnDef="speakenglish">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Speak English</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.speakenglish}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.speakenglish}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    <!-- literate Column -->
    <ng-container cdkColumnDef="literate">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Literate</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.literate}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.literate}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    <!-- husbandname Column -->
    <ng-container cdkColumnDef="husbandname">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Husband Name</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.husbandname}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.husbandname}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    <!-- husbandoccupation Column -->
    <ng-container cdkColumnDef="husbandoccupation">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Husband Occupation</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.husbandoccupation}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.husbandoccupation}}
            </p>
        </md-cell>
        </div>
    </ng-container>
    <!-- husbandemployer Column -->
    <ng-container cdkColumnDef="husbandemployer">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Husband Employer</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editantenatal(antenatal)" *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.husbandemployer}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let antenatal" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{antenatal.husbandemployer}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let antenatal">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-raised-button small color="accent" aria-label="records" (click)="antenatalrecords(antenatal)">
                    <div class="align-text">ATENATAL</div>
                </button>
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <div *ngIf="localStorageType!=='Doctor'">
        <md-row *cdkRowDef="let antenatal; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[antenatal.antenatal_id]}"
            md-ripple>
        </md-row>
    </div>

    <div *ngIf="localStorageType==='Doctor'">
        <md-row *cdkRowDef="let antenatal; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[antenatal.antenatal_id]}" md-ripple>
        </md-row>
    </div>
</md-table>

<md-paginator #paginator
                [length]="antenatals.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button *ngIf="localStorageType!=='Doctor'" md-fab class="md-accent-bg" id="add-antenatal-button" (click)="newantenatal($event)"
    aria-label="add antenatal">
    <md-icon>local_hotel</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button *ngIf="localStorageType==='Doctor'" md-fab class="md-accent-bg" id="add-antenatal-button" (click)="newantenatal($event)"
    aria-label="add antenatal" disabled>
    <md-icon>local_hotel</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->