<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button"
                (click)="dialogRef.close()"
                aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="bedForm">

       <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">filter_1</md-icon>
            <md-input-container fxFlex>
                <input name="bed_number" formControlName="bed_number" mdInput placeholder="Bed Number">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">local_hotel</md-icon>
            <md-input-container fxFlex>
                <input name="type" formControlName="type" mdInput placeholder="Bed Type">
            </md-input-container>
        </div>

          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">add_circle</md-icon>
            <md-select formControlName="status"  fxFlex placeholder="Bed Status">
                <md-option *ngFor="let status of statuss" [value]="status">
                    {{status}}
                </md-option>
            </md-select>
        </div>

        <div>
            <md-icon class="mr-12 mt-12">note</md-icon>
            <md-input-container>
                <textarea mdInput name="description" formControlName="description" placeholder="Description" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
            </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'"
            md-raised-button
            (click)="dialogRef.close(bedForm)"
            class="save-button mat-accent"
            [disabled]="bedForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-raised-button
            (click)="dialogRef.close(['save',bedForm])"
            class="save-button mat-accent"
            [disabled]="bedForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-button
            class="mat-icon-button"
            (click)="dialogRef.close(['delete',bedForm])"
            aria-label="Delete"
            md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>
