<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let bed">
            <md-checkbox [(ngModel)]="checkboxes[bed.id]" (ngModelChange)="onSelectedChange(bed.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>


    <!-- Busnumber Column -->
    <ng-container cdkColumnDef="number">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-sm>Bed Number</md-header-cell>
        <md-cell *cdkCellDef="let bed" (click)="editBed(bed)"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{bed.bed_number}}
            </p>
        </md-cell>
    </ng-container>

     <!-- type Column -->
    <ng-container cdkColumnDef="type">
        <md-header-cell md-sort-header md-sort-header *cdkHeaderCellDef fxHide fxShow.gt-sm>Bed Type</md-header-cell>
        <md-cell *cdkCellDef="let bed" (click)="editBed(bed)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{bed.type}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Description</md-header-cell>
        <md-cell *cdkCellDef="let bed" (click)="editBed(bed)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{bed.description}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Status Column -->
    <ng-container cdkColumnDef="status">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-sm>Status</md-header-cell>
        <md-cell *cdkCellDef="let bed" (click)="editBed(bed)" fxShow.gt-sm>
            <p class="email text-truncate">
                {{bed.status}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let bed">
            <div fxFlex="row" fxLayoutAlign="end center">
               <!-- <button md-menu-item aria-label="remove" (click)="deletebed(bed)">
                    <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let bed; columns: displayedColumns;"
            
            [ngClass]="{'md-light-blue-50-bg':checkboxes[bed.bed_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="beds.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-bed-button" (click)="newBed($event)" aria-label="add bed">
    <md-icon>airline_seat_individual_suite</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
