<div fxLayout="row" fxLayoutAlign="start center">

    <md-checkbox [(ngModel)]="selected" (ngModelChange)="onSelectedChange()" (click)="$event.stopPropagation();"></md-checkbox>

    <div class="info" fxFlex FlexLayout="column">

        <div class="name" fxLayout="row" fxLayoutAlign="start center">

            <img class="avatar" *ngIf="img" alt="{{message.from?.name}}" src="{{img}}"/>

           <div class="avatar" *ngIf="!img">{{message.from[0]}}</div>

            <span class="text-truncate" *ngIf="message?.from">{{message.from}}</span>

            <md-icon *ngIf="message.hasAttachments">attachment</md-icon>
        </div>

        <div class="subject text-truncate">
            {{message.subject}}
        </div>

        <div class="message text-truncate" *ngIf="message?.message">

            {{message.message | htmlToPlaintext | slice:0:180}}{{message.message.length > 180 ? '...' : ''}}
        </div>

        <div class="labels" fxLayout="row" fxLayoutWrap>
            <div class="label" *ngFor="let labelId of message.labels"
                 fxLayout="row" fxLayoutAlign="start center">
                <div class="label-color" [ngStyle]="{'background-color': labels | getById:labelId:'color'}"></div>
                <div class="label-title">{{labels | getById:labelId:'title'}}</div>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between end">

        <div class="time">{{message.time}}</div>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">
            <button md-button class="mat-icon-button" (click)="toggleStar($event)" aria-label="Toggle star">
                <md-icon *ngIf="message.starred">star</md-icon>
                <md-icon *ngIf="!message.starred">star_outline</md-icon>
            </button>

            <button md-button class="mat-icon-button" (click)="toggleImportant($event)" aria-label="Toggle important">
                <md-icon *ngIf="message.important">label</md-icon>
                <md-icon *ngIf="!message.important">label_outline</md-icon>
            </button>
        </div>
    </div>
</div>
