<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>
    <form [formGroup]="paymentForm">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">call_to_action</md-icon>
            <md-input-container fxFlex>
                <input name="type" formControlName="type" mdInput placeholder="Payment Type">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="title" formControlName="title" mdInput placeholder="Title">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">monetization_on</md-icon>
            <md-input-container fxFlex>
                <input name="amount" formControlName="amount" mdInput placeholder="Amount">
            </md-input-container>
        </div>

        <div>
            <md-icon class="mr-12 mt-12">note</md-icon>
            <md-input-container>
                <textarea mdInput name="description" formControlName="description" placeholder="Description" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
            </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">branding_watermark</md-icon>
                    <md-input-container fxFlex>
                        <input name="payment_method" formControlName="payment_method" mdInput placeholder="Payment Method">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">chrome_reader_mode</md-icon>
                    <md-input-container fxFlex>
                        <input name="invoice_number" formControlName="invoice_number" mdInput placeholder="Invoice Number">
                    </md-input-container>
                </div>

                 <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="timestamp" formControlName="timestamp" [mdDatepicker]="birthdayDatePicker" placeholder="Date">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>


    </form>

    </div>

    <div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(paymentForm)" class="save-button mat-accent" [disabled]="paymentForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

        <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',paymentForm])" class="save-button mat-accent"
            [disabled]="paymentForm.invalid" aria-label="SAVE">
        SAVE
    </button>

        <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',paymentForm])" aria-label="Delete"
            md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

    </div>