<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let expense">
            <md-checkbox [(ngModel)]="checkboxes[expense.id]" (ngModelChange)="onSelectedChange(expense.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>


    <!-- title Column -->
    <ng-container cdkColumnDef="title">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Title</md-header-cell>
        <md-cell *cdkCellDef="let expense" (click)="editExpense(expense)"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{expense.title}}
            </p>
        </md-cell>
    </ng-container>

     <!-- description Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Description</md-header-cell>
        <md-cell *cdkCellDef="let expense" (click)="editExpense(expense)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{expense.description}}
            </p>
        </md-cell>
    </ng-container>

     <!-- amount Column -->
    <ng-container cdkColumnDef="amount">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Amount</md-header-cell>
        <md-cell *cdkCellDef="let expense" (click)="editExpense(expense)"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{expense.amount}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Status Column -->
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Date</md-header-cell>
        <md-cell *cdkCellDef="let expense" (click)="editExpense(expense)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{expense.date}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let expense">
            <div fxFlex="row" fxLayoutAlign="end center">
               <!-- <button md-menu-item aria-label="remove" (click)="deleteexpense(expense)">
                    <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let expense; columns: displayedColumns;"
            
            [ngClass]="{'md-light-blue-50-bg':checkboxes[expense.expense_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="expenses.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-expense-button" (click)="newExpense($event)" aria-label="add expense">
    <md-icon>monetization_on</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
