:host {
    display: flex;
    flex-direction: column;
}

.mail-compose-dialog {
    .mat-dialog-container {
        padding: 0;
        width: 720px;

        .attachment-list {
            font-size: 13px;
            padding-top: 16px;

            .attachment {
                background-color: rgba(0, 0, 0, 0.08);
                border: 1px solid rgba(0, 0, 0, 0.16);
                padding-left: 16px;
                margin-top: 8px;
                border-radius: 2px;

                .filename {
                    font-weight: 500;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
