<md-toolbar id="receipt-head" md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span id="title" class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div id="printable" md-dialog-content class="p-24 m-0 " perfect-scrollbar>


    <div class="ml-8 mt-8" fxLayout="row" fxLayoutAlign="start">
        <img *ngIf="image" class="avatar" [src]="_DomSanitizer.bypassSecurityTrustUrl(urlRecord)">
        <img *ngIf="!image" class="avatar" src="assets/images/avatars/profile.jpg">
        <span class="username mr-12 mt-4" fxShow.gt-md><h3><strong>{{patientName}}</strong></h3></span>
    </div>

    <div class="ml-8">
        <h4><span class="font-weight-600">Address :</span> {{patientAddress}} <span fxLayoutAlign="end" fxFlex>
        </span></h4>
    </div>

    <div class="ml-8">
        <h4><span class="font-weight-600">Phone Number :</span> {{patientPhone}} <span fxLayoutAlign="end" fxFlex>
    </span> </h4>
    </div>

    <div class="ml-8">
        <h4><span class="font-weight-600">Email :</span> {{patientEmail}} </h4>
    </div>

    <div class="font-weight-800 mb-8 ml-8 mr-8"> General </div>

    <div *ngFor="let gen of general;let i = index">
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{gen.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{record[gen.name]}} </span>
    </div>

    <div class="font-weight-800 mb-8 ml-8 mr-8"> Medical History </div>

    <div *ngFor="let medhis of medicalhistory;let i = index">
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medhis.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{record[medhis.name]}} </span>
    </div>

    <div class="font-weight-800 mb-8 ml-8 mr-8"> Social History</div>

    <div *ngFor="let sochis of socialhistory;let i = index">
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sochis.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{record[sochis.name]}} </span>
    </div>

    <div class="font-weight-800 mb-8 ml-8 mr-8"> Medical Conditions</div>

    <div *ngFor="let medcond of medicalconditions;let i = index">
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medcond.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{record[medcond.name]}} </span>
    </div>

    <div class="font-weight-800 mb-8 ml-8 mr-8"> Current Medications</div>

    <div *ngFor="let currentmed of currentmedications;let i = index">
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{currentmed.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{record[currentmed.name]}} </span>
    </div>

    <div class="font-weight-800 mb-8 ml-8 mr-8"> Family History</div>

    <div *ngFor="let famhis of familyhistory;let i = index">
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{famhis.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{record[famhis.name]}} </span>
    </div>


    <div class="font-weight-800 mb-8 ml-8 mr-8">Notes</div>

    <div *ngFor="let note of notes;let i = index">
        <label class="font-weight-800 grey margin" text-bold text-uppercase>{{note.name.toUpperCase()}}</label>
        <span class="hidden margin2"> {{record[note.name]}} </span>
    </div>



</div>

<div md-dialog-actions id="print-head" class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button md-raised-button (click)="print()" class="save-button mat-accent" aria-label="SAVE" #childtext>
        PRINT RECEIPT
    </button>

</div>