<div id="calendar" class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT CARD -->
        <div class="content-card">

            <md-sidenav-container>

                <!-- LEFT SIDENAV -->
                <md-sidenav class="sidenav mat-sidenav-opened" align="start" opened="true" mode="side"
                            fuseMdSidenavHelper="chat-left-sidenav" md-is-locked-open="gt-md">
                    <fuse-chat-left-sidenav></fuse-chat-left-sidenav>
                </md-sidenav>
                <!-- / LEFT SIDENAV -->

                <!-- CONTENT -->
                <fuse-chat-start *ngIf="!selectedChat"></fuse-chat-start>

                <fuse-chat-view *ngIf="selectedChat"></fuse-chat-view>
                <!-- / CONTENT -->

                <!-- RIGHT SIDENAV -->
                <md-sidenav class="sidenav mat-sidenav-opened" align="end" opened="false" mode="over"
                            fuseMdSidenavHelper="chat-right-sidenav">
                    <fuse-chat-right-sidenav></fuse-chat-right-sidenav>
                </md-sidenav>
                <!-- / RIGHT SIDENAV -->

            </md-sidenav-container>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
