<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button"
                (click)="dialogRef.close()"
                aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="consultancyForm">

         <input type="hidden" name="patientId" formControlName="patientId" placeholder="id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="date" formControlName="date" [mdDatepicker]="birthdayDatePicker" placeholder="Date Created">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">airplay</md-icon>
            <md-input-container fxFlex>
                <textarea name="observations" formControlName="observations" mdInput placeholder="Complaint/Observation">
                </textarea>
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">local_pharmacy</md-icon>
            <md-input-container fxFlex>
                <textarea name="treatments" formControlName="treatments" mdInput placeholder="Treatments,Reviews,Comments,ADR">
                </textarea>
            </md-input-container>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">assignment</md-icon>
            <md-input-container fxFlex>
                <textarea name="plans" formControlName="plans" mdInput placeholder="Plan">
                </textarea>
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button fxFlex *ngIf="action !=='edit'"
            md-raised-button
            (click)="dialogRef.close(consultancyForm)"
            class="save-button mat-accent"
            [disabled]="consultancyForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button fxFlex *ngIf="action ==='edit'"
            md-raised-button
            (click)="dialogRef.close(['save',consultancyForm])"
            class="save-button mat-accent"
            [disabled]="consultancyForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-button
            class="mat-icon-button"
            (click)="dialogRef.close(['delete',consultancyForm])"
            aria-label="Delete"
            md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>
