<md-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let form_element">
            <md-checkbox [(ngModel)]="checkboxes[form_element.id]" (ngModelChange)="onSelectedChange(form_element.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="form_element">
        <md-header-cell *cdkHeaderCellDef>form_element</md-header-cell>
        <md-cell *cdkCellDef="let form_element">
            <p class="text-truncate font-weight-600">{{form_element.form_element}}</p>
        </md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="image">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Image</md-header-cell>
        <md-cell *cdkCellDef="let form_element" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{form_element.image}}
            </p>
        </md-cell>
    </ng-container>

  

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let form_element">
            <div fxFlex="row" fxLayoutAlign="end center">
               <!--  <button md-menu-item aria-label="remove" (click)="deleteform_element(form_element)">
                    <md-icon>delete</md-icon>
                    <span>Pay</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let form_element; columns: displayedColumns;"
            (click)="editform_element(form_element)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[form_element.form_element_id]}"
            md-ripple>
    </md-row>
</md-table>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-form_element-button" (click)="newForm_element($event)" aria-label="add form_element">
    <md-icon>add_to_photos</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
