<md-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let email_template">
            <md-checkbox [(ngModel)]="checkboxes[email_template.id]" (ngModelChange)="onSelectedChange(email_template.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Patient Column -->
    <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Patient</md-header-cell>
        <md-cell *cdkCellDef="let email_template" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{email_template.patient_email}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Subject Column -->
    <ng-container cdkColumnDef="subject">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Subject</md-header-cell>
        <md-cell *cdkCellDef="let email_template" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{email_template.subject}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Body Column -->
    <ng-container cdkColumnDef="body">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Body</md-header-cell>
        <md-cell *cdkCellDef="let email_template" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{email_template.body}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let email_template">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deleteemail_template(email_template)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let email_template; columns: displayedColumns;"
            (click)="editEmail_template(email_template)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[email_template.email_template_id]}"
            md-ripple>
    </md-row>
</md-table>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-email_template-button" (click)="newEmail_template($event)" aria-label="add email_template">
    <md-icon>email</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
