<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let pharmacist">
            <md-checkbox [(ngModel)]="checkboxes[pharmacist.id]" (ngModelChange)="onSelectedChange(pharmacist.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Pharmacistname Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let pharmacist"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{pharmacist.name}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Address</md-header-cell>
        <md-cell *cdkCellDef="let pharmacist" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{pharmacist.address}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Phone</md-header-cell>
        <md-cell *cdkCellDef="let pharmacist" fxShow.gt-md>
            <p class="email text-truncate">
                {{pharmacist.phone}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Phone</md-header-cell>
        <md-cell *cdkCellDef="let pharmacist" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{pharmacist.email}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Password Column -->
    <ng-container cdkColumnDef="password">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Password</md-header-cell>
        <md-cell *cdkCellDef="let pharmacist" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{pharmacist.password}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let pharmacist">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletepharmacist(pharmacist)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let pharmacist; columns: displayedColumns;"
            (click)="editPharmacist(pharmacist)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[pharmacist.pharmacist_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="pharmacists.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-pharmacist-button" (click)="newPharmacist($event)" aria-label="add pharmacist">
    <md-icon>local_pharmacy</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
