<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let prescription">
            <md-checkbox *ngIf="!disabled" [(ngModel)]="checkboxes[prescription.id]" (ngModelChange)="onSelectedChange(prescription.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Doctor Column -->
    <div>
    <ng-container cdkColumnDef="doctor">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Doctor's Name</md-header-cell>
        <md-cell *cdkCellDef="let prescription"  fxShow.gt-sm (click)="editPrescription(prescription)">
            <p class="email text-truncate">
                {{prescription.doctor_id}}
            </p>
        </md-cell>
    </ng-container>
    </div>

    
    

    <!-- Patient Column -->
    <div>
    <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Patient's Name</md-header-cell>
        <md-cell *cdkCellDef="let prescription" fxShow.gt-sm (click)="editPrescription(prescription)">
            <p class="email text-truncate">
                {{prescription.patient_id}}
            </p>
        </md-cell>
    </ng-container>
    </div>

     

    <!-- Timestamp Column -->
    <div>
    <ng-container cdkColumnDef="timestamp">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Date</md-header-cell>
        <md-cell *cdkCellDef="let prescription" fxHide fxShow.gt-md (click)="editPrescription(prescription)">
            <p class="email text-truncate">
                {{prescription.timestamp}}
            </p>
        </md-cell>
    </ng-container>
    </div>


    <!-- Case Column -->
    <div>
    <ng-container cdkColumnDef="case">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Case History</md-header-cell>
        <md-cell *cdkCellDef="let prescription" fxHide fxShow.gt-lg (click)="editPrescription(prescription)">
            <p class="email text-truncate">
                {{prescription.case_history}}
            </p>
        </md-cell>
    </ng-container>
    </div>


    <!-- Medication Column -->
    <div>
    <ng-container cdkColumnDef="medication">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Medication</md-header-cell>
        <md-cell *cdkCellDef="let prescription" fxHide fxShow.gt-lg (click)="editPrescription(prescription)">
            <p class="email text-truncate">
                {{prescription.medication}}
            </p>
        </md-cell>
    </ng-container>
    </div>


    <!-- Note Column -->
    <div>
    <ng-container cdkColumnDef="note">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Note</md-header-cell>
        <md-cell *cdkCellDef="let prescription" fxHide fxShow.gt-lg (click)="editPrescription(prescription)">
            <p class="email text-truncate">
                {{prescription.note}}
            </p>
        </md-cell>
    </ng-container>
    </div>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let prescription">
            <div fxFlex="row" fxLayoutAlign="end center">
               <!--  <button md-menu-item aria-label="remove" (click)="getDiagnosis(prescription)">
                   <md-icon>visibility</md-icon>
                    <span>Edit</span>
                </button> -->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let prescription; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[prescription.prescription_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="prescriptions.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-prescription-button" (click)="newPrescription($event)" aria-label="add prescription" [disabled]="disabled">
    <md-icon>control_point_duplicate</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

