<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let managepayment">
            <md-checkbox [(ngModel)]="checkboxes[managepayment.id]" (ngModelChange)="onSelectedChange(managepayment.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Product Column -->
    <ng-container cdkColumnDef="product">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxHide fxShow.gt-md>Product Name</md-header-cell>
        <md-cell *cdkCellDef="let managepayment" fxShow.gt-md>
            <p class="email text-truncate">
                {{managepayment.product}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Reference Column -->
    <ng-container cdkColumnDef="reference">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Reference</md-header-cell>
        <md-cell *cdkCellDef="let managepayment" fxShow.gt-md>
            <p class="email text-truncate">
                {{managepayment.reference}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container cdkColumnDef="amount">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Amount(₦)</md-header-cell>
        <md-cell *cdkCellDef="let managepayment" fxShow.gt-md>
            <p class="email text-truncate">
                {{managepayment.amount}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Expire Column -->
    <ng-container cdkColumnDef="expire">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Expire</md-header-cell>
        <md-cell *cdkCellDef="let managepayment" fxShow.gt-md>
            <p class="email text-truncate">
                {{managepayment.expire}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Method Column -->
    <ng-container cdkColumnDef="method">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Method</md-header-cell>
        <md-cell *cdkCellDef="let managepayment" fxShow.gt-md>
            <p class="email text-truncate">
                {{managepayment.method}}
            </p>
        </md-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let managepayment">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletemanagepayment(managepayment)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let managepayment; columns: displayedColumns;" (click)="editManagepayment(managepayment)" [ngClass]="{'md-light-blue-50-bg':checkboxes[managepayment.managepayment_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="managepayments.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<!-- <button md-fab class="md-accent-bg" id="add-managepayment-button" (click)="newManagepayment($event)" aria-label="add managepayment">
    <md-icon>library_add</md-icon>
</button>
 --><!-- / ADD CONTACT BUTTON -->