<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="patientForm">
        <fieldset [disabled]="localStorageType=='Laboratorist'">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">person</md-icon>
                <md-input-container fxFlex>
                    <input name="name" formControlName="name" mdInput placeholder="Enter Name">
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">filter_1</md-icon>
                <md-input-container fxFlex>
                    <input name="patientno" formControlName="patientno" mdInput placeholder="Enter patient no">
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">domain</md-icon>
                <md-input-container fxFlex>
                    <input name="address" formControlName="address" mdInput placeholder="Enter Address">
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">phone</md-icon>
                <md-input-container fxFlex>
                    <input name="phone" formControlName="phone" mdInput placeholder="Enter Phone">
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">enhanced_encryption</md-icon>
                <md-input-container fxFlex>
                    <input type="password" name="password" formControlName="password" mdInput placeholder="Enter Password">
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">mail</md-icon>
                <md-input-container fxFlex>
                    <input name="email" formControlName="email" mdInput placeholder="Enter Email">
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">wc</md-icon>
                <md-select formControlName="sex" fxFlex placeholder="Sex">
                    <md-option *ngFor="let gender of genderss" [value]="gender" (click)="select(sex)">
                        {{gender}}
                    </md-option>
                </md-select>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex class="mr-24">
                    <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                    <input mdInput name="birth_date" formControlName="birth_date" [mdDatepicker]="birthdayDatePicker" placeholder="Date of Birth">
                </md-input-container>
                <md-datepicker #birthdayDatePicker></md-datepicker>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">perm_contact_calendar</md-icon>
                <md-input-container fxFlex>
                    <input name="age" formControlName="age" mdInput placeholder="Enter Age">
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">opacity</md-icon>
                <md-select formControlName="blood_group" fxFlex placeholder="Blood Group">
                    <md-option *ngFor="let blood_bank of blood_bankss" [value]="blood_bank.blood_group" (click)="select(bloodgroup)">
                        {{blood_bank.blood_group}}
                    </md-option>
                </md-select>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-input-container fxFlex class="mr-24">
                    <button mdSuffix [mdDatepickerToggle]="accountopen"></button>
                    <input mdInput name="account_opening_timestamp" formControlName="account_opening_timestamp" [mdDatepicker]="accountopen"
                        placeholder="Date of Registration">
                </md-input-container>
                <md-datepicker #accountopen></md-datepicker>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">title</md-icon>
                <md-select formControlName="insurancename" fxFlex placeholder="Insurance Name">
                    <md-option *ngFor="let insuranceType of insuranceTypes" [value]="insuranceType.name" (click)="select(bloodgroup)">
                        {{insuranceType.name}}
                    </md-option>
                </md-select>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">more_horiz</md-icon>
                <md-input-container fxFlex>
                    <input name="insurancepercent" formControlName="insurancepercent" mdInput placeholder="%">
                </md-input-container>
            </div>

            <!-- ADD FILE BUTTON -->
            <div class="file-uploader">
                <input hidden name="files" type="file" id="fileupload" #fileInput/>
                <button md-fab class="add-file-button mat-warn" (click)="fileInput.click()" aria-label="Add file">
                    <md-icon>create_new_folder</md-icon>
                </button>
                <br>
            </div>
            <!-- / ADD FILE BUTTON -->
            <div>
                <img *ngIf="image" class="img3" [src]="_DomSanitizer.bypassSecurityTrustUrl(image)">
                <img *ngIf="!image" class="img3" src="assets/images/avatars/male.png">
            </div>
        </fieldset>
    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <fieldset [disabled]="localStorageType=='Laboratorist'">
        <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(patientForm)" class="save-button mat-accent" [disabled]="patientForm.invalid"
            aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',patientForm])" class="save-button mat-accent"
            [disabled]="patientForm.invalid" aria-label="SAVE">
            SAVE
        </button>
    </fieldset>

    <fieldset [disabled]="localStorageType=='Laboratorist'">
        <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',patientForm])" aria-label="Delete"
            md-tooltip="Delete">
            <md-icon>delete</md-icon>
        </button>
    </fieldset>

</div>