.patient-form-dialog {

    .mat-dialog-container {
         padding: 0;
        width: 600px !important ;
        max-height: 90vh;

        .toolbar-bottom {
            height: 200px;
        }
    }
}

body {
    text-align: center;
  }

  fieldset {
      border: 0px;
  }

:host {
    display: flex;
    flex-direction: column;
}

.img3{
    width: 300px;
    height: 250px;
}
