<form [formGroup]="addMedicine_form">

     <input [(ngModel)]="mednum" formControlName="medicine_id" type="hidden" placeholder="Medicine Id" name="medicine_id" #text3 (ngModelChange)= "onChange4(text3.value)">
    <input [(ngModel)]="medId" formControlName="price" type="hidden" placeholder="IDENTITY" name="price" #text (ngModelChange)= "onChange2(text.value)">

    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <md-icon class="mr-12 mt-12">add_circle</md-icon>
        <md-select formControlName="medicine" fxFlex placeholder="Select A Medicine">
            <md-option #text2 (click)= "onChange3(text2.value)"  (click)="getMId(medicine)" *ngFor="let medicine of mediciness" [value]="medicine.name">
                {{medicine.name}}
            </md-option>
        </md-select>
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <md-icon class="mr-12 mt-12">gradient</md-icon>
        <md-input-container fxFlex>
            <input type="number" #passtext (keyup)="onChange(passtext.value)" name="quantity" formControlName="quantity" mdInput
                placeholder="Quantity">
        </md-input-container>
    </div>
</form>