<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="medicine_saleForm">
        <input type="hidden" [(ngModel)]="final3" name="medicine_number" formControlName="medicine_number" placeholder="Medicine Number">
        <input type="hidden" [(ngModel)]="final" name="quantitys" formControlName="quantitys" placeholder="Quantity">
        <input type="hidden" [(ngModel)]="final2" name="medicines" formControlName="medicines" placeholder="Medicine">
        <input type="hidden" [(ngModel)]="patientId" name="patient_name" formControlName="patient_name" placeholder="Id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">local_hotel</md-icon>
            <md-select fxFlex formControlName="patient_id" placeholder="Select A Patient">
                <md-option *ngFor="let patient of patientss" [value]="patient.name" (click)="getPId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="date" formControlName="date" [mdDatepicker]="birthdayDatePicker" placeholder="Date Created">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

        <div formArrayName="quantityss">
            <div *ngFor="let quantity of medicine_saleForm.controls.quantityss.controls; let i=index">
                <!-- address header, show remove button when more than one address available -->
                <div>
                    <span *ngIf="medicine_saleForm.controls.quantityss.controls.length > 1" (click)="removeAmount(i)">
                </span>
                </div>

                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div [formGroupName]="i">
                    <!--amount-->
                    <addmedicine (passInput4)="childData3=$event" (passInput3)="childData2=$event" (passInput2)="childData=$event" (passInput)="textData=$event"
                        [group]="medicine_saleForm.controls.quantityss.controls[i]"></addmedicine>

                </div>
            </div>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="center center">
            <button md-raised-button (click)="addQuantity()" class="save-button mat-accent">
        Add Medicines
    </button>&nbsp;
            <button md-raised-button *ngIf="trigger ==='show'" (click)="calculatePrice()" class="save-button mat-accent">
        Calculate Total Price
    </button>
            <button md-raised-button *ngIf="trigger !=='show'" (click)="calculatePrice2()" class="save-button mat-accent">
        Calculate Total Price
    </button>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input [(ngModel)]="medicine_sale.insurancename" name="insurancename" formControlName="insurancename" mdInput placeholder="Insurance Name">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">more_horitz</md-icon>
            <md-input-container fxFlex>
                <input [(ngModel)]="medicine_sale.insurancepercent" name="insurancepercent" formControlName="insurancepercent" mdInput placeholder="Insurance Percent">
            </md-input-container>
        </div>


        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">monetization_on</md-icon>
            <md-input-container fxFlex>
                <input [(ngModel)]="totalPrice" name="total_amount" formControlName="total_amount" mdInput placeholder="Total Price">
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(medicine_saleForm)" class="save-button mat-accent"
        [disabled]="medicine_saleForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',medicine_saleForm])" class="save-button mat-accent"
        [disabled]="medicine_saleForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',medicine_saleForm])"
        aria-label="Delete" md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>