<md-toolbar id="receipt-head" md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div id="printable" md-dialog-content class="p-24 m-0 " perfect-scrollbar>


    <div class="mb-24 mr-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">title</md-icon>
        <span class="font-size-15 h3 font-weight-500"> {{hospitalName}} </span>
    </div>


    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">mail</md-icon>
        {{hospitalEmail}}
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">phone</md-icon>
        {{hospitalPhone}}
    </div>
    <hr/>

    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">person</md-icon>
        <span class="font-size-15 font-weight-500"> Document Name: </span> <span class="ml-8"> {{documentName}}</span>
    </div>

    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">filter_2</md-icon>
        <span class="font-size-15 font-weight-500"> File Name: </span> <span class="ml-8"> {{fileName}}</span>
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">event</md-icon>
        <span class="font-size-15 font-weight-500"> Due Date: </span> <span class="ml-8"> {{diagnosis_reportDueDate}}</span>
    </div>

    <div fxLayout="row">
        <span class="font-size-15 font-weight-500" fxLayoutAlign="start start"> SYMPTOMS/DESCRIPTION </span>
    </div>

    <div fxLayout="row">
        <span fxLayoutAlign="start start" fxFlex>{{description}}</span>
    </div>
    <hr/>
    
    <br>
    <div fxLayout="row" class="footer  invoice-data4">
        <div class="note" fxFlex>You were served by {{laboratoristName}}. Remember to take the lab report with you to the Doctor Thank you.</div>

    </div>

</div>

<div md-dialog-actions id="print-head" class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button md-raised-button (click)="print()" class="save-button mat-accent" aria-label="SAVE" #childtext>
        PRINT RECEIPT
    </button>

</div>