<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor">
              <!--   <md-checkbox [(ngModel)]="checkboxes[blood_donor.id]" (ngModelChange)="onSelectedChange(blood_donor.id)" (click)="$event.stopPropagation()">
                </md-checkbox> -->
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor">
                <md-checkbox [(ngModel)]="checkboxes[blood_donor.id]" (ngModelChange)="onSelectedChange(blood_donor.id)" (click)="$event.stopPropagation()">
                </md-checkbox>
            </md-cell>
        </div>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" fxShow.gt-sm>
                <p class="email text-truncate">
                    {{blood_donor.name}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" (click)="editBlood_donor(blood_donor)" fxShow.gt-sm>
                <p class="email text-truncate">
                    {{blood_donor.name}}
                </p>
            </md-cell>
        </div>

    </ng-container>

    <!-- Age Column -->
    <ng-container cdkColumnDef="age">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Age</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" fxHide fxShow.gt-md>
                <p class="phone text-truncate">
                    {{blood_donor.age}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" (click)="editBlood_donor(blood_donor)" fxHide fxShow.gt-md>
                <p class="phone text-truncate">
                    {{blood_donor.age}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Sex Column -->
    <ng-container cdkColumnDef="sex">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Sex</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" fxHide fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_donor.sex}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" (click)="editBlood_donor(blood_donor)" fxHide fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_donor.sex}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Blood Group Column -->
    <ng-container cdkColumnDef="group">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Blood Group</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_donor.blood_group}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" (click)="editBlood_donor(blood_donor)" fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_donor.blood_group}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Donation Column -->
    <ng-container cdkColumnDef="donation">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Last Donation</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" fxHide fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_donor.last_donation_timestamp}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" (click)="editBlood_donor(blood_donor)" fxHide fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_donor.last_donation_timestamp}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Address</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_donor.address}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" (click)="editBlood_donor(blood_donor)" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_donor.address}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Email</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_donor.email}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" (click)="editBlood_donor(blood_donor)" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_donor.email}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Phone</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_donor.phone}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_donor" (click)="editBlood_donor(blood_donor)" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_donor.phone}}
                </p>
            </md-cell>
        </div>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let blood_donor">
            <div fxFlex="row" fxLayoutAlign="end center">

            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let blood_donor; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[blood_donor.blood_donor_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="blood_donors.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType" class="md-accent-bg" id="add-blood_donor-button" (click)="newBlood_donor($event)"
    aria-label="add blood_donor" disabled>
    <md-icon>add_circle</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType==='LabNurse'" class="md-accent-bg" id="add-blood_donor-button" (click)="newBlood_donor($event)"
    aria-label="add blood_donor">
    <md-icon>add_circle</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->