<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="form_elementForm">

        <!-- ADD FILE BUTTON -->
        <div class="file-uploader">
            <input hidden type="file" #fileInput/>
            <button md-fab class="add-file-button mat-warn" (click)="fileInput.click()" aria-label="Add file">
                        <md-icon>add_to_photos</md-icon>
                    </button>
        </div>
        <!-- / ADD FILE BUTTON -->
        <br>
     <div>
        Current Image:
        <br>
        <img src="assets/images/form_elements/google.png" width="300px;" height="120px" alt="IMG">
        <br>
     </div>
    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(form_elementForm)" class="save-button mat-accent" [disabled]="form_elementForm.invalid"
        aria-label="SAVE">
       UPLOAD
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',form_elementForm])" class="save-button mat-accent"
        [disabled]="form_elementForm.invalid" aria-label="SAVE">
        UPLOAD
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',form_elementForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>