<md-card class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let alert of alerts">
    <md-card-header>
        <span><strong>Date: </strong>{{alert.creation_timestamp}}</span>
        <span fxLayoutAlign="end" fxFlex><strong>Invoice Number: </strong>{{alert.invoice_number}}</span>
    </md-card-header>
    <md-card-content>
        <p fxLayoutAlign="start" fxFlex>
            Patient {{alert.patient_name}} paid for {{alert.title}} due for date {{alert.due_timestamp}} which cost {{alert.grandtotal}} naira
        </p>
    </md-card-content>
</md-card>