@import "src/app/core/scss/fuse";

:host {
    width: 100%;

    .center {

        .header {

            .search-wrapper {
                @include mat-elevation(7);

                .sidenav-toggle {
                    margin: 0;
                    width: 56px;
                    height: 56px;
                    background: #FFF;
                    border-radius: 0;
                    border-right: 1px solid rgba(0, 0, 0, .12);
                }

                .search {
                    width: 100%;
                    height: 56px;
                    line-height: 56px;
                    padding: 18px;

                    input {
                        height: 56px;
                        padding-left: 16px;
                        color: rgba(0, 0, 0, 0.54);
                        border: none;
                        outline: none;
                    }
                }
            }
        }

        .content-card {

            @include media-breakpoint(xs) {

                fuse-message-list,
                fuse-message-details {
                    flex: 1 0 100%;
                }

                fuse-message-details {
                    display: none !important;
                }

                &.current-message-selected {

                    .content {

                        fuse-message-list {
                            display: none !important;
                        }

                        fuse-message-details {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
}

