<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let currency">
            <md-checkbox [(ngModel)]="checkboxes[currency.id]" (ngModelChange)="onSelectedChange(currency.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

      <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell md-sort-header *cdkHeaderCellDef>Currency Name</md-header-cell>
        <md-cell *cdkCellDef="let currency">
            <p class="text-truncate">{{currency.currency_name}}</p>
        </md-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container cdkColumnDef="code">
        <md-header-cell *cdkHeaderCellDef>Currency Code</md-header-cell>
        <md-cell *cdkCellDef="let currency">
            <p class="text-truncate">{{currency.currency_code}}</p>
        </md-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container cdkColumnDef="symbol">
        <md-header-cell *cdkHeaderCellDef>Currency Symbol</md-header-cell>
        <md-cell *cdkCellDef="let currency">
            <p class="text-truncate">{{currency.currency_symbol}}</p>
        </md-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let currency">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletecurrency(currency)">
             <md-icon>delete</md-icon>
                        <span>Edit</span>
                    </button>-->

            </div>

        </md-cell>
    </ng-container>
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let currency; columns: displayedColumns;" (click)="editCurrency(currency)" [ngClass]="{'md-light-blue-50-bg':checkboxes[currency.currency_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="currencys.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-currency-button" (click)="newCurrency($event)" aria-label="add currency">
    <md-icon>attach_money</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->