<div class="my-container">
    <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: 'rgba(92, 214, 92,0.3)', backdropBorderRadius: '20px',
        primaryColour: '#2eb82e', secondaryColour: '#2eb82e', tertiaryColour: '#2eb82e' }"></ngx-loading>

</div>

<md-toolbar class="p-0 mat-elevation-z1">
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex fxLayout="row" fxLayoutAlign="start center">

            <button md-button class="toggle-button-navbar mat-icon-button" fuseNavbar="openBar" fxHide.gt-md>
                <md-icon>menu</md-icon>
            </button>

        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
    
            <button (click)="sync()"  md-raised-button class="syncbtn">
                SYNC
            </button>

        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <md-icon class="cursor" (click)="navAlerts()" matBadge="15" matBadgeColor="warn">notifications</md-icon>
            <button md-mini-fab (click)="navAlerts()" *ngIf="alertsLength != 0" class="danger">{{alertsLength}}</button>
        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <md-spinner *ngIf="showSpinner" class="loading-spinner mx-8"></md-spinner>

            <button md-button [mdMenuTriggerFor]="userMenu" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img *ngIf="image" class="avatar" [src]="_DomSanitizer.bypassSecurityTrustUrl(image)">
                    <img *ngIf="!image" class="avatar" src="assets/images/avatars/profile.jpg">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{name}}</span>
                    <md-icon class="s-16" fxHide.xs>keyboard_arrow_down</md-icon>
                </div>
            </button>

            <md-menu #userMenu="mdMenu">

                <button class="color-transparent" (click)="profileNav()" md-menu-item>
                    <md-icon>account_circle</md-icon>
                    <span>My Profile</span>
                </button>

                <!--  <button md-menu-item class="">
                    <md-icon>settings</md-icon>
                    <span>User Settings</span>
                </button>

                <button md-menu-item class="">
                    <md-icon>help</md-icon>
                    <span>Help</span>
                </button>
 -->
                <button class="color-transparent" (click)="signOut()" md-menu-item>
                    <md-icon>exit_to_app</md-icon>
                    <span>Logout</span>
                </button>

            </md-menu>



        </div>

    </div>
</md-toolbar>