@import 'src/app/core/scss/fuse';

.color-transparent{
    background-color: transparent !important;
}

:host {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .danger{
        background-color: red !important;
    
    }

    .syncbtn {
        background-color: rgb(20, 174, 235) !important;
    }

    .cursor{
        cursor: pointer;
    }

    .mat-toolbar {
        background: inherit;
        color: inherit;
        background-color: #1f7a1f;
    }

    .loading-spinner {
        width: 32px;
        height: 32px;
    }

    .user-button,
    .search-button,
    .language-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }

    .toggle-button-navbar {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;
        background: rgba(0, 0, 0, .12);

        @include media-breakpoint-down('xs') {
            height: 56px;
        }
    }
}
