<div *ngIf="!todo" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <md-icon class="s-120 mb-12">check_box</md-icon>
    <span class="hint-text mat-h1">Select a todo</span>
</div>

<div *ngIf="todo">

    <div class="todo-header" fxLayout="row" fxLayoutAlign="space-between center">

        <button md-button class="mat-icon-button toggle-complete-button" (click)="toggleCompleted($event)"
                aria-label="Toggle completed" fxFlex="0 1 auto">
            <md-icon *ngIf="todo.completed">check_box</md-icon>
            <md-icon *ngIf="!todo.completed">check_box_outline_blank</md-icon>
        </button>

        <div class="actions" fxLayout="row" fxLayoutAlign="start center">

            <button md-button class="mat-icon-button" (click)="toggleDeleted($event)" aria-label="Toggle delete">
                <md-icon *ngIf="todo.deleted">delete_forever</md-icon>
                <md-icon *ngIf="!todo.deleted">delete</md-icon>
            </button>

            <button md-button class="mat-icon-button" (click)="toggleImportant($event)" aria-label="Toggle important">
                <md-icon *ngIf="todo.important">error</md-icon>
                <md-icon *ngIf="!todo.important">error_outline</md-icon>
            </button>

            <button md-button class="mat-icon-button" (click)="toggleStar($event)" aria-label="Toggle star">
                <md-icon *ngIf="todo.starred">star</md-icon>
                <md-icon *ngIf="!todo.starred">star_outline</md-icon>
            </button>

            <button md-icon-button [mdMenuTriggerFor]="labelMenu" fxFlex="0 1 auto">
                <md-icon>label</md-icon>
            </button>

            <md-menu #labelMenu="mdMenu">
                <button md-menu-item *ngFor="let tag of tags"
                        (click)="toggleTagOnTodo(tag.id)">
                    {{tag.title}}
                </button>
            </md-menu>

        </div>
    </div>

    <div class="todo-content">

        <form [formGroup]="todoForm" (submit)="addTodo()">

            <md-input-container class="title mt-8" floatPlaceholder="never" fxFill>
                    <textarea mdInput
                              #titleInput
                              name="title"
                              formControlName="title"
                              placeholder="Title"
                              mdTextareaAutosize
                              required>
                    </textarea>
            </md-input-container>

            <div class="tags mb-24" fxFlexFill fxLayout="row" fxLayoutWrap>
                <div class="tag" fxLayout="row" fxLayoutAlign="start center" *ngFor="let tagId of todo.tags">

                    <div class="tag-color" [ngStyle]="{'background-color': tags | getById:tagId:'color'}"></div>

                    <div class="tag-label">{{tags | getById:tagId:'title'}}</div>
                </div>
            </div>

            <div fxFlexFill fxLayout="row">

                <md-input-container fxFlex class="mr-16">
                    <input mdInput
                           name="start"
                           formControlName="startDate"
                           [mdDatepicker]="startDatePicker"
                           placeholder="Start Date">
                    <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
                </md-input-container>
                <md-datepicker #startDatePicker></md-datepicker>

                <md-input-container fxFlex>
                    <input mdInput
                           name="dueDate"
                           formControlName="dueDate"
                           [mdDatepicker]="dueDatePicker"
                           placeholder="Due Date">
                    <button mdSuffix [mdDatepickerToggle]="dueDatePicker"></button>
                </md-input-container>
                <md-datepicker #dueDatePicker></md-datepicker>
            </div>

            <md-input-container class="" fxFill>
                 <textarea mdInput
                           name="notes"
                           formControlName="notes"
                           placeholder="Notes"
                           md-maxlength="500"
                           mdTextareaAutosize
                           mdAutosizeMinRows="6">
                 </textarea>
            </md-input-container>

            <button *ngIf="formType === 'new'"
                    md-raised-button class="mat-accent"
                    [disabled]="todoForm.invalid">SAVE
            </button>
        </form>

    </div>
</div>
