<div *ngIf="messages.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <span class="no-messages-text hint-text">There are no messages!</span>
</div>

<fuse-message-list-item md-ripple *ngFor="let message of messages" [message]="message" (click)="readMail(mail.id)"
                     [ngClass]="{'current-message':message?.id == currentMessage?.id}">
</fuse-message-list-item>
<button (click)="click()">CLICK ME</button>