<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    General</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of general">
    <span>{{record.name}} <button md-button color="accent" class="color-transparent">{{record.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigurerecord(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigurerecord(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    Medical History</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of medicalhistory">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigurerecord(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigurerecord(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    Social History</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of socialhistory">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigurerecord(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigurerecord(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    Medical Conditions</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of medicalconditions">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigurerecord(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigurerecord(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    Current Medications</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of currentmedications">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigurerecord(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigurerecord(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    Family History</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of familyhistory">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigurerecord(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigurerecord(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<h2 class="font-weight-500 mb-8 ml-8 mr-8">
    Notes</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let record of notes">
    <span>{{record.name}} <button md-button class="color-transparent" color="accent">{{record.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigurerecord(record)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigurerecord(record)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-configurerecord-button" (click)="newConfigurerecord($event)" aria-label="add configurerecord">
    <md-icon>add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->