<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row" perfect-scrollbar>

    <md-sidenav-container>

        <!-- CENTER -->
        <div class="center" fxFlex perfect-scrollbar>

            <!-- HEADER -->
            <div class="header bg-color p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

                <div fxLayout="row" fxLayoutAlign="space-between start">

                    <span class="mat-display-1 mb-0">Welcome, {{localStorageItem}}!</span>

                    <button md-icon-button fuseMdSidenavToggler="dashboards-right-sidenav" fxHide.gt-md>
                        <md-icon>menu</md-icon>
                    </button>
                </div>


            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content">

                <md-tab-group dynamicHeight>

                    <md-tab label="Home">
                        <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap>

                            <!-- WIDGET 1 -->
                            <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                    </div>

                                    <div class="pt-8 pb-32 " fxLayout="column" fxLayoutAlign="center center">
                                        <div>
                                            <button md-button class="color-transparent toggle-button-navbar mat-icon-button" id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size">face</md-icon>
                                        </button>
                                        </div>
                                        <br>
                                        <div class="h3 secondary-text font-weight-300 co-floattext ">Doctors: <span class="light-blue-fg font-size-15 line-height-15"> {{doctorNumber}} </span></div>
                                    </div>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 1 -->

                            <!-- WIDGET 2 -->
                            <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                        <button md-button class="color-transparent toggle-button-navbar mat-icon-button" id="co-size" fuseNavbar="toggleFold">
                                           <md-icon id="co-size">airline_seat_individual_suite</md-icon>
                                        </button>
                                        <br>
                                        <div class="h3 primary-text font-weight-300 co-floattext">Patients: <span class="red-fg font-size-15 line-height-15"> {{patientNumber}} </span></div>
                                    </div>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 2 -->

                            <!-- WIDGET 3 -->
                            <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                    </div>

                                    <div class="pt-8 pb-32 " fxLayout="column" fxLayoutAlign="center center">

                                        <button md-button class="color-transparent toggle-button-navbar mat-icon-button " id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size" >local_hospital</md-icon>
                                        </button>

                                        <br>
                                        <div class="h3 primary-text font-weight-300 co-floattext">Nurses: <span class="orange-fg  font-size-15 line-height-15"> {{nurseNumber}} </span>                                            </div>

                                    </div>

                                </div>
                                <!-- / Front -->
                            </fuse-widget>
                            <!-- / WIDGET 3 -->

                            <!-- WIDGET 4 -->
                            <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                        <button md-button class="color-transparent toggle-button-navbar mat-icon-button " id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size">assignment_ind</md-icon>
                                        </button>
                                        <br>
                                        <div class="h3 primary-text font-weight-300 co-floattext">Pharmacists: <span class="blue-grey-fg  font-size-15 line-height-15"> {{pharmacistNumber}} </span>                                            </div>
                                    </div>
                                </div>
                                <!-- / Front -->
                            </fuse-widget>
                            <!-- / WIDGET 4 -->

                            <!-- / WIDGET GROUP -->
                            <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap>

                                <!-- WIDGET 5 -->
                                <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                    <!-- Front -->
                                    <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                        </div>

                                        <div class="pt-8 pb-32 " fxLayout="column" fxLayoutAlign="center center">
                                            <div>
                                                <button md-button class="color-transparent toggle-button-navbar mat-icon-button" id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size">person</md-icon>
                                        </button>
                                            </div>
                                            <br>
                                            <div class="h3 secondary-text font-weight-300 co-floattext ">Laboratorist: <span class="light-blue-fg font-size-15 line-height-15"> {{labNumber}} </span></div>
                                        </div>
                                    </div>
                                    <!-- / Front -->

                                </fuse-widget>
                                <!-- / WIDGET 5 -->

                                <!-- WIDGET 6 -->
                                <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                    <!-- Front -->
                                    <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                        </div>

                                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                            <button md-button class="color-transparent toggle-button-navbar mat-icon-button" id="co-size" fuseNavbar="toggleFold">
                                           <md-icon id="co-size">account_balance_wallet</md-icon>
                                        </button>
                                            <br>
                                            <div class="h3 primary-text font-weight-300 co-floattext">Accountants: <span class="red-fg font-size-15 line-height-15"> {{accountantNumber}} </span></div>
                                        </div>
                                    </div>
                                    <!-- / Front -->

                                </fuse-widget>
                                <!-- / WIDGET 6 -->

                                <!-- WIDGET 7 -->
                                <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                    <!-- Front -->
                                    <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                        </div>

                                        <div class="pt-8 pb-32 " fxLayout="column" fxLayoutAlign="center center">

                                            <button md-button class="color-transparent toggle-button-navbar mat-icon-button " id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size" >monetization_on</md-icon>
                                        </button>

                                            <br>
                                            <div class="h3 primary-text font-weight-300 co-floattext">Payment: <span class="orange-fg  font-size-15 line-height-15"> {{invoiceNumber}} </span>                                                </div>

                                        </div>

                                    </div>
                                    <!-- / Front -->
                                </fuse-widget>
                                <!-- / WIDGET 7 -->

                                <!-- WIDGET 8 -->
                                <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                    <!-- Front -->
                                    <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        </div>

                                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                            <button md-button class="color-transparent toggle-button-navbar mat-icon-button " id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size">healing</md-icon>
                                        </button>
                                            <br>
                                            <div class="h3 primary-text font-weight-300 co-floattext">Medicine: <span class="blue-grey-fg  font-size-15 line-height-15"> {{medicineNumber}} </span>                                                </div>
                                        </div>
                                    </div>
                                    <!-- / Front -->
                                </fuse-widget>
                                <!-- / WIDGET 8 -->

                            </div>
                            <!-- / WIDGET GROUP -->
                            <div class="widget-group p-12" fxLayout="row" fxFlex="100" fxLayoutWrap>

                                <!-- WIDGET 9 -->
                                <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                    <!-- Front -->
                                    <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                        </div>

                                        <div class="pt-8 pb-32 " fxLayout="column" fxLayoutAlign="center center">
                                            <div>
                                                <button md-button class="color-transparent toggle-button-navbar mat-icon-button" id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size">assignment</md-icon>
                                        </button>
                                            </div>
                                            <br>
                                            <div class="h3 secondary-text font-weight-300 co-floattext ">Operation Report: <span class="light-blue-fg font-size-15 line-height-15"> {{operationNumber}} </span></div>
                                        </div>
                                    </div>
                                    <!-- / Front -->

                                </fuse-widget>
                                <!-- / WIDGET 9 -->

                                <!-- WIDGET 10 -->
                                <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                    <!-- Front -->
                                    <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                        </div>

                                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                            <button md-button class="color-transparent toggle-button-navbar mat-icon-button" id="co-size" fuseNavbar="toggleFold">
                                           <md-icon id="co-size">assignment_returned</md-icon>
                                        </button>
                                            <br>
                                            <div class="h3 primary-text font-weight-300 co-floattext">Birth Report: <span class="red-fg font-size-15 line-height-15"> {{birthNumber}} </span></div>
                                        </div>
                                    </div>
                                    <!-- / Front -->

                                </fuse-widget>
                                <!-- / WIDGET 10 -->

                                <!-- WIDGET 11 -->
                                <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                    <!-- Front -->
                                    <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="center center">
                                        </div>

                                        <div class="pt-8 pb-32 " fxLayout="column" fxLayoutAlign="center center">

                                            <button md-button class="color-transparent toggle-button-navbar mat-icon-button " id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size" >assignment_late</md-icon>
                                        </button>

                                            <br>
                                            <div class="h3 primary-text font-weight-300 co-floattext">Death Report: <span class="orange-fg  font-size-15 line-height-15"> {{lossNumber}} </span>                                                </div>

                                        </div>

                                    </div>
                                    <!-- / Front -->
                                </fuse-widget>
                                <!-- / WIDGET 11 -->

                                <!-- WIDGET 12 -->
                                <fuse-widget class="" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                    <!-- Front -->
                                    <div class="fuse-widget-front md-white-bg mat-elevation-z8">
                                        <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        </div>

                                        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                            <button md-button class="color-transparent toggle-button-navbar mat-icon-button " id="co-size" fuseNavbar="toggleFold">
                                            <md-icon id="co-size">settings</md-icon>
                                        </button>
                                            <br>
                                            <div class="h3 primary-text font-weight-300 co-floattext">Settings: <span class="blue-grey-fg  font-size-15 line-height-15"> {{settingNumber}} </span>                                                </div>
                                        </div>
                                    </div>
                                    <!-- / Front -->
                                </fuse-widget>
                                <!-- / WIDGET 12 -->

                            </div>


                            <!-- WIDGET 13 -->
                            <fuse-widget class="" fxLayout="row" fxFlex="100">

                                <!-- Front -->
                                <div class="fuse-widget-front md-white-bg mat-elevation-z2">

                                    <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>

                                        <div fxFlex class="py-8 h3">Total Revenue Chart</div>

                                        <div fxFlex="0 1 auto" class="py-8" fxLayout="row">
                                            <md-icon class="mr-12 mt-12">calender</md-icon>
                                            <md-select fxFlex placeholder="Select Fiscal Year">
                                                <md-option *ngFor="let year of yearArray" [value]="year" (click)="getYear(year)">
                                                    {{year}}
                                                </md-option>
                                            </md-select>
                                        </div>
                                        <!--  <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                                            <md-icon class="mr-12 mt-12">library_books</md-icon>
                                           
                                        </div> -->

                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start end" fxLayoutWrap>
                                        <div class="h-420 mb-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="100">
                                            <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="mywidget5.scheme" [results]="this.widgets2.mywidget5.mainChart[this.mywidget5.currentRange]"
                                                [gradient]="mywidget5.gradient" [xAxis]="mywidget5.xAxis" [yAxis]="mywidget5.yAxis"
                                                [legend]="mywidget5.legend" [showXAxisLabel]="mywidget5.showXAxisLabel" [showYAxisLabel]="mywidget5.showYAxisLabel"
                                                [xAxisLabel]="mywidget5.xAxisLabel" [yAxisLabel]="mywidget5.yAxisLabel" (select)="mywidget5.onSelect($event)">
                                            </ngx-charts-bar-vertical-stacked>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 13 -->

                        </div>
                    </md-tab>
                    <!-- <md-tab label="License Expiration Date">
                        <p class="mr-15 pl-15 pr-15"><strong>License Expires: </strong><span>{{expiredate}}</span></p>
                    </md-tab> -->
                    <div *ngIf="error != ''">
                        <md-icon class="danger">announcement</md-icon>
                        <span class="danger">{{ error }}</span>
                    </div>
                    <div *ngIf="isextend">
                        <button fxLayoutAlign="end" (click)="extend()" color="warn">Extend License</button>
                    </div>
                </md-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <md-sidenav class="sidenav mat-sidenav-opened" align="end" opened="true" mode="side" fuseMdSidenavHelper="dashboards-right-sidenav"
            md-is-locked-open="gt-md">

            <div class="sidenav-content" perfect-scrollbar>
                <!-- WIDGET GROUP -->
                <div class="widget-group" fxLayout="column" fxFlex="100">

                    <!-- NOW WIDGET -->
                    <fuse-widget class="sidenav-widget p-0">

                        <!-- Front -->
                        <div class="fuse-widget-front">

                            <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                                <div class="h3 ml-8 mr-8">{{dateNow | date: 'EEEE, h:m:ss'}} </div>
                                <span class="reduce" fxFlex><button  fxLayoutAlign="end" *ngIf="demo" md-raised-button (click)="dbLogout()" color="warn">Demo Logout</button></span>
                                <!-- <div>
                                    <button md-icon-button [mdMenuTriggerFor]="moreMenu" aria-label="more">
                                        <md-icon>more_vert</md-icon>
                                    </button>

                                    <md-menu #moreMenu="mdMenu">
                                        <button md-menu-item aria-label="Flip widget">
                                            Details
                                        </button>
                                    </md-menu>
                                </div> -->
                            </div>

                            <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
                                <div class="h1 secondary-text">
                                    <span>{{dateNow | date: 'MMMM'}}</span>
                                </div>

                                <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                                    {{dateNow | date: 'd'}}
                                </div>

                                <div class="h1 secondary-text">
                                    <span>{{dateNow | date: 'y'}}</span>
                                </div>
                            </div>

                            <md-divider></md-divider>
                        </div>
                        <!-- / Front -->

                    </fuse-widget>
                    <!-- / NOW WIDGET -->


                    <!-- WEATHER WIDGET -->
                    <fuse-widget class="sidenav-widget p-0">

                        <!-- Front -->
                        <div class="fuse-widget-front">

                            <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                                <div *ngIf="cityName" class="h4" fxLayout="row" fxLayoutAlign="start center">
                                    <md-icon class="mr-8">place</md-icon>
                                    {{cityName}}
                                </div>

                                <div *ngIf="!cityName" class="h4" fxLayout="row" fxLayoutAlign="start center">
                                    <md-icon class="mr-8">place</md-icon>
                                    Lagos
                                </div>

                                <!--  <div>
                                    <button md-icon-button [mdMenuTriggerFor]="moreMenu" aria-label="more">
                                        <md-icon>more_vert</md-icon>
                                    </button>

                                    <md-menu #moreMenu="mdMenu">
                                        <button md-menu-item aria-label="Flip widget">
                                            Details
                                        </button>
                                    </md-menu>
                                </div> -->
                            </div>

                            <div class="p-16 pb-32" fxLayout="column" fxLayoutAlign="center center">

                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <span *ngIf="weatherImage"><img [src]= weatherImage /></span>
                                    <span *ngIf="!weatherImage"><md-icon class="mr-8">wb_sunny</md-icon></span>
                                    <span *ngIf="tempCelsius" class="mat-display-2 m-0 font-weight-300 secondary-text">
                                        {{tempCelsius}}
                                    </span>
                                    <span *ngIf="!tempCelsius" class="mat-display-2 m-0 font-weight-300 secondary-text">
                                        30
                                    </span>
                                    <span class="font-size-48 font-weight-300 hint-text text-super ml-8">°</span>
                                    <span class="mat-display-2 mb-0 font-weight-300 hint-text ng-binding">C</span>
                                </div>
                            </div>

                            <div class="grey-300-bg p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <md-icon fontSet="meteocons" fontIcon="icon-windy" class="mr-8 s-16"></md-icon>
                                    <span *ngIf="wind">
                                        {{wind}}
                                    </span>
                                    <span *ngIf="!wind">
                                        25
                                    </span>
                                    <span class="secondary-text ml-5">m/s</span>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <md-icon fontSet="meteocons" fontIcon="icon-compass" class="mr-8 s-16"></md-icon>
                                    <span *ngIf="windDegree">{{windDegree}}</span>
                                    <span *ngIf="!windDegree">NW</span>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <md-icon fontSet="meteocons" fontIcon="icon-rainy" class="mr-8 s-16"></md-icon>
                                    <span *ngIf="humidity">{{humidity}}%</span>
                                    <span *ngIf="!humidity">{{humidity}}%</span>
                                </div>
                            </div>

                            <div class="py-16">
                                <!--   <div class="py-16 px-24" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let day of widgets.weatherWidget.locations[widgets.weatherWidget.currentLocation].next3Days">
                                    <span class="h4">{{day.name}}</span>
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <md-icon fontSet="meteocons" [fontIcon]="day.icon" class="mr-16"></md-icon>
                                        <span class="h2">{{day.temp[widgets.weatherWidget.tempUnit]}}</span>
                                        <span class="h2 font-weight-300 secondary-text text-super">&deg;</span>
                                        <span class="h2 font-weight-300 secondary-text">{{widgets.weatherWidget.tempUnit}}</span>
                                    </div>
                                </div> -->

                                <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="secondary-text ml-5"> Cloudiness </span> &nbsp; &nbsp; <span *ngIf="weatherImage"><img [src]= weatherImage
                                    /></span> <span *ngIf="!weatherImage"><md-icon class="mr-8">cloud</md-icon></span>
                                    <span *ngIf="cloudiness" class="secondary-text ml-8">{{cloudiness}}</span>
                                    <span *ngIf="!cloudiness" class="secondary-text ml-8">Clear Sky</span>
                                </div>

                                <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="secondary-text ml-5"> Min Temperature </span> &nbsp;
                                    <span *ngIf="minimageExt"><img [src] = minweatherImage /></span> &nbsp;
                                    <span *ngIf="!minimageExt"><md-icon class="mr-8">ac_unit</md-icon></span>
                                    <span class="mat-display-1 m-0 font-weight-300 secondary-text">{{mintempCelsius}}</span>
                                    <span class="font-size-48 font-weight-300 hint-text text-super ml-8">°</span>
                                    <span class="mat-display-1 mb-0 font-weight-300 hint-text ng-binding">C</span>
                                </div>

                                <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="secondary-text ml-5"> Max Temperature </span> &nbsp;
                                    <span *ngIf="maximageExt"><img [src] = maxweatherImage /></span> &nbsp;
                                    <span *ngIf="!maximageExt"><md-icon class="mr-8">wb_sunny</md-icon></span>
                                    <span class="mat-display-1 m-0 font-weight-300 secondary-text">{{maxtempCelsius}}</span>
                                    <span class="font-size-48 font-weight-300 hint-text text-super ml-8">°</span>
                                    <span class="mat-display-1 mb-0 font-weight-300 hint-text ng-binding">C</span>
                                </div>

                                <div class="h4" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="secondary-text ml-5"> Visibility </span> &nbsp; &nbsp;
                                    <md-icon class="mr-8">visibility</md-icon>
                                    <span *ngIf="visibility" class="secondary-text ml-8">{{visibility }}m</span>
                                    <span *ngIf="!visibility" class="secondary-text ml-8">1000m</span>
                                </div>
                            </div>

                            <md-divider></md-divider>

                        </div>
                        <!-- / Front -->

                    </fuse-widget>
                    <!-- / WEATHER WIDGET -->

                </div>
                <!-- / WIDGET GROUP -->
            </div>

        </md-sidenav>
        <!-- / SIDENAV -->

    </md-sidenav-container>

</div>