@import "src/app/core/scss/fuse";

#dashboard-project {

    .color-transparent{
        background-color: transparent !important;
    }

    .bg-color{
     background-color: #248f24;
    }

    md-sidenav-container {

        .center {

            > .header {
                height: 160px;
                min-height: 160px;
                max-height: 160px;

                .selected-project {
                    background: rgba(0, 0, 0, 0.12);
                    color: #FFFFFF;
                    padding: 8px 16px;
                    height: 40px;
                    line-height: 24px;
                    font-size: 16px;
                }

                .project-selector {
                    margin-left: 1px;
                    border-radius: 0;
                    background: rgba(0, 0, 0, 0.12);

                    md-icon {
                        color: #FFFFFF;
                    }
                }
            }

            > .content {

                .mat-tab-label-container {
                    padding: 0 24px;
                }
            }
        }

        .sidenav {
            width: 250px !important;
            min-width: 250px !important;
            max-width: 250px !important;
        }
    }
}
 #co-size {
            width: 100% !important;
            height: 100%;
            font-size: 80px;   
        }

        .co-float{
         position: absolute;
         bottom: 25%;
         left: 40px;
        }

        .co-floattext{
        position: absolute;
        left: 15px;
        bottom:0%;
        }

    @media screen and (max-width:480px ){
     #co-size{ width: 25% !important;
            height: 25% !important;
            font-size: 25px !important;  }

    }
        #fuse-splash-screen {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #99e699;
            z-index: 99999;
            pointer-events: none;
        }

        #fuse-splash-screen .center {
            display: block;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        #fuse-splash-screen .logo {
            width: 96px;
            height: 96px;
            line-height: 96px;
            margin: 0 auto;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 56px;
            text-align: center;
            border-radius: 2px;
            background-color: #248f24;
            color: #FFFFFF;
            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.22);
        }

        #fuse-splash-screen .logo span img {
            max-width: 66px;
            height: auto;
            vertical-align: top;
            border: none;
            margin-top: 15px;
        }

        #fuse-splash-screen p {
            font-size: 13px;
            text-align: center;
            color: #000;
            margin-top: -10px;
        }

        #fuse-splash-screen h2 {
            margin-top: 40px;
            font-size: 20px;
            text-align: center;
            color: #000;
        }

        #fuse-splash-screen .spinner-wrapper {
            display: block;
            position: relative;
            width: 100%;
            min-height: 100px;
            height: 100px;
        }

        #fuse-splash-screen .spinner-wrapper .spinner {
            position: absolute;
            overflow: hidden;
            left: 50%;
            margin-left: -50px;
            animation: outer-rotate 2.91667s linear infinite;
        }

        #fuse-splash-screen .spinner-wrapper .spinner .inner {
            width: 100px;
            height: 100px;
            position: relative;
            animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
        }

        #fuse-splash-screen .spinner-wrapper .spinner .inner .gap {
            position: absolute;
            left: 49px;
            right: 49px;
            top: 0;
            bottom: 0;
            border-top: 10px solid;
            box-sizing: border-box;
        }

        #fuse-splash-screen .spinner-wrapper .spinner .inner .left,
        #fuse-splash-screen .spinner-wrapper .spinner .inner .right {
            position: absolute;
            top: 0;
            height: 100px;
            width: 50px;
            overflow: hidden;
        }

        #fuse-splash-screen .spinner-wrapper .spinner .inner .left .half-circle,
        #fuse-splash-screen .spinner-wrapper .spinner .inner .right .half-circle {
            position: absolute;
            top: 0;
            width: 100px;
            height: 100px;
            box-sizing: border-box;
            border: 10px solid #248f24;
            border-bottom-color: transparent;
            border-radius: 50%;
        }

        #fuse-splash-screen .spinner-wrapper .spinner .inner .left {
            left: 0;
        }

        #fuse-splash-screen .spinner-wrapper .spinner .inner .left .half-circle {
            left: 0;
            border-right-color: transparent;
            animation: left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
            -webkit-animation: left-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
        }

        #fuse-splash-screen .spinner-wrapper .spinner .inner .right {
            right: 0;
        }

        #fuse-splash-screen .spinner-wrapper .spinner .inner .right .half-circle {
            right: 0;
            border-left-color: transparent;
            animation: right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
            -webkit-animation: right-wobble 1.3125s cubic-bezier(0.35, 0, 0.25, 1) infinite;
        }

        @keyframes outer-rotate {
            0% {
                transform: rotate(0deg) scale(0.5);
            }
            100% {
                transform: rotate(360deg) scale(0.5);
            }
        }

        @keyframes left-wobble {
            0%,
            100% {
                transform: rotate(130deg);
            }
            50% {
                transform: rotate(-5deg);
            }
        }

        @keyframes right-wobble {
            0%,
            100% {
                transform: rotate(-130deg);
            }
            50% {
                transform: rotate(5deg);
            }
        }

        @keyframes sporadic-rotate {
            12.5% {
                transform: rotate(135deg);
            }
            25% {
                transform: rotate(270deg);
            }
            37.5% {
                transform: rotate(405deg);
            }
            50% {
                transform: rotate(540deg);
            }
            62.5% {
                transform: rotate(675deg);
            }
            75% {
                transform: rotate(810deg);
            }
            87.5% {
                transform: rotate(945deg);
            }
            100% {
                transform: rotate(1080deg);
            }
        }
        .reduce{
            width: 15px;
            font-size: 12px;
            text-align: center
        }
        .danger{
            color: red;
        }