<div class="page-layout carded fullwidth" perfect-scrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="start center">
            <h2>Insurance Schemes</h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card md-white-bg">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">
                <span>List of Insurance Schemes</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24" perfect-scrollbar>

                <md-grid-list fxFlex cols="3" rowHeight="2:1">
                    <md-grid-tile *ngFor="let loopCheckBox of loopCheckBoxs">
                        <md-checkbox (click)="click(loopCheckBox)" [value]="loopCheckBox.name" name="checkbox"></md-checkbox><span class="resize" fxFlex> {{loopCheckBox.name}} </span></md-grid-tile>
                </md-grid-list>

            </div>
            <!-- / CONTENT -->
            <button *ngIf="selected" md-raised-button (click)="newInsurancescheme()" class="mat-accent">
        NEXT
    </button>
       <button *ngIf="!selected" md-raised-button (click)="newInsurancescheme2()" class="mat-accent">
        NEXT
    </button>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>