/* md-grid-tile {
  background: lightblue;
}
 */ 
 .width{
    width: 800px;
    height: 2px
}
@media only screen and (max-width:360px){
  [class*="resize"] {
       font-size: 10px;
    }
}
.button{
    width: 30%;
    text-align: center;
    float: right
}