
<div *ngIf="mails.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <span class="no-messages-text hint-text">There are no messages!</span>
</div>

<fuse-mail-list-item md-ripple *ngFor="let mail of mails" [mail]="mail" (click)="readMail(mail.id)" 
                     [ngClass]="{'current-mail':mail?.id == currentMail?.id}">
</fuse-mail-list-item>
<button (click)="click()">CLICK ME</button>