<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType==='Patient'"> 
        <md-cell *cdkCellDef="let appointment">
           <!--  <md-checkbox [(ngModel)]="checkboxes[appointment.id]" (ngModelChange)="onSelectedChange(appointment.id)" (click)="$event.stopPropagation()">
            </md-checkbox> -->
        </md-cell>
        </div>

        <div *ngIf="localStorageType!=='Patient'">
        <md-cell *cdkCellDef="let appointment">
            <md-checkbox [(ngModel)]="checkboxes[appointment.id]" (ngModelChange)="onSelectedChange(appointment.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
        </div>
        
    </ng-container>

    <!-- Title Column -->
    <ng-container cdkColumnDef="title">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxHide fxShow.gt-sm>Title</md-header-cell>
        <md-cell *cdkCellDef="let appointment" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{appointment.title}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Doctor Column -->
    <ng-container cdkColumnDef="doctor">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Doctor</md-header-cell>
        <md-cell *cdkCellDef="let appointment"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{appointment.doctor_id}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Patient Column -->
    <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-md>Patient</md-header-cell>
        <md-cell *cdkCellDef="let appointment" fxShow.gt-md>
            <p class="phone text-truncate">
                {{appointment.patient_id}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="status">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Status</md-header-cell>
        <md-cell *cdkCellDef="let appointment" fxHide fxShow.gt-md>
            <p class="job-title text-truncate">
                {{appointment.status}}
            </p>
        </md-cell>
    </ng-container>

    <!-- startTime Column -->
    <ng-container cdkColumnDef="starttime">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Start Time</md-header-cell>
        <md-cell *cdkCellDef="let appointment" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{appointment.startTime}}
            </p>
        </md-cell>
    </ng-container>

    <!-- endTime Column -->
    <ng-container cdkColumnDef="endtime">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>End Time</md-header-cell>
        <md-cell *cdkCellDef="let appointment" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{appointment.endTime}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let appointment">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--<button md-menu-item aria-label="remove" (click)="deleteappointment(appointment)">
                    <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <div *ngIf="localStorageType==='Patient'">
        <md-row *cdkRowDef="let appointment; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[appointment.appointment_id]}"
            md-ripple>
        </md-row>
    </div>

    <div *ngIf="localStorageType!=='Patient'">
        <md-row *cdkRowDef="let appointment; columns: displayedColumns;" (click)="editAppointment(appointment)" [ngClass]="{'md-light-blue-50-bg':checkboxes[appointment.appointment_id]}"
            md-ripple>
        </md-row>
    </div>
</md-table>

<md-paginator #paginator
                [length]="appointments.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-appointment-button" (click)="newAppointment($event)"
    aria-label="add appointment">
    <md-icon>assignment</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->