<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="blood_saleForm">

        <input type="hidden" [(ngModel)]="priceId" name="priceId" formControlName="priceId" placeholder="price Id">
        <input type="hidden" [(ngModel)]="patientId" name="patientId" formControlName="patientId" placeholder="Patient Id">
        <input type="hidden" [(ngModel)]="bloodId" name="blood_groupId" formControlName="blood_groupId" placeholder="Blood Group Id">
        <input type="hidden" [(ngModel)]="labId" name="staffId" formControlName="staffId" placeholder="Lab Id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-select formControlName="patient" fxFlex placeholder="Select Patient">
                <md-option *ngFor="let patient of patientss" [value]="patient.name" (click)="getPId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">account_circle</md-icon>
            <md-input-container fxFlex>
                <input name="sex" [(ngModel)]="patientSex" formControlName="sex" mdInput placeholder="Sex" disabled> 
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">opacity</md-icon>
            <md-input-container fxFlex>
                <input [(ngModel)]="patientBlood" name="patient_bloodgroup" formControlName="patient_bloodgroup" mdInput placeholder="Patient Blood Group">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-select formControlName="lab_name" fxFlex placeholder="Select Laboratorist">
                <md-option *ngFor="let lab of labss" [value]="lab.name" (click)="getLId(lab)">
                    {{lab.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">opacity</md-icon>
            <md-select formControlName="blood_group" fxFlex placeholder="Select Blood Group for Sale">
                <md-option *ngFor="let blood_bank of blood_bankss" [value]="blood_bank.blood_group" (click)="getBId(blood_bank)">
                    {{blood_bank.blood_group}}
                </md-option>
            </md-select>
        </div>


        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">attach_money</md-icon>
            <md-select [(ngModel)]="blood_sale.price" formControlName="price" fxFlex placeholder="Select Price">
                <md-option *ngFor="let price of pricess" [value]="price.price" (click)="getPRId(price)">
                    {{price.price}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">filter_9_plus</md-icon>
            <md-input-container fxFlex>
                <input [(ngModel)]="blood_sale.amount_blood" (ngModelChange)="sumTotal()" name="amount_blood" formControlName="amount_blood" mdInput placeholder="Amount of Blood in Pint">
            </md-input-container>
        </div>

          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input [(ngModel)]="blood_sale.insurancename" name="insurancename" formControlName="insurancename" mdInput placeholder="Insurance of Patient">
            </md-input-container>
        </div>

          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">more_horitz</md-icon>
            <md-input-container fxFlex>
                <input [(ngModel)]="blood_sale.insurancepercent" name="insurancepercent" formControlName="insurancepercent" mdInput placeholder="Percentage of Insurance">
            </md-input-container>
        </div>
        

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="date" formControlName="date" [mdDatepicker]="birthdayDatePicker" placeholder="Last Donation Date">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">monetization_on</md-icon>
            <md-input-container fxFlex>
                <input  [(ngModel)]="blood_sale.total" name="total" formControlName="total" mdInput placeholder="Total">
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(blood_saleForm)" class="save-button mat-accent"
        [disabled]="blood_saleForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',blood_saleForm])" class="save-button mat-accent"
        [disabled]="blood_saleForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',blood_saleForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>