.staff-form-dialog {

    .color-transparent{
        background-color: transparent !important;
    }

    .mat-dialog-container {
         padding: 0;
        width: 600px !important ;
        max-height: 90vh;

        .toolbar-bottom {
            height: 200px;
        }
    }
}

:host {
    display: flex;
    flex-direction: column;
}

body {
  text-align: center;
}
.img3{
    width: 300px;
    height: 250px
}

section {
  width: 81%;
  margin: auto;
  text-align: left;
}

.avatar2{
    width:250px;
    height: 200px;
}