<md-toolbar id="receipt-head" md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div id="printable" md-dialog-content class="p-24 m-0 " perfect-scrollbar>


    <div class="mb-24 mr-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">title</md-icon>
        <span class="font-size-15 h3 font-weight-500"> {{hospitalName}} </span>
    </div>


    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">mail</md-icon>
        {{hospitalEmail}}
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">phone</md-icon>
        {{hospitalPhone}}
    </div>
    <hr/>

    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">person</md-icon>
        <span class="font-size-15 font-weight-500"> PATIENT NAME: </span> <span class="ml-8"> {{patientName}}</span>
    </div>

    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">filter_2</md-icon>
        <span class="font-size-15 font-weight-500"> PHARMACIST NAME: </span> <span class="ml-8"> {{pharmName}}</span>
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">event</md-icon>
        <span class="font-size-15 font-weight-500"> Date: </span> <span class="ml-8"> {{saleDate}}</span>
    </div>

    <div fxLayout="row">
        <span class="font-size-15 font-weight-500 mr-20" fxLayoutAlign="start start"> QUANTITY </span>
        <span class="font-size-15 font-weight-500 mr-20" fxLayoutAlign="center" fxFlex> MEDICINE DETAILS </span>
        <span class="font-size-15 font-weight-500 ml-19" fxLayoutAlign="end" fxFlex>
            UNIT PRICE
            </span>
    </div>

    <div *ngFor="let quantity of quantityss" fxLayout="row">
        <span fxLayoutAlign="start start"> {{quantity.quantity}} </span>
        <span fxLayoutAlign="center" class="ml-44" fxFlex>{{quantity.medicine}}</span>
        <span fxLayoutAlign="end" class="ml-5" fxFlex>{{displayCurrencys}} {{quantity.price}}</span>
    </div>
    <hr/>

    <div fxLayout="row">
        <span fxLayoutAlign="start start" class="total">TOTAL</span>
        <span fxLayoutAlign="end" fxFlex>{{displayCurrencys}} {{totalAmount}}</span>
    </div>

    <br>
    <div fxLayout="row" class="footer  invoice-data4">
        <div class="note" fxFlex>You were served by {{pharmName}}. Thank you for patronising us</div>

    </div>

</div>

<div md-dialog-actions id="print-head" class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button md-raised-button (click)="print()" class="save-button mat-accent" aria-label="SAVE" #childtext>
        PRINT RECEIPT
    </button>

</div>