<div id="printArea">
    <div class="ml-8 mt-8" fxLayout="row" fxLayoutAlign="start">
        <img *ngIf="image" class="avatar" [src]="_DomSanitizer.bypassSecurityTrustUrl(image2)">
        <img *ngIf="!image" class="avatar" src="assets/images/avatars/profile.jpg">
        <span class="username mr-12 mt-4" fxShow.gt-md><h3><strong>{{patientName}}</strong></h3></span>
    </div>
    <div class="ml-8">
        <h4><span class="font-weight-600">Address :</span> {{patientAddress}} <span fxLayoutAlign="end" fxFlex>
             <button class="print2 mr-8" color="warn" title="consultancy" md-raised-button (click)="navConsultancy()">CONSULTANCY</button></span></h4>
    </div>
    <div class="ml-8">
        <h4><span class="font-weight-600">Phone Number :</span> {{patientPhone}} <span fxLayoutAlign="end" fxFlex>
        <button class="print mr-8" color="warn" title="Print" md-mini-fab (click)="printRecord()"><md-icon class="white">print</md-icon></button>
    </span> </h4>
    </div>
    <div class="ml-8">
        <h4><span class="font-weight-600">Email :</span> {{patientEmail}} </h4>
    </div>

    <form margin-top (ngSubmit)="submit()">
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            General</p>

        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8 hide" *ngFor="let gen of general;let i = index">


            <md-checkbox (ngModelChange)="click($event)" class="mr-20 hide" *ngIf="gen.type=='checkbox'" mdInput [(ngModel)]="record[gen.name]"
                name="gen.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>

            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{gen.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{record[gen.name]}} </span>

            <md-input-container *ngIf="gen.type=='input'" fxFlex>
                <input class="hide ml-40" [(ngModel)]="record[gen.name]" name="gen.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="gen.type=='text'" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="record[gen.name]" name="gen.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="gen.type=='date'" fxFlex>
                <button mdSuffix class="hide color-transparent" [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" [(ngModel)]="record[gen.name]" name="gen.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>

        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Medical History</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let medhis of medicalhistory;let i = index">
            <md-checkbox class="mr-20 hide" *ngIf="medhis.type=='checkbox'" [(ngModel)]="record[medhis.name]" name="medhis.{{i}}.name"
                fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medhis.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{record[medhis.name]}} </span>

            <md-input-container *ngIf="medhis.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="record[medhis.name]" name="medhis.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="medhis.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="record[medhis.name]" name="medhis.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="medhis.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button mdSuffix class="hide" [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="record[medhis.name]" name="medhis.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>


        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Social History</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let sochis of socialhistory;let i = index">
            <md-checkbox class="mr-20" *ngIf="sochis.type=='checkbox'" [(ngModel)]="record[sochis.name]" name="sochis.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{sochis.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{record[sochis.name]}} </span>

            <md-input-container *ngIf="sochis.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="record[sochis.name]" name="sochis.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="sochis.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="record[sochis.name]" name="sochis.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="sochis.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="record[sochis.name]" name="sochis.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>


        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Medical Conditions</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let medcond of medicalconditions;let i = index">
            <md-checkbox class="mr-20" *ngIf="medcond.type=='checkbox'" [(ngModel)]="record[medcond.name]" name="medcond.{{i}}.name"
                fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{medcond.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{record[medcond.name]}} </span>

            <md-input-container *ngIf="medcond.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="record[medcond.name]" name="medcond.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="medcond.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="record[medcond.name]" name="medcond.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="medcond.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="record[medcond.name]" name="medcond.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>

        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Current Medications</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let currentmed of currentmedications;let i = index">
            <md-checkbox class="mr-20" *ngIf="currentmed.type=='checkbox'" [(ngModel)]="record[currentmed.name]" name="currentmed.{{i}}.name"
                fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{currentmed.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{record[currentmed.name]}} </span>

            <md-input-container *ngIf="currentmed.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="record[currentmed.name]" name="currentmed.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="currentmed.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" *ngIf="currentmed.type=='text'" [(ngModel)]="record[currentmed.name]" name="currentmed.{{i}}.name"
                    mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="currentmed.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="record[currentmed.name]" name="currentmed.{{i}}.name" mdInput
                    [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>


        </md-card>
        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Family History</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let famhis of familyhistory;let i = index">
            <md-checkbox class="mr-20" *ngIf="famhis.type=='checkbox'" [(ngModel)]="record[famhis.name]" name="famhis.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{famhis.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{record[famhis.name]}} </span>

            <md-input-container *ngIf="famhis.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="record[famhis.name]" name="famhis.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="famhis.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="record[famhis.name]" name="famhis.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="famhis.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="record[famhis.name]" name="famhis.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>


        </md-card>

        <p class="font-weight-800 mb-8 ml-8 mr-8">
            Notes</p>
        <md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let note of notes;let i = index">
            <md-checkbox class="mr-20" *ngIf="note.type=='checkbox'" [(ngModel)]="record[note.name]" name="note.{{i}}.name" fxLayoutAlign="start">
            </md-checkbox>
            <label class="font-weight-800 grey margin" text-bold text-uppercase>{{note.name.toUpperCase()}}</label>
            <span class="hidden margin2"> {{record[note.name]}} </span>

            <md-input-container *ngIf="note.type=='input'" fxLayoutAlign="center center" fxFlex>
                <input class="hide ml-40" [(ngModel)]="record[note.name]" name="note.{{i}}.name" text-center type="text" mdInput>
            </md-input-container>

            <md-input-container *ngIf="note.type=='text'" fxLayoutAlign="center center" fxFlex>
                <textarea class="hide ml-40" [(ngModel)]="record[note.name]" name="note.{{i}}.name" mdInput md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>

            <md-input-container *ngIf="note.type=='date'" fxLayoutAlign="center center" fxFlex>
                <button class="hide" mdSuffix [mdDatepickerToggle]="accountopen"></button>
                <input class="hide ml-40" placeholder="dd/mm/yyyy" [(ngModel)]="record[note.name]" name="note.{{i}}.name" mdInput [mdDatepicker]="accountopen">
            </md-input-container>
            <md-datepicker class="hide" #accountopen></md-datepicker>


        </md-card>

        <div fxLayout="row" fxLayoutAlign="center center">
            <button md-raised-button type="submit" class="save-button mat-accent facebook hide" aria-label="SAVE">
        SAVE
    </button>
        </div>
    </form>
</div>
<!-- ADD CONTACT BUTTON -->
<!-- <button md-fab class="md-accent-bg" id="add-record-button" (click)="newRecord($event)" aria-label="add record">
    <md-icon>add</md-icon>
</button> -->
<!-- / ADD CONTACT BUTTON -->