<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="prescriptionForm">
        <fieldset [disabled]="disabled">
        <input type="hidden" [(ngModel)]="prescription.nameId" name="name_Id" formControlName="nameId" placeholder="Id">
        <input type="hidden" [(ngModel)]="prescription.patientId" name="patientId" formControlName="patientId" placeholder="Id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-select formControlName="doctor_id" fxFlex placeholder="Doctor's name" required>
                <md-option *ngFor="let doctor of doctors" name="doctor_id" [value]="doctor.name" (click)="getDId(doctor)">
                    {{doctor.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">local_hotel</md-icon>
            <md-select fxFlex formControlName="patient_id" placeholder="Patient's name" required>
                <md-option name="patient_id" *ngFor="let patient of patients" [value]="patient.name" (click)="getPId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="timestamp" formControlName="timestamp" [mdDatepicker]="birthdayDatePicker" placeholder="Date">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <label>Enter Case History</label>
            <md-icon class="mr-12 mt-12">content_paste</md-icon>
            <md-input-container fxFlex>
                <div [froalaEditor] formControlName="case_history">
                    <input name="case_history" mdInput placeholder="Enter Case History">
                </div>
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <label>Enter Medication</label>
            <md-icon class="mr-12 mt-12">control_point</md-icon>
            <md-input-container fxFlex>
                <div [froalaEditor] formControlName="medication">
                    <input name="medication" mdInput placeholder="Enter Medication">
                </div>
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <label>Enter Note</label>
            <md-icon class="mr-12 mt-12">note_add</md-icon>
            <md-input-container fxFlex>
                <div [froalaEditor] formControlName="note">
                    <input name="note" mdInput placeholder="Enter Note">
                </div>
            </md-input-container>
        </div>
   </fieldset>
    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(prescriptionForm)" class="save-button mat-accent"
        [disabled]="prescriptionForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',prescriptionForm])" class="save-button mat-accent"
        [disabled]="prescriptionForm.invalid || disabled" aria-label="SAVE">
        SAVE
    </button>

    <button [disabled]="disabled" *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',prescriptionForm])"
        aria-label="Delete" md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>