<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let followup">
            <md-checkbox [(ngModel)]="checkboxes[followup.id]" (ngModelChange)="onSelectedChange(followup.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>


    <!-- Busnumber Column -->
    <ng-container cdkColumnDef="antenatalid">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Patient name</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{followup.antenatalid}}
            </p>
        </md-cell>
    </ng-container>

     <!-- type Column -->
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Date of Visit</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{followup.date}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Description Column -->
    <ng-container cdkColumnDef="heightoffunds">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Height of Funds</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{followup.heightoffunds}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Status Column -->
    <ng-container cdkColumnDef="pp">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Presentation & Position</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{followup.pp}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Status Column -->
      <ng-container cdkColumnDef="urine">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Urine</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{followup.urine}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Status Column -->
     <ng-container cdkColumnDef="bp">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>B.P</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{followup.bp}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="weight">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Weight</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{followup.weight}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Status Column -->
     <ng-container cdkColumnDef="hb">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Hb</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{followup.hb}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Status Column -->
     <ng-container cdkColumnDef="oedema">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Oedema</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{followup.oedema}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Status Column -->
     <ng-container cdkColumnDef="remarks">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Remarks</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{followup.remarks}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="fheart">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Foetal Heart</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{followup.fheart}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Status Column -->
     <ng-container cdkColumnDef="rbp">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Relations of Presenting part of brim</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{followup.rbp}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="ga">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Gestational Age</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{followup.ga}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Status Column -->
     <ng-container cdkColumnDef="nextvisit">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Next Visit</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{followup.nextvisit}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="initialexaminer">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Initial Examiner</md-header-cell>
        <md-cell *cdkCellDef="let followup" (click)="editfollowup(followup)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{followup.initialexaminer}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let followup">
            <div fxFlex="row" fxLayoutAlign="end center">
               <!-- <button md-menu-item aria-label="remove" (click)="deletefollowup(followup)">
                    <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let followup; columns: displayedColumns;"
            
            [ngClass]="{'md-light-blue-50-bg':checkboxes[followup.followup_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="followups.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-followup-button" (click)="newfollowup($event)" aria-label="add followup">
    <md-icon>airline_seat_individual_suite</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
