<div id="pharmacists" class="page-layout simple left-sidenav inner-sidenav" fxLayout="column" perfect-scrollbar>

    <!-- HEADER -->
    <div class="header md-accent-bg p-24" fxLayout="column" fxLayoutAlign="start start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button md-button class="mat-icon-button sidenav-toggle mr-12"
                    fuseMdSidenavToggler="pharmacists-main-sidenav"
                    fxHide.gt-md>
                <md-icon>menu</md-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <md-icon class="logo-icon mr-16">local_pharmacy</md-icon>
                <span class="logo-text h1">Pharmacists</span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper mt-16 ml-8 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
            <label for="search" class="mr-8">
                <md-icon>search</md-icon>
            </label>
            <md-input-container md-no-float class="m-0" floatPlaceholder="never">
                <input mdInput [formControl]="searchInput" id="search" placeholder="Search for anything">
            </md-input-container>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- SELECTED BAR -->
    <fuse-selected-bar class="md-accent-600-bg" *ngIf="hasSelectedPharmacists" [@slideInTop]></fuse-selected-bar>
    <!-- / SELECTED BAR -->

    <md-sidenav-container>
        <!-- CENTER -->
        <div class="center p-24 pr-sm-92" perfect-scrollbar>

            <!-- CONTENT -->
            <div class="content md-white-bg mat-elevation-z4">

                <fuse-pharmacists-pharmacist-list></fuse-pharmacists-pharmacist-list>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </md-sidenav-container>

</div>
