<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let medicine_category">
            <md-checkbox [(ngModel)]="checkboxes[medicine_category.id]" (ngModelChange)="onSelectedChange(medicine_category.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let medicine_category" fxShow.gt-sm>
            <p class="email text-truncate">
                {{medicine_category.name}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-sm>Description</md-header-cell>
        <md-cell *cdkCellDef="let medicine_category" fxShow.gt-sm>
            <p class="email text-truncate">
                {{medicine_category.description}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let medicine_category">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletemedicine_category(medicine_category)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let medicine_category; columns: displayedColumns;"
            (click)="editMedicine_category(medicine_category)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[medicine_category.medicine_category_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="medicine_categorys.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-medicine_category-button" (click)="newMedicine_category($event)" aria-label="add medicine_category">
    <md-icon>add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
