<md-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let message_thread">
            <md-checkbox [(ngModel)]="checkboxes[message_thread.id]" (ngModelChange)="onSelectedChange(message_thread.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Busname Column -->
    <ng-container cdkColumnDef="message_thread">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>message_thread Name</md-header-cell>
        <md-cell *cdkCellDef="let message_thread" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{message_thread.title}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let message_thread">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletemessage_thread(message_thread)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let message_thread; columns: displayedColumns;"
            (click)="editMessage_thread(message_thread)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[message_thread.message_thread_id]}"
            md-ripple>
    </md-row>
</md-table>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-message_thread-button" (click)="newMessage_thread($event)" aria-label="add message_thread">
    <md-icon>business</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
