<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let laboratorist">
            <md-checkbox [(ngModel)]="checkboxes[laboratorist.id]" (ngModelChange)="onSelectedChange(laboratorist.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Laboratoristname Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let laboratorist" fxShow.gt-sm (click)="editLaboratorist(laboratorist)">
            <p class="email text-truncate">
                {{laboratorist.name}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Address</md-header-cell>
        <md-cell *cdkCellDef="let laboratorist" fxHide fxShow.gt-md (click)="editLaboratorist(laboratorist)">
            <p class="email text-truncate">
                {{laboratorist.address}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Phone</md-header-cell>
        <md-cell *cdkCellDef="let laboratorist" fxShow.gt-md (click)="editLaboratorist(laboratorist)">
            <p class="email text-truncate">
                {{laboratorist.phone}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Email</md-header-cell>
        <md-cell *cdkCellDef="let laboratorist" fxHide fxShow.gt-lg (click)="editLaboratorist(laboratorist)">
            <p class="email text-truncate">
                {{laboratorist.email}}
            </p>
        </md-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let laboratorist">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-menu-item aria-label="remove" (click)="viewLabReport(report)">
                   <md-icon>receipt</md-icon>
                    <!-- <span>Edit</span> -->
                </button>
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let laboratorist; columns: displayedColumns;"  [ngClass]="{'md-light-blue-50-bg':checkboxes[laboratorist.laboratorist_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="laboratorists.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-laboratorist-button" (click)="newLaboratorist($event)" aria-label="add laboratorist">
    <md-icon>group_add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->