@import "src/app/core/scss/fuse";

:host {
    flex: 1;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;
                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}

#add-laboratorist-button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;

    @include media-breakpoint-down('xs') {
        top: 12px;
    }
}
