<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let medicine_sale">
            <md-checkbox [(ngModel)]="checkboxes[medicine_sale.id]" (ngModelChange)="onSelectedChange(medicine_sale.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Medicine Column -->
    <ng-container cdkColumnDef="medicine">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Medicines</md-header-cell>
        <md-cell *cdkCellDef="let medicine_sale" (click)="editMedicine_sale(medicine_sale)" fxShow.gt-sm>
            <p class="email text-truncate">
                {{medicine_sale.medicines}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container cdkColumnDef="price">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Total Price</md-header-cell>
        <md-cell *cdkCellDef="let medicine_sale" (click)="editMedicine_sale(medicine_sale)" fxShow.gt-md>
            <p class="email text-truncate">
                {{medicine_sale.total_amount}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Patient Column -->
    <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef fxHide md-sort-header fxShow.gt-md>Patient</md-header-cell>
        <md-cell *cdkCellDef="let medicine_sale" (click)="editMedicine_sale(medicine_sale)" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{medicine_sale.patient_id}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Date Column -->
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Date</md-header-cell>
        <md-cell *cdkCellDef="let medicine_sale" (click)="editMedicine_sale(medicine_sale)" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{medicine_sale.date}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let medicine_sale">
            <div fxFlex="row" fxLayoutAlign="end center">
                 <button md-menu-item aria-label="remove" (click)="viewMedicine_sale(medicine_sale)">
                   <md-icon>visibility</md-icon>
                   
                </button>
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let medicine_sale; columns: displayedColumns;"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[medicine_sale.medicine_sale_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="medicine_sales.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-medicine_sale-button" (click)="newMedicine_sale($event)" aria-label="add medicine_sale">
    <md-icon>add_shopping_cart</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
