<div class="my-container">
    <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: 'rgba(145, 230, 242, 0.3)', backdropBorderRadius: '20px',
        primaryColour: '#53a7fc', secondaryColour: '#53a7fc', tertiaryColour: '#53a7fc' }"></ngx-loading>

</div>

<div id="forgot-password" fxLayout="column" perfect-scrollbar>

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form">

            <div class="logo">
                <span><img src="assets/images/logos/hospii.png" /></span>
            </div>
            <br>
            <div class="title">CREATE ADMIN</div>

            <form name="createAccountForm" [formGroup]="createAccountForm" novalidate>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">library_books</md-icon>
                    <md-input-container fxFlex>
                        <input name="department_id" formControlName="department_id" mdInput placeholder="Admin Department">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">group</md-icon>
                    <md-input-container fxFlex>
                        <input type="label" [value]="userTypes" name="usertype" formControlName="usertype" mdInput placeholder="User Type">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">person</md-icon>
                    <md-input-container fxFlex>
                        <input name="name" formControlName="name" mdInput placeholder="Staff Name">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">mail</md-icon>
                    <md-input-container fxFlex>
                        <input type="email" [(ngModel)]="username" (ngModelChange)="checkUser()" name="email" formControlName="email" mdInput placeholder="Staff Email">
                    </md-input-container>
                </div>
                <label class="danger" no-margin>{{errorMessageUser}}</label>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">enhanced_encryption</md-icon>
                    <md-input-container fxFlex>
                        <input [(ngModel)]="password" type="password" name="password" formControlName="password" mdInput placeholder="Enter Password">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">domain</md-icon>
                    <md-input-container fxFlex>
                        <input name="address" formControlName="address" mdInput placeholder="Enter Address">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">phone</md-icon>
                    <md-input-container fxFlex>
                        <input name="phone" formControlName="phone" mdInput placeholder="Enter Phone">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">feedback</md-icon>
                    <md-input-container fxFlex>
                        <input name="secretquestion" formControlName="secretquestion" mdInput placeholder="Secret Question for account recovery (Applicable to only Admin)">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">question_answer</md-icon>
                    <md-input-container fxFlex>
                        <input name="answer" formControlName="answer" mdInput placeholder=" Answer to Secret Question (Applicable to only Admin)">
                    </md-input-container>
                </div>

                <!-- ADD FILE BUTTON -->
                <div class="file-uploader">
                    <input hidden name="files" type="file" id="fileupload" #fileInput required/>
                    <button md-fab class="add-file-button mat-warn" (click)="fileInput.click()" aria-label="Add file">
                        <md-icon>create_new_folder</md-icon>
                    </button>
                </div>
                <!-- / ADD FILE BUTTON -->
                <div id="img3">

                </div>

                <button (click)="save()" md-raised-button class="submit-button" color="accent" aria-label="SUBMIT" [disabled]="createAccountForm.invalid || disabled">
                    SUBMIT
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <button class="color-transparent" (click)="navLP()"> <a class="link">Go back to login</a></button>
            </div>

        </div>

    </div>

</div>