<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button"
                (click)="dialogRef.close()"
                aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="followupForm">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">pregnant_woman</md-icon>
            <md-input-container fxFlex>
                <input ng2-auto-complete [source]="antenatalArray" list-formatter="firstname" (valueChanged)="selectAntenatals($event)" name="antenatalid" formControlName="antenatalid" mdInput placeholder="Antenatal Patient Name">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="date" formControlName="date" [mdDatepicker]="birthdayDatePicker" placeholder="Date">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>
        
       <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">looks_one</md-icon>
            <md-input-container fxFlex>
                <input name="ga" formControlName="ga" mdInput placeholder="Gestational Age(G.A)">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">merge_type</md-icon>
            <md-input-container fxFlex>
                <input name="heightoffunds" formControlName="heightoffunds" mdInput placeholder="Height of Funds">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">nature</md-icon>
            <md-input-container fxFlex>
                <input name="pp" formControlName="pp" mdInput placeholder="Presentation and Position">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">new_releases</md-icon>
            <md-input-container fxFlex>
                <input name="rpb" formControlName="rpb" mdInput placeholder="Relations of Presenting Part of Brim">
            </md-input-container>
        </div> 

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">opacity</md-icon>
            <md-input-container fxFlex>
                <input name="fheart" formControlName="fheart" mdInput placeholder="Foetal Heart">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">pause_circle_outline</md-icon>
            <md-input-container fxFlex>
                <input name="urine" formControlName="urine" mdInput placeholder="Urine">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">radio_button_checked</md-icon>
            <md-input-container fxFlex>
                <input name="bp" formControlName="bp" mdInput placeholder="B.P">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">rate_review</md-icon>
            <md-input-container fxFlex>
                <input name="weight" formControlName="weight" mdInput placeholder="Weight">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">reorder</md-icon>
            <md-input-container fxFlex>
                <input name="hb" formControlName="hb" mdInput placeholder="Hb">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">settings_input_antenna</md-icon>
            <md-input-container fxFlex>
                <input name="oedema" formControlName="oedema" mdInput placeholder="Oedema">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">check_circle</md-icon>
            <md-input-container fxFlex>
                <input name="remarks" formControlName="remarks" mdInput placeholder="Remarks">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker1"></button>
                <input mdInput name="nextvisit" formControlName="nextvisit" [mdDatepicker]="birthdayDatePicker1" placeholder="Next Visit">
            </md-input-container>
            <md-datepicker #birthdayDatePicker1></md-datepicker>
        </div> 

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-input-container fxFlex>
                <input name="initialexaminer" formControlName="initialexaminer" mdInput placeholder="Initial Examiner">
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'"
            md-raised-button
            (click)="dialogRef.close(followupForm)"
            class="save-button mat-accent"
            [disabled]="followupForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-raised-button
            (click)="dialogRef.close(['save',followupForm])"
            class="save-button mat-accent"
            [disabled]="followupForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-button
            class="mat-icon-button"
            (click)="dialogRef.close(['delete',followupForm])"
            aria-label="Delete"
            md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>
