<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let insurancetype">
            <md-checkbox [(ngModel)]="checkboxes[insurancetype.id]" (ngModelChange)="onSelectedChange(insurancetype.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-lg>Name</md-header-cell>
        <md-cell *cdkCellDef="let insurancetype"  fxShow.gt-lg>
            <p class="email text-truncate">
                {{insurancetype.name}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Percentage Column -->
    <ng-container cdkColumnDef="percentage">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-lg>Percentage</md-header-cell>
        <md-cell *cdkCellDef="let insurancetype"  fxShow.gt-lg>
            <p class="email text-truncate">
                {{insurancetype.percentage}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Descripiton Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-lg>Descripiton</md-header-cell>
        <md-cell *cdkCellDef="let insurancetype"  fxShow.gt-lg>
            <p class="email text-truncate">
                {{insurancetype.description}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let insurancetype">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deleteinsurancetype(insurancetype)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let insurancetype; columns: displayedColumns;"
            (click)="editInsurancetype(insurancetype)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[insurancetype.insurancetype_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="insurancetypes.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-insurancetype-button" (click)="newInsurancetype($event)" aria-label="add insurancetype">
    <md-icon>library_add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
