
@import "src/app/core/scss/fuse";

@media print {
  #print {
    height: 100%;
    width: 100%;
    overflow: visible !important;
  }
}
  @media print {
        md-content {
            overflow: visible !important;
        }
          #print-head{
            display:none;
          }
   }
        .back-button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;

    @include media-breakpoint-down('xs') {
        top: 12px;
    }
}