<div perfect-scrollbar fxLayoutAlign="center" fxFlex>
    <div id="printable" class="p-24 m-0 ">


        <div class="ml-8 mt-8" fxLayout="row" fxLayoutAlign="start">
            <img *ngIf="image" class="avatar" [src]="_DomSanitizer.bypassSecurityTrustUrl(urlRecord)">
            <img *ngIf="!image" class="avatar" src="assets/images/avatars/profile.jpg">
            <span class="username mr-12 mt-4" fxShow.gt-md><h3><strong>{{patientName}}</strong></h3></span>
        </div>

        <div class="ml-8">
            <h4><span class="font-weight-600">Address :</span> {{patientAddress}} <span fxLayoutAlign="end" fxFlex>
        </span></h4>
        </div>

        <div class="ml-8">
            <h4><span class="font-weight-600">Phone Number :</span> {{patientPhone}} <span fxLayoutAlign="end" fxFlex>
    </span> </h4>
        </div>

        <div class="ml-8">
            <h4><span class="font-weight-600">Email :</span> {{patientEmail}} </h4>
        </div>

        <div class="font-weight-800 mb-8 ml-8 mr-8"> GENERAL </div>

        <div *ngFor="let gen of general;let i = index" class="mb-8 ml-8 mr-8">
            <label class="font-weight-500 grey margin" text-uppercase>{{gen.name.toUpperCase()}}:</label>
            <span class="hidden margin2"> {{record[gen.name]}} </span>
        </div>

        <div class="font-weight-800 mb-8 ml-8 mr-8"> MEDICAL HISTORY </div>

        <div *ngFor="let medhis of medicalhistory;let i = index" class="mb-8 ml-8 mr-8">
            <label class="font-weight-500 grey margin" text-uppercase>{{medhis.name.toUpperCase()}}:</label>
            <span class="hidden margin2"> {{record[medhis.name]}} </span>
        </div>

        <div class="font-weight-800 mb-8 ml-8 mr-8"> SOCIAL HISTORY</div>

        <div *ngFor="let sochis of socialhistory;let i = index" class="mb-8 ml-8 mr-8">
            <label class="font-weight-500 grey margin" text-uppercase>{{sochis.name.toUpperCase()}}:</label>
            <span class="hidden margin2"> {{record[sochis.name]}} </span>
        </div>

        <div class="font-weight-800 mb-8 ml-8 mr-8"> MEDICAL CONDITIONS</div>

        <div *ngFor="let medcond of medicalconditions;let i = index" class="mb-8 ml-8 mr-8">
            <label class="font-weight-500 grey margin" text-uppercase>{{medcond.name.toUpperCase()}}:</label>
            <span class="hidden margin2"> {{record[medcond.name]}} </span>
        </div>

        <div class="font-weight-800 mb-8 ml-8 mr-8"> CURRENT MEDICTAIONS</div>

        <div *ngFor="let currentmed of currentmedications;let i = index" class="mb-8 ml-8 mr-8">
            <label class="font-weight-500 grey margin" text-uppercase>{{currentmed.name.toUpperCase()}}:</label>
            <span class="hidden margin2"> {{record[currentmed.name]}} </span>
        </div>

        <div class="font-weight-800 mb-8 ml-8 mr-8"> FAMILY HISTORY</div>

        <div *ngFor="let famhis of familyhistory;let i = index" class="mb-8 ml-8 mr-8">
            <label class="font-weight-500 grey margin" text-uppercase>{{famhis.name.toUpperCase()}}:</label>
            <span class="hidden margin2"> {{record[famhis.name]}} </span>
        </div>


        <div class="font-weight-800 mb-8 ml-8 mr-8">NOTES</div>

        <div *ngFor="let note of notes;let i = index" class="mb-8 ml-8 mr-8">
            <label class="font-weight-500 grey margin" text-uppercase>{{note.name.toUpperCase()}}:</label>
            <span class="hidden margin2"> {{record[note.name]}} </span>
        </div>
     
        <button md-mini-fab class="md-accent-bg back-button" id="print-head" (click)="back()" aria-label="back">
    <md-icon>arrow_back</md-icon>
</button>
    </div>
 
</div>
 <div md-dialog-actions id="print-head" class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
  <button id="print-head" md-raised-button (click)="print()" class="save-button mat-accent" aria-label="SAVE">
        PRINT RECORD
    </button>


</div> 