<div class="my-container">
    <ngx-loading [show]="loading" [config]="{backdropBackgroundColour: 'rgba(145, 230, 242, 0.3)', backdropBorderRadius: '20px',
        primaryColour: '#53a7fc', secondaryColour: '#53a7fc', tertiaryColour: '#53a7fc' }"></ngx-loading>

</div>

<div id="forgot-password" fxLayout="column" perfect-scrollbar>

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form">

            <div class="logo">
                <span><img src="assets/images/logos/hospital.png"/></span>
            </div>

            <div class="title">CREATE ACCOUNT FOR ADMIN</div>
            <span>
            <h2 class="title">Welcome!</h2>
            <p>This is where you register your business with us. You only do this Once. Next time Just Sign In.</p>
            <p>Please Take note of your details: You will need your database name and Password to Setup Any other Computer or Device; you want to have access to the same database</p>    
            </span>

            <div>
                <md-card class="danger" style="overflow: initial;">
                    <h2>
                        <md-icon>announcement</md-icon> Please, If you face problems while registering.</h2>
                    <p>Message/Whatsapp: +2348098119811 | Email: team@sarutech.com</p>
                    <p>Please Bear with us, Your username may be changed because its taken by someone else.</p>
                </md-card>
            </div>

            <form name="createDbForm" [formGroup]="createDbForm" novalidate>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">person</md-icon>
                    <md-input-container fxFlex>
                        <input [(ngModel)]="name" name="name" formControlName="name" mdInput placeholder="Company Name">
                        <md-error *ngIf="createDbFormErrors.name.required">
                            Name is required
                        </md-error>
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">storage</md-icon>
                    <md-input-container fxFlex>
                        <input [(ngModel)]="databasename" maxlength="16" (keydown.space)="$event.preventDefault();" text-lowercase name="databasename"
                            (ngModelChange)="onDatabasenameChange($event)" formControlName="databasename" mdInput placeholder="Database Name">
                        <md-error *ngIf="createDbFormErrors.databasename.required">
                            DataBase name is required
                        </md-error>
                    </md-input-container>
                    <p *ngIf="userchecking" class="red">Checking if Available...</p>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">enhanced_encryption</md-icon>
                    <md-input-container fxFlex>
                        <input [(ngModel)]="password" minlength="6" type="password" type="text" name="password" formControlName="password" mdInput
                            placeholder="Enter Password">
                        <md-error *ngIf="createDbFormErrors.password.required">
                            Password is required
                        </md-error>
                        <md-error *ngIf="createDbFormErrors.password.minlength">
                            Password must be at least 6 characters
                        </md-error>
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">mail</md-icon>
                    <md-input-container fxFlex>
                        <input [(ngModel)]="email" (keydown.space)="$event.preventDefault();" type="email" (ngModelChange)="onEmailChange($event)"
                            name="email" formControlName="email" mdInput placeholder="Email">
                        <md-error *ngIf="createDbFormErrors.email.required">
                            Email is required
                        </md-error>
                        <md-error *ngIf="!createDbFormErrors.email.required && createDbFormErrors.email.email">
                            Please enter a valid email address
                        </md-error>
                    </md-input-container>
                    <p *ngIf="emailexist" class="red">Email not Available</p>
                    <p *ngIf="emailchecking" class="red">Checking...</p>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">phone</md-icon>
                    <md-input-container fxFlex>
                        <input name="phone" [(ngModel)]="phone" formControlName="phone" mdInput placeholder="Enter Phonenumber">
                        <md-error *ngIf="createDbFormErrors.phone.required">
                            Phone Number is required
                        </md-error>
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">public</md-icon>
                    <md-input-container fxFlex>
                        <input name="country" [(ngModel)]="country" formControlName="country" mdInput placeholder="Country">
                        <md-error *ngIf="createDbFormErrors.country.required">
                            Country is required
                        </md-error>
                    </md-input-container>
                </div>

                <p class="danger">{{ error }}</p>

                <button (click)="register()" md-raised-button class="submit-button" color="accent" aria-label="SUBMIT" [disabled]="createDbForm.invalid">
                    REGISTER
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <button (click)="navLP()"> <a class="link">Go back to login</a></button>
            </div>

        </div>

    </div>

</div>