<div *ngIf="!activate">
    <md-card fxLayout="row" fxFlex class="mat-elevation-z8 mb-15 mt-8 ml-8 mr-8">
        <span>
                <h2>Welcome!</h2>
                <p>You do not have any Offline Payment to Verify! Click Below Button, Select License and Click Offline Button to Generate Offline Reference.</p>
            <button (click)="extend()" md-raised-button color="warn">Extend License</button> 
            </span>

    </md-card>
</div>

<div *ngIf="activate">
    <md-card fxLayout="row" fxFlex class="mat-elevation-z8 mb-15 mt-8 ml-8 mr-8">
        <span>
            <h2><strong>STEP 1: Send Email or SMS</strong></h2>
            <p>To Extend License Offline Send an Email with the below Reference Number and Database Name to:</p>
            <p><strong>Email:</strong> admin@sarutech.com</p>
            <p><strong>or SMS:</strong> +2348098119811</p>
            <p class="selectable"><strong>Reference No:</strong>  <span  class="warn" >{{reference}}</span></p>
        <p class="selectable"><strong>Database:</strong> <span class="warn">{{dbname}}</span></p>
        </span>

    </md-card>
</div>

<div *ngIf="activate">
    <md-card class="mat-elevation-z8 mb-15 mt-8 ml-8 mr-8">
        <div>
            <h2><strong>STEP 2: Enter Pin</strong></h2> 
            <p tect-center>You would be contacted to make payment. After your payment has been verified, you would be sent a pin</p>
            <p margin tect-center>You are to Pay ${{extendlicense.amount/300}} or ₦{{extendlicense.amount}}</p>
            <p margin tect-center>Enter your Pin below to Extend your license</p>   
        </div>
      <form margin-top (ngSubmit)="submit()">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">filter_1</md-icon>
                <md-input-container fxFlex>
                    <input name="pin" [(ngModel)]="pin" mdInput placeholder="Enter Pin">
                </md-input-container>
            </div>
            <button md-raised-button class="mat-accent" type="submit">Activate</button>
        </form>
    </md-card>
</div>
  