<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="reportForm">

        <input type="hidden" [(ngModel)]="nameId" name="staff_name" formControlName="staff_name" placeholder="Id">
        <input type="hidden" [(ngModel)]="patientId" name="patient_name" formControlName="patient_name" placeholder="Id">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">arrow_drop_down_circle</md-icon>
            <md-select formControlName="type" fxFlex placeholder="Select Type">
                <md-option *ngFor="let type of typess" [value]="type">
                    {{type}}
                </md-option>
            </md-select>
        </div>

        <div>
            <md-icon class="mr-12 mt-12">note</md-icon>
            <md-input-container>
                <textarea mdInput name="description" formControlName="description" placeholder="Description" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="duedate"></button>
                <input mdInput name="timestamp" formControlName="timestamp" [mdDatepicker]="duedate" placeholder="Date">
            </md-input-container>
            <md-datepicker #duedate></md-datepicker>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">local_hotel</md-icon>
            <md-select fxFlex formControlName="patient_id" placeholder="Select Patient" required>
                <md-option *ngFor="let patient of patientss" [value]="patient.name" (click)="getPId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-select formControlName="doctor_id" fxFlex placeholder="Select Staff" required>
                <md-option *ngFor="let staff of staffss" [value]="staff.name" (click)="getDId(staff)" >
                    {{staff.name}}
                </md-option>
            </md-select>
        </div>

        <!-- ADD FILE BUTTON -->
        <div class="file-uploader">
            <input hidden name="files" type="file" id="fileupload" #fileInput/>
            <button md-fab class="add-file-button mat-warn" (click)="fileInput.click()" aria-label="Add file">
                        <md-icon>create_new_folder</md-icon>
                    </button>
        </div>
        <!-- / ADD FILE BUTTON -->
        <br/>
        <div id="label1">

        </div>


    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(reportForm)" class="save-button mat-accent" [disabled]="reportForm.invalid"
        aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',reportForm])" class="save-button mat-accent"
        [disabled]="reportForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',reportForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>