<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType==='Laboratorist'">
            <md-cell *cdkCellDef="let blood_bank">
                <md-checkbox [(ngModel)]="checkboxes[blood_bank.id]" (ngModelChange)="onSelectedChange(blood_bank.id)" (click)="$event.stopPropagation()">
                </md-checkbox>
            </md-cell>
        </div>

        <div *ngIf="localStorageType!=='Laboratorist'">
            <md-cell *cdkCellDef="let blood_bank">
                <!-- <md-checkbox [(ngModel)]="checkboxes[blood_bank.id]" (ngModelChange)="onSelectedChange(blood_bank.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox> -->
            </md-cell>
        </div>
    </ng-container>


    <!-- Group Column -->
    <ng-container cdkColumnDef="group">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Blood Group</md-header-cell>
        <md-cell *cdkCellDef="let blood_bank"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{blood_bank.blood_group}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="status">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Status</md-header-cell>
        <md-cell *cdkCellDef="let blood_bank" fxShow.gt-sm>
            <p class="email text-truncate">
                {{blood_bank.status}} Pint
            </p>
        </md-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let blood_bank">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deleteblood_bank(blood_bank)">
                    <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <div *ngIf="localStorageType!=='Laboratorist'">
        <md-row *cdkRowDef="let blood_bank; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[blood_bank.blood_group_id]}"
            md-ripple>
        </md-row>
    </div>
    <div *ngIf="localStorageType==='Laboratorist'">
        <md-row *cdkRowDef="let blood_bank; columns: displayedColumns;" (click)="editBlood_bank(blood_bank)" [ngClass]="{'md-light-blue-50-bg':checkboxes[blood_bank.blood_group_id]}"
            md-ripple>
        </md-row>
    </div>
</md-table>

<md-paginator #paginator
                [length]="blood_banks.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button *ngIf="localStorageType" md-fab class="md-accent-bg" id="add-blood_bank-button" (click)="newBlood_bank($event)" aria-label="add blood_bank"
    disabled>
    <md-icon>opacity</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType==='Laboratorist'" class="md-accent-bg" id="add-blood_bank-button" (click)="newBlood_bank($event)"
    aria-label="add blood_bank">
    <md-icon>opacity</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->