@import "src/app/core/scss/fuse";

:host {
    flex: 1;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .mat-row {
            position: relative;
            cursor: pointer;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;
                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}

#add-extendlicense-button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;

    @include media-breakpoint-down('xs') {
        top: 12px;
    }
}
.white{
    color: white !important;
}
.grey{
    color: grey;
}
 button {

                    &.google,
                    &.facebook {
                        width: 70%;
                        text-transform: none;
                        color: #FFFFFF;
                        font-size: 13px;

                        @include media-breakpoint('xs') {
                            width: 60%;
                        }

                        md-icon {
                            color: #FFFFFF;
                            margin: 0 8px 0 0;
                        }
                    }

                    &.google {
                        background-color: #D73D32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
                .print{
                    background: #33bf9f;
                    
                }
            .hidden{
                display: none;
            }
.warn{
color:red !important;
}
.warncolor{
    color: red !important;
}
.height{
    height: 60px;
}
.selectwidth{
    width:100%;
}