<div>
    <md-card fxLayout="row" fxFlex class="mat-elevation-z8 mb-15 mt-8 ml-8 mr-8">
        <span>
                <h2>Welcome!</h2>
                <p>To continue to use all the features of this software, you need to buy a license. Select the license you wish to buy and choose your payment method below. Check the table below to compare prices</p>
            </span>

    </md-card>
</div>
<br>

 <div class="mb-24 mr-8 pt-10" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap >
    <md-icon class="mr-12 mt-12">assignment_turned_in</md-icon>
    <md-select [(ngModel)]="product" class="mr-12 mt-12" placeholder="Select License">
        <md-option *ngFor="let product of products" [value]="product">
            {{product.name}}
        </md-option>
    </md-select>
</div>

<div fxLayout="row">
    <span class="ml-20" fxLayoutAlign="start"><strong>Amount: </strong>({{product.name}})</span><span class="mr-60" fxFlex
        fxLayoutAlign="end">${{product.amount/100}}</span>

</div>
   
<div class="mr-60 ">
    <p fxLayoutAlign="end"><span>(₦{{product.amount * 3}} in Naira)</span></p>
</div>
 
<p fxLayoutAlign="start" class="mt-20 ml-12">Select your Payment Method</p>

<md-card *ngIf="error != ''" class="mat-elevation-z8 mt-15 ml-8 mr-8">
    <md-icon class="warn">announcement</md-icon>
    <span class="warncolor">{{error}}</span>
</md-card>

 <div fxLayout="row mr-12 mb-8">
    <a><img (click)="processOffline()" style="border: 1px solid #adadad;" fxLayoutAlign="start" class="height ml-12 mr-12 mb-8" src="assets/images/payoffline.png"></a>
    <angular4-paystack float-left [key]="'pk_live_0bad4f005b449630c5e7a582551f4edfdbc493a2'" [email]="settingsEmail" [amount]="product.amount*300"
        [ref]="extendlicense.id" [class]="'btn btn-primary'" (close)="paymentCancel()" (callback)="payStack($event)">


        <img style="border: 1px solid #adadad;" class="height ml-12 mr-12 mb-8" src="assets/images/paystack.png">
    </angular4-paystack>
    <div style="margin-top: 15px; border: 1px solid #adadad; padding: 10px;" height="60px" fxLayoutAlign="center" id="paypal-button-container"></div>
    <a *ngIf="isstripe"><img (click)="enableStripe()" style="border: 1px solid #adadad;" class="height ml-12 mr-12 mb-8" src="assets/images/paystripe.png"></a>
    <md-card padding *ngIf="isstripe">

        <input [(ngModel)]="cardinfo.number" placeholder="Card number">
        <input [(ngModel)]="cardinfo.expMonth" placeholder="Expiry month">
        <input [(ngModel)]="cardinfo.expYear" placeholder="Expiry year">
        <input [(ngModel)]="cardinfo.cvc" placeholder="CVC">
        <button small color="normal" (click)="payStripe()"> Pay Now </button>
    </md-card>

</div>

 <md-card>
    <p>Available Licenses</p>
    <div fxLayout="row" class="mb-20" fxLayoutAlign="start">
        <div fxLayout="col" fxFlex>
            <p><strong>License</strong></p>
        </div>
        <div fxLayout="col" fxFlex>
            <p><strong>Amount ($)</strong></p>
        </div>
        <div fxLayout="col" fxFlex>
            <p><strong>Amount (₦)</strong></p>
        </div>
    </div>
    <div fxLayout="row" class="mb-20" fxLayoutAlign="start" *ngFor="let product of products">
        <div fxLayout="col" fxFlex>
            {{product.name}}
        </div>
        <div fxLayout="col" fxFlex>
            ${{product.amount/100}}
        </div>
        <div fxLayout="col" fxFlex>
            ₦{{product.amount * 3}}
        </div>
    </div> 
    <!--<  <div fxLayout="row">
        <div fxLayout="col">
        </div>
        <div fxLayout="col">
        </div>
        <div fxLayout="col">
        </div>
        </div fxLayout="row"> -
</md-card> -->