<md-toolbar id="receipt-head" md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div id="printable" md-dialog-content class="p-24 m-0 " perfect-scrollbar>

    <div fxLayout="row" class="mb-24" fxLayoutAlign="center"> <span id="img4">
          
            </span> </div>

    <div class="mb-24 mr-24" fxLayout="row" fxLayoutAlign="start">
        <md-icon class="mr-12">title</md-icon>
        <span class="font-size-15 h3 font-weight-500">Doctor's Department: {{doctorDepartment}} </span>
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="start">
        <md-icon class="mr-12">mail</md-icon>
        <span class="font-size-15 h3 font-weight-500"> Doctor's Name: {{doctorName}} </span>
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="start">
        <md-icon class="mr-12">phone</md-icon>
        Doctor's Phone: {{doctorPhone}}
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="start">
        <md-icon class="mr-12">assignment</md-icon>
        Doctor's Profile: {{doctorProfile}}
    </div>

</div>

<div md-dialog-actions id="print-head" class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button md-raised-button (click)="print()" class="save-button mat-accent" aria-label="SAVE" #childtext>
        PRINT PROFILE
    </button>

</div>