<div *ngIf="messages.length === 0" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <span class="no-messages-text hint-text">There are no messages!</span>
</div>

<ng-container *ngIf="show==='inbox'" >
<fuse-mail-list-item md-ripple *ngFor="let message of messages" [message]="message" (click)="readMail(message.id)" [ngClass]="{'current-message':message?.id == currentMessage?.id}">
</fuse-mail-list-item>  
</ng-container>

<ng-container *ngIf="show==='sent'" >
<app-mail-list-sent *ngFor="let message of messages" [message]="message" (click)="readMail2(message.id)" [ngClass]="{'current-message':message?.id == currentMessage?.id}">
</app-mail-list-sent>
</ng-container>