<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report">
            <md-checkbox [(ngModel)]="checkboxes[diagnosis_report.id]" (ngModelChange)="onSelectedChange(diagnosis_report.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>


    <!-- Lab Column -->
    <ng-container cdkColumnDef="laboratorist">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-sm>Laboratorist</md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report"  fxShow.gt-sm (click)="editDiagnosis_report(diagnosis_report)">
            <p class="phone text-truncate">
                {{diagnosis_report.laboratorist_id}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Lab Column -->
     <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Patient</md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report"  fxShow.gt-sm (click)="editDiagnosis_report(diagnosis_report)">
            <p class="phone text-truncate">
                {{diagnosis_report.patient_name}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Prescription Column -->
    <ng-container cdkColumnDef="prescription">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-sm>Prescription</md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report" fxShow.gt-sm (click)="editDiagnosis_report(diagnosis_report)">
            <p class="phone text-truncate">
                {{diagnosis_report.prescription_id.substring(0,30)}}......
            </p>
        </md-cell>
    </ng-container>

    <!-- Report Column -->
    <ng-container cdkColumnDef="report">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Report Type</md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report" fxHide fxShow.gt-sm (click)="editDiagnosis_report(diagnosis_report)">
            <p class="email text-truncate">
                {{diagnosis_report.report_type.substring(0,30)}}......
            </p>
        </md-cell>
    </ng-container>


    <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Description</md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report" fxHide fxShow.gt-sm (click)="editDiagnosis_report(diagnosis_report)">
            <p class="job-title text-truncate">
                {{diagnosis_report.description.substring(0,30)}}......
            </p>
        </md-cell>
    </ng-container>

    <!-- Document Column -->
    <ng-container cdkColumnDef="document">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Document</md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report" fxHide fxShow.gt-lg (click)="editDiagnosis_report(diagnosis_report)">
            <p class="company text-truncate">
                {{diagnosis_report.document_type}}
            </p>
        </md-cell>
    </ng-container>

    <!-- File Column -->
    <ng-container cdkColumnDef="file">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>File Name</md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report" fxHide fxShow.gt-lg (click)="editDiagnosis_report(diagnosis_report)">
            <p class="company text-truncate">
                {{diagnosis_report.file_name}}
            </p>
        </md-cell>
    </ng-container>

    <!-- date Column -->
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Date</md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report" fxHide fxShow.gt-lg (click)="editDiagnosis_report(diagnosis_report)">
            <p class="company text-truncate">
                {{diagnosis_report.timestamp}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let diagnosis_report">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-menu-item aria-label="remove" (click)="viewDiagnosis_report(diagnosis_report)">
                    <md-icon>visibility</md-icon>
                    <!-- <span>Edit</span> -->
                </button>
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let diagnosis_report; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[diagnosis_report.diagnosis_report_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="diagnosis_reports.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-diagnosis_report-button" (click)="newDiagnosis_report($event)" aria-label="add diagnosis_report">
    <md-icon>colorize</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->