<div id="forgot-password" fxLayout="column" perfect-scrollbar>

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form">

            <div class="logo">
                <span><img src="assets/images/logos/hospii.png"/></span>
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <md-input-container>
                    <input [(ngModel)]="email" (ngModelChange)="emailChange()" mdInput placeholder="Email" formControlName="email">
                    <md-error *ngIf="forgotPasswordFormErrors.email.required">
                        Email is required
                    </md-error>
                    <md-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                        Please enter a valid email address
                    </md-error>
                </md-input-container>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">feedback</md-icon>
                    <p>
                        <label>{{secretQuestion}}</label>
                    </p>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">question_answer</md-icon>
                    <md-input-container fxFlex>
                        <input [(ngModel)]="answer" mdInput placeholder=" Answer to Secret Question (Applicable to Admin)" formControlName="answer">
                    </md-input-container>
                </div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <md-icon class="mr-12 mt-12">enhanced_encryption</md-icon>
                    <p>
                        <label>{{password}}</label>
                    </p>
                </div>

                <div class="mb-24 red" fxLayout="row" fxLayoutAlign="start start">{{error}}</div>

                <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                    <p margin-left margin-right class="red">If you are not an Admin, then contact the Admin for your password</p>
                </div>

                    <button (click)="revealPassword()" md-raised-button class="submit-button" color="accent" aria-label="SUBMIT" [disabled]="forgotPasswordForm.invalid">
                    SUBMIT
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
               <button (click)="navLP()"> <a class="link">Go back to login</a></button>
            </div>

            </div>

        </div>

    </div>