
 <md-card class="md-white-bg mat-elevation-z8 mb-80" style="overflow: initial;">
 <div class="mb-8" fxLayout="row" fxLayoutAlign="start"><button (click)="configurerecord()" md-raised-button color="accent" class="submit-button btn1" aria-label="LOGIN">
    CONFIGURE RECORDS
</button></div> 
<br>
<div class="mb-8" fxLayout="row" fxLayoutAlign="start"><button (click)="labtest()" md-raised-button color="accent" class="submit-button btn1" aria-label="LOGIN">
    CONFIGURE LABORATORY
</button></div>
</md-card>

<md-table #table [dataSource]="dataSource" mdSort>
    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let setting">
            <md-checkbox [(ngModel)]="checkboxes[setting.id]" (ngModelChange)="onSelectedChange(setting.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let setting" fxShow.gt-sm>
            <p class="email text-truncate">
                {{setting.name}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Address</md-header-cell>
        <md-cell *cdkCellDef="let setting" fxHide fxShow.gt-md>
            <p class="job-title text-truncate">
                {{setting.address}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Phone</md-header-cell>
        <md-cell *cdkCellDef="let setting" fxHide fxShow.gt-md>
            <p class="job-title text-truncate">
                {{setting.phone}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Email</md-header-cell>
        <md-cell *cdkCellDef="let setting" fxShow.gt-md>
            <p class="job-title text-truncate">
                {{setting.email}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let setting">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--<button md-menu-item aria-label="remove" (click)="deletesetting(setting)">
                    <md-icon>delete</md-icon>
                    <span>Pay</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let setting; columns: displayedColumns;" (click)="editSetting(setting)" [ngClass]="{'md-light-blue-50-bg':checkboxes[setting.settings_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="settings.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button *ngIf="edit" md-fab class="md-accent-bg" id="add-setting-button" (click)="editSetting(setting)" aria-label="add setting">
    <md-icon>build</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button *ngIf="!edit" md-fab class="md-accent-bg" id="add-setting-button" (click)="newSetting()" aria-label="add setting">
    <md-icon>build</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->