@import "src/app/core/scss/fuse";

:host {
    flex: 1;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
        }

        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }
        .mat-button{
    min-width: 1% !important;
    height:200px !important;
                    }
        .mdcard{
            margin-bottom: 50px;
            padding-bottom: 50px;
        }
        .float{
            position: absolute
        }

        .mat-row {
            position: relative;
            cursor: pointer;

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;
                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}

#add-setting-button {
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 0;

    @include media-breakpoint-down('xs') {
        top: 12px;
    }
}
.submit-button {
                        width: 22%;
                        margin: 1px;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                 .float-right{
             position: absolute;
             left: 50%;
        }
            .btn1 {
 // your custom overrides here
 font-size: 12px;
 background-color: #03c6da;

}

 .btn2 {
 // your custom overrides here
 font-size: 12px;
}
  .btn3 {
 // your custom overrides here
 font-size: 12px;
}

  .btn4 {
 // your custom overrides here
 font-size: 12px;
 background-color: #32db64;

}

.btn5 {
 // your custom overrides here
 font-size: 12px;
 background-color: #05695b;
}

@media only screen and (max-width: 359px) {
    /* For mobile phones: */
    [class*="btn5"] {
        position: absolute;
        left: 15px;
        margin-top: 45px 
    }
}
.danger{
color: red;
}
