<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let receipt">
            <md-checkbox [(ngModel)]="checkboxes[receipt.id]" (ngModelChange)="onSelectedChange(receipt.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

   

    <!-- Name Column -->
    <ng-container cdkColumnDef="receiptname">
        <md-header-cell md-sort-header *cdkHeaderCellDef>receipt Name</md-header-cell>
        <md-cell *cdkCellDef="let receipt">
            <p class="text-truncate font-weight-600">{{receipt.receiptname}}</p>
        </md-cell>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let receipt">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-menu-item aria-label="remove" (click)="deleteReceipt(receipt)">
             <!--<md-icon>delete</md-icon>-->
                        <span class="co-font"></span>
                    </button>
      
            </div>

        </md-cell>
    </ng-container>
    
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let receipt; columns: displayedColumns;" (click)="editReceipt(receipt)" [ngClass]="{'md-light-blue-50-bg':checkboxes[receipt.invoice_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="receipts.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-receipt-button" (click)="newReceipt($event)" aria-label="add receipt">
    <md-icon>add_location</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->