<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="antenatalForm">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-input-container fxFlex>
                <input name="surname" formControlName="surname" mdInput placeholder="Enter Sur Name">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-input-container fxFlex>
                <input name="firstname" formControlName="firstname" mdInput placeholder="First Name">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="xrayno" formControlName="xrayno" mdInput placeholder="X-ray no">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">enhanced_encryption</md-icon>
            <md-input-container fxFlex>
                <input type="text" name="unitno" formControlName="unitno" mdInput placeholder="Unit no">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">add</md-icon>
            <md-input-container fxFlex>
                <input name="specialpoints" formControlName="specialpoints" mdInput placeholder="Special Points">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">add</md-icon>
            <md-input-container fxFlex>
                <input name="consultant" formControlName="consultant" mdInput placeholder="Consultant">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="dateofbooking" formControlName="dateofbooking" [mdDatepicker]="birthdayDatePicker" placeholder="Date of Booking">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">beenhere</md-icon>
            <md-input-container fxFlex>
                <input name="indicationbook" formControlName="indicationbook" mdInput placeholder="Indication for Booking">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">bookmark</md-icon>
            <md-input-container fxFlex>
                <input name="lmp" formControlName="lmp" mdInput placeholder="L.M.P">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">bookmark_border</md-icon>
            <md-input-container fxFlex>
                <input name="edd" formControlName="edd" mdInput placeholder="ED.D">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">calendar_view_day</md-icon>
            <md-input-container fxFlex>
                <input name="egabooking" formControlName="egabooking" mdInput placeholder="EGA at Booking">
            </md-input-container>
        </div>

        <div>
            <md-icon class="mr-12 mt-12">domain</md-icon>
            <md-input-container>
                <textarea mdInput name="address" formControlName="address" placeholder="Address" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">exposure_plus_1</md-icon>
                <md-input-container fxFlex>
                    <input name="age" formControlName="age" mdInput placeholder="Age">
                </md-input-container>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <md-icon class="mr-12 mt-12">title</md-icon>
                <md-input-container fxFlex>
                    <input name="occupation" formControlName="occupation" mdInput placeholder="Occupation">
                </md-input-container>
            </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">format_size</md-icon>
            <md-select formControlName="speakenglish" fxFlex placeholder="Speak English">
                <md-option *ngFor="let english of speakenglish" [value]="english" (click)="select(english)">
                    {{english}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">speaker</md-icon>
            <md-select formControlName="literate" fxFlex placeholder="Literate">
                <md-option *ngFor="let lit of literate" [value]="lit" (click)="select(english)">
                    {{lit}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="husbandname" formControlName="husbandname" mdInput placeholder="Husband Name">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="husbandoccupation" formControlName="husbandoccupation" mdInput placeholder="Husband Occupation">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="husbandemployer" formControlName="husbandemployer" mdInput placeholder="Husband Employer">
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(antenatalForm)" class="save-button mat-accent" [disabled]="antenatalForm.invalid"
        aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',antenatalForm])" class="save-button mat-accent"
        [disabled]="antenatalForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',antenatalForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>