<div id="register" fxLayout="column" perfect-scrollbar>

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form">
            <div class="logo">
                <span><img src="assets/images/logos/hospii.png"/></span>
            </div>

            <div class="title">MANAGE PROFILE</div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <md-input-container>
                    <input mdInput placeholder="Name" formControlName="name">
                    <md-error *ngIf="registerFormErrors.name.required">
                        Name is required
                    </md-error>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="Email" formControlName="email">
                    <md-error *ngIf="registerFormErrors.email.required">
                        Email is required
                    </md-error>
                    <md-error *ngIf="!registerFormErrors.email.required && registerFormErrors.email.email">
                        Please enter a valid email address
                    </md-error>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="Address" formControlName="address">
                    <md-error *ngIf="registerFormErrors.address.required">
                        Address is required
                    </md-error>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="Phone Number" formControlName="phone">
                    <md-error *ngIf="registerFormErrors.phone.required">
                        Phone Number is required
                    </md-error>
                </md-input-container>

                <md-input-container>
                    <input mdInput (keyup)="checkPassword($event)" placeholder="Current Password" formControlName="currentpassword">
                    <md-error *ngIf="registerFormErrors.currentpassword.required">
                        Current Password is required
                    </md-error>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="Password" formControlName="password">
                    <md-error *ngIf="registerFormErrors.password.required">
                        Password is required
                    </md-error>
                </md-input-container>

                <md-input-container>
                    <input mdInput placeholder="Password (Confirm)" formControlName="passwordConfirm">
                    <md-error *ngIf="registerFormErrors.passwordConfirm.required">
                        Password confirmation is required
                    </md-error>
                </md-input-container>
                <p margin-left margin-right class="red">{{ error }}</p>
                <!--  <button md-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" [disabled]="registerForm.invalid"
                    (click)="updatePassword()">
                    UPDATE PASSWORD
                </button> -->

                <!-- ADD FILE BUTTON -->
                <div class="file-uploader">
                    <input hidden name="files" type="file" id="fileupload" #fileInput/>
                    <button md-fab class="add-file-button mat-warn" (click)="fileInput.click()" aria-label="Add file">
                        <md-icon>create_new_folder</md-icon>
                    </button>
                </div>
                <!-- / ADD FILE BUTTON -->

                <div class="picture">
                    <img class="img3" [src]="_DomSanitizer.bypassSecurityTrustUrl(image)">
                </div>


                <button md-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT" (click)="update(id)">
                    UPDATE PROFILE
                </button>

            </form>

        </div>
    </div>
</div>