@import "../../../../core/scss/fuse";

:host {

    #register {
        width: 100%;
        overflow: auto;
        background: url('../../../../../assets/images/backgrounds/login.jpg') no-repeat;
        background-size: cover;

        #register-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

              .red{
        color: #f00;
      }

      .image{
          width:5px;
          min-width: 5px;
          height: 50px;
          min-height: 50px
      }

      .img3{
    width: 300px;
    height: 250px
}

      .picture{
          text-align: center;
      }

            #register-form {
                width: 1000px;
                max-width: 1000px;
                padding: 32px;
                background: #FFFFFF;
                text-align: center;
                @include mat-elevation(7);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 128px;
                    height: 128px;
                    line-height: 128px;
                    font-size: 86px;
                    font-weight: 500;
                    margin: 32px auto;
                    color: #FFFFFF;
                    border-radius: 2px;
                    //background: mat-color($accent);
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    md-input-container {
                        width: 100%;
                    }

                    md-checkbox {
                        margin: 0;
                    }

                    .terms {
                        font-size: 13px;
                        margin: 16px 0 32px 0;

                        a {
                            margin-left: 4px;
                        }
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .register {
                    margin: 32px auto 24px auto;
                    font-weight: 500;

                    .text {
                        margin-right: 8px;
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 24px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    color: rgba(0, 0, 0, 0.54);

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before, &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid rgba(0, 0, 0, 0.12);
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                button {

                    &.google,
                    &.facebook {
                        width: 192px;
                        text-transform: none;
                        color: #FFFFFF;
                        font-size: 13px;
                    }

                    @include media-breakpoint('xs') {
                        width: 80%;
                    }

                    &.google {
                        background-color: #D73D32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
            }
        }
    }
}