<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let nurse">
            <md-checkbox [(ngModel)]="checkboxes[nurse.id]" (ngModelChange)="onSelectedChange(nurse.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Nursename Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let nurse"  fxShow.gt-sm>
            <p class="email text-truncate">
                {{nurse.name}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Email</md-header-cell>
        <md-cell *cdkCellDef="let nurse" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{nurse.email}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Password Column -->
    <ng-container cdkColumnDef="password">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Password</md-header-cell>
        <md-cell *cdkCellDef="let nurse" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{nurse.password}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Phone</md-header-cell>
        <md-cell *cdkCellDef="let nurse"  fxShow.gt-md>
            <p class="email text-truncate">
                {{nurse.phone}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Address</md-header-cell>
        <md-cell *cdkCellDef="let nurse" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{nurse.address}}
            </p>
        </md-cell>
    </ng-container>
  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let nurse">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletenurse(nurse)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let nurse; columns: displayedColumns;"
            (click)="editNurse(nurse)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[nurse.nurse_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="nurses.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-nurse-button" (click)="newNurse($event)" aria-label="add nurse">
    <md-icon>healing</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
