<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let department">
            <md-checkbox [(ngModel)]="checkboxes[department.id]" (ngModelChange)="onSelectedChange(department.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let department"  fxShow.gt-lg>
            <p class="email text-truncate">
                {{department.name}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Descripiton Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-lg>Descripiton</md-header-cell>
        <md-cell *cdkCellDef="let department"  fxShow.gt-lg>
            <p class="email text-truncate">
                {{department.description}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let department">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletedepartment(department)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let department; columns: displayedColumns;"
            (click)="editDepartment(department)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[department.department_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="departments.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-department-button" (click)="newDepartment($event)" aria-label="add department">
    <md-icon>library_add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
