<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let sms">
            <md-checkbox [(ngModel)]="checkboxes[sms.id]" (ngModelChange)="onSelectedChange(sms.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Patient Column -->
    <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxHide fxShow.gt-sm>Patient</md-header-cell>
        <md-cell *cdkCellDef="let sms" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{sms.patient}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Mobile</md-header-cell>
        <md-cell *cdkCellDef="let sms" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{sms.phone}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Subject Column -->
    <ng-container cdkColumnDef="subject">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Subject</md-header-cell>
        <md-cell *cdkCellDef="let sms" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{sms.subject}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Body Column -->
    <ng-container cdkColumnDef="body">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Body</md-header-cell>
        <md-cell *cdkCellDef="let sms" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{sms.body}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let sms">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletesms(sms)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let sms; columns: displayedColumns;"
            (click)="editSms(sms)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[sms.sms_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="smss.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" (click)="newSms($event)" aria-label="add sms">
    <md-icon>build</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-sms-button" (click)="newSms($event)" aria-label="add sms">
    <md-icon>message</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
