<div class="navbar-header">

    <div class="logo">
        <span class="logo-text">ASUEIFA HOSPITAL MANAGER</span>
    </div>

    <button md-button class="toggle-button-navbar mat-icon-button" fuseNavbar="toggleFold" fxHide.lt-lg>
        <md-icon>menu</md-icon>
    </button>

    <button md-button class="toggle-button-navbar mat-icon-button" fuseNavbar="closeBar" fxHide.gt-md>
        <md-icon>arrow_back</md-icon>
    </button>

</div>

<div class="navbar-content" perfect-scrollbar>
    <fuse-navigation></fuse-navigation>
</div>