<!-- FUSE Splash Screen -->
<!-- <fuse-splash-screen id="fuse-splash-screen"> -->
<div id="fuse-splash-screen">
    <div class="center">

        <div class="logo">
            <span class="logo-icon"><img src="assets/icon.svg"></span>
        </div>

        <div class="desc">
            <h2>HOSPITAL MANAGER</h2>
            <p>Designed with love by SARU TECH</p>
            <p>www.sarutech.com</p>
        </div>

        <!-- Material Design Spinner -->
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="inner">
                    <div class="gap"></div>
                    <div class="left">
                        <div class="half-circle"></div>
                    </div>
                    <div class="right">
                        <div class="half-circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Material Design Spinner -->

    </div>
</div>

<!-- </fuse-splash-screen> -->
<!-- / FUSE Splash Screen -->