<md-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let notice">
            <md-checkbox [(ngModel)]="checkboxes[notice.id]" (ngModelChange)="onSelectedChange(notice.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container cdkColumnDef="title">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Title</md-header-cell>
        <md-cell *cdkCellDef="let notice" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{notice.title}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Description</md-header-cell>
        <md-cell *cdkCellDef="let notice" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{notice.description}}
            </p>
        </md-cell>
    </ng-container>

    <!-- startdate Column -->
    <ng-container cdkColumnDef="start">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Start Date</md-header-cell>
        <md-cell *cdkCellDef="let notice" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{notice.start_timestamp}}
            </p>
        </md-cell>
    </ng-container>

     <!-- enddate Column -->
    <ng-container cdkColumnDef="end">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>End Date</md-header-cell>
        <md-cell *cdkCellDef="let notice" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{notice.end_timestamp}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let notice">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletenotice(notice)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let notice; columns: displayedColumns;"
            (click)="editNotice(notice)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[notice.notice_id]}"
            md-ripple>
    </md-row>
</md-table>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-notice-button" (click)="newNotice($event)" aria-label="add notice">
    <md-icon>add_box</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
