<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="bed_allotmentForm">

        <input type="hidden" [(ngModel)]="bed_allotment.bed_number" name="bed_number" formControlName="bed_number" placeholder="Id">
        <input type="hidden" [(ngModel)]="bed_allotment.pidentity" name="pidentity" formControlName="pidentity" placeholder="Id">
        <input type="hidden" name="allotintimestamp" formControlName="allotintimestamp" placeholder="timein">
        <input type="hidden" name="disintimestamp" formControlName="disintimestamp" placeholder="timeout">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">filter_1</md-icon>
            <md-select [(ngModel)]="bed_allotment.bed_id" formControlName="bed_id" fxFlex placeholder="Select Bed Number">
                <md-option *ngFor="let bed of bedss" [value]="bed.bed_number" (click)="getAId(bed)">
                    {{bed.bed_number}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">local_hotel</md-icon>
            <md-select [(ngModel)]="bed_allotment.bed_type" formControlName="bed_type" fxFlex placeholder="Select Bed Type">
                <md-option *ngFor="let bed of bedss" [value]="bed.type">
                    {{bed.type}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">airline_seat_flat</md-icon>
            <md-select formControlName="patient_id" fxFlex placeholder="Select Patient">
                <md-option *ngFor="let patient of patientss" [value]="patient.name" (click)="getPId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="birthdayDatePicker"></button>
                <input mdInput name="allotment_timestamp" formControlName="allotment_timestamp" [mdDatepicker]="birthdayDatePicker" placeholder="Allotment Time">
            </md-input-container>
            <md-datepicker #birthdayDatePicker></md-datepicker>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-input-container fxFlex class="mr-24">
                <button mdSuffix [mdDatepickerToggle]="dischargeDate"></button>
                <input mdInput name="discharge_timestamp" formControlName="discharge_timestamp" [mdDatepicker]="dischargeDate" placeholder="Discharge Time">
            </md-input-container>
            <md-datepicker #dischargeDate></md-datepicker>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(bed_allotmentForm)" class="save-button mat-accent"
        [disabled]="bed_allotmentForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',bed_allotmentForm])" class="save-button mat-accent"
        [disabled]="bed_allotmentForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',bed_allotmentForm])"
        aria-label="Delete" md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>