// Import Fuse main library
@import "app/core/scss/core";

.md-accent-bg {
    background-color: #248f24 !important;
    color: white !important;
}

.md-white-bg.secondary-text, .md-white-bg .secondary-text, .md-white-bg .mat-icon, .md-white-bg .icon {
    color: #607d8b !important;
}

.mat-fab .mat-icon, .mat-fab i {
    color: white !important;
}

button {
    background-color: #248f24 !important;
}

.nav .nav-item .nav-link.active {
    background-color: #2eb82e !important;
}

fuse-navbar .navbar-header .logo-icon {
    display: block;
    background: #248f24 !important;
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    border-radius: 2px;
}

.logo{
    display: block;
    width: 32px;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    border-radius: 2px;
}

fuse-navbar .navbar-header .logo .logo-text {
    margin-left: 0px !important;
    font-size: 16px !important;
}

.mat-toolbar.mat-accent {
    background: #33cc33 !important;
    color: white;
}

.md-accent-600-bg {
    background-color: #33cc33 !important;
    color: white !important;
}


.ngx-charts .circle, .ngx-charts .bar, .ngx-charts .arc, .ngx-charts .area-chart {
    cursor: pointer;
    fill: #248f24;
}

.ngx-charts .area {
    opacity: 1.0 !important;
    fill: #248f24;
}