<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let accountant">
            <md-checkbox [(ngModel)]="checkboxes[accountant.id]" (ngModelChange)="onSelectedChange(accountant.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

     <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header>Name</md-header-cell>
        <md-cell *cdkCellDef="let accountant"  (click)="editAccountant(accountant)">
            <p class="text-truncate" >{{accountant.name}}</p>
        </md-cell>
    </ng-container>

    <!-- Password Column -->
    <ng-container cdkColumnDef="password">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Password</md-header-cell>
        <md-cell *cdkCellDef="let accountant" (click)="editAccountant(accountant)" fxHide fxShow.gt-lg>
            <p class="text-truncate">{{accountant.password}}</p>
        </md-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Address</md-header-cell>
        <md-cell *cdkCellDef="let accountant" (click)="editAccountant(accountant)" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{accountant.address}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Phone Number</md-header-cell>
        <md-cell *cdkCellDef="let accountant" (click)="editAccountant(accountant)" fxShow.gt-md>
            <p class="phone text-truncate">
                {{accountant.phone}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Email</md-header-cell>
        <md-cell *cdkCellDef="let accountant" (click)="editAccountant(accountant)" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{accountant.email}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let accountant">
            
        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let accountant; columns: displayedColumns;"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[accountant.accountant_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="accountants.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-accountant-button" (click)="newAccountant($event)" aria-label="add accountant">
    <md-icon>person_add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
