<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale">
              <!--   <md-checkbox [(ngModel)]="checkboxes[blood_sale.id]" (ngModelChange)="onSelectedChange(blood_sale.id)" (click)="$event.stopPropagation()">
                </md-checkbox> -->
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale">
                <md-checkbox [(ngModel)]="checkboxes[blood_sale.id]" (ngModelChange)="onSelectedChange(blood_sale.id)" (click)="$event.stopPropagation()">
                </md-checkbox>
            </md-cell>
        </div>
    </ng-container>

    <!-- Patient Column -->
    <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Patient</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" fxShow.gt-sm>
                <p class="email text-truncate">
                    {{blood_sale.patient}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" (click)="editBlood_sale(blood_sale)" fxShow.gt-sm>
                <p class="email text-truncate">
                    {{blood_sale.patient}}
                </p>
            </md-cell>
        </div>

    </ng-container>

    <!-- Price Column -->
    <ng-container cdkColumnDef="price">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Price</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{blood_sale.price}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" (click)="editBlood_sale(blood_sale)" fxShow.gt-md>
                <p class="phone text-truncate">
                    {{blood_sale.price}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Sex Column -->
    <ng-container cdkColumnDef="amount">
        <md-header-cell *cdkHeaderCellDef  fxShow.gt-md>Amount of Blood</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_sale.amount_blood}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" (click)="editBlood_sale(blood_sale)" fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_sale.amount_blood}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Blood Group Column -->
    <ng-container cdkColumnDef="date">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Date</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" fxHide fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_sale.date}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" (click)="editBlood_sale(blood_sale)" fxHide fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_sale.date}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Total Column -->
    <ng-container cdkColumnDef="total">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Total</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" fxHide fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_sale.total}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" (click)="editBlood_sale(blood_sale)" fxHide fxShow.gt-md>
                <p class="job-title text-truncate">
                    {{blood_sale.total}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- lab_name Column -->
    <ng-container cdkColumnDef="lab_name">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Laboratorist</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_sale.lab_name}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" (click)="editBlood_sale(blood_sale)" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_sale.lab_name}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Sex Column -->
    <ng-container cdkColumnDef="sex">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Sex</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_sale.sex}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" (click)="editBlood_sale(blood_sale)" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_sale.sex}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!--Patient_bloodgroup Column -->
    <ng-container cdkColumnDef="patient_bloodgroup">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Patient Blood Group</md-header-cell>
        <div *ngIf="localStorageType!=='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_sale.patient_bloodgroup}}
                </p>
            </md-cell>
        </div>
        <div *ngIf="localStorageType==='LabNurse'">
            <md-cell *cdkCellDef="let blood_sale" (click)="editBlood_sale(blood_sale)" fxHide fxShow.gt-lg>
                <p class="job-title text-truncate">
                    {{blood_sale.patient_bloodgroup}
                </p>
            </md-cell>
        </div>
    </ng-container>


    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let blood_sale">
            <div fxFlex="row" fxLayoutAlign="end center">

            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let blood_sale; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[blood_sale.blood_sale_id]}"
        md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="blood_sales.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType" class="md-accent-bg" id="add-blood_sale-button" (click)="newBlood_sale($event)"
    aria-label="add blood_sale" disabled>
    <md-icon>add_circle</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button md-fab *ngIf="localStorageType==='LabNurse'" class="md-accent-bg" id="add-blood_sale-button" (click)="newBlood_sale($event)"
    aria-label="add blood_sale">
    <md-icon>add_circle</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->