<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let smssetting">
            <md-checkbox [(ngModel)]="checkboxes[smssetting.id]" (ngModelChange)="onSelectedChange(smssetting.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>

    <!-- smssettingname Column -->
    <ng-container cdkColumnDef="user">
        <md-header-cell *cdkHeaderCellDef fxHide md-sort-header fxShow.gt-sm>Username</md-header-cell>
        <md-cell *cdkCellDef="let smssetting" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{smssetting.user}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Address Column -->
    <ng-container cdkColumnDef="password">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Password</md-header-cell>
        <md-cell *cdkCellDef="let smssetting" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{smssetting.password}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Phone Column -->
    <ng-container cdkColumnDef="api">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Api</md-header-cell>
        <md-cell *cdkCellDef="let smssetting" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{smssetting.api}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let smssetting">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletesmssetting(smssetting)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let smssetting; columns: displayedColumns;"
            (click)="editSmssetting(smssetting)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[smssetting.smssetting_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="smssettings.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-smssetting-button" (click)="newSmssetting($event)" aria-label="add smssetting">
    <md-icon>settings</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
