<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let receptionist">
            <md-checkbox [(ngModel)]="checkboxes[receptionist.id]" (ngModelChange)="onSelectedChange(receptionist.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container>


    <!-- Receptionistname Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let receptionist" fxShow.gt-sm>
            <p class="email text-truncate">
                {{receptionist.name}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Address</md-header-cell>
        <md-cell *cdkCellDef="let receptionist" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{receptionist.address}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Phone</md-header-cell>
        <md-cell *cdkCellDef="let receptionist" fxShow.gt-md>
            <p class="email text-truncate">
                {{receptionist.phone}}
            </p>
        </md-cell>
    </ng-container>

      <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Email</md-header-cell>
        <md-cell *cdkCellDef="let receptionist" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{receptionist.email}}
            </p>
        </md-cell>
    </ng-container>

     <!-- Password Column -->
    <ng-container cdkColumnDef="password">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Password</md-header-cell>
        <md-cell *cdkCellDef="let receptionist" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{receptionist.password}}
            </p>
        </md-cell>
    </ng-container>

  
    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let receptionist">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--  <button md-menu-item aria-label="remove" (click)="deletereceptionist(receptionist)">
                   <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let receptionist; columns: displayedColumns;"
            (click)="editReceptionist(receptionist)"
            [ngClass]="{'md-light-blue-50-bg':checkboxes[receptionist.receptionist_id]}"
            md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="receptionists.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-receptionist-button" (click)="newReceptionist($event)" aria-label="add receptionist">
    <md-icon>person_add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->
