@import 'src/app/core/scss/fuse';

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 24px;

    .select-message-text {
        font-size: 24px;
        font-weight: 300;
    }

    .mail-header {
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        .actions {
            min-width: 88px;
        }
        .co-style{
        position: absolute;
        left: 2%;
        }

    .co-style2{
        /* padding-top:25px;
        padding-bottom:15px; */
        position: absolute;
        right: 15%;
        }

        .co-style3 img{
          width: 100px;
          margin: 0 16px 8px 0;
        }

        .subject {
            font-size: 17px;
            font-weight: 500;
            position: absolute;
            top: 0%
        }

        .label {
            font-size: 11px;
            border-radius: 2px;
            margin: 4px 4px 4px 0;
            padding: 3px 8px;
            background-color: rgba(0, 0, 0, 0.08);

            .label-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }

    .mail-content {
        padding: 24px 0;

        .to {
            color: rgba(0, 0, 0, 0.54);

            .to-text {
                margin-right: 4px;
                text-transform: lowercase;
            }
        }

        .info {
            padding-bottom: 16px;

            .avatar {
                margin-right: 16px;
                background-color: mat-color($accent);
            }

            .name {
                margin-right: 8px;
                font-weight: 500;
            }

            .toggle-details {
                user-select: none;
                text-decoration: underline;
                padding-top: 16px;
                cursor: pointer;
                font-weight: 500;
            }

            .details {
                padding-top: 8px;

                .title {
                    font-weight: 500;
                    margin-right: 6px;
                }

                .detail {
                    color: rgba(0, 0, 0, 0.54);
                }
            }

        }
    }

    .mail-attachments {
        padding: 24px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.12);

        .title {
            margin-bottom: 16px;
            font-weight: 500;
        }

        .attachment {

            .preview {
                width: 100px;
                margin: 0 16px 8px 0;
            }

            .link {
                margin-bottom: 2px;
            }

            .size {
                font-size: 11px;
            }
        }
    }
}
