<div *ngIf="message==='null'" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <md-icon class="s-128 mb-16">email</md-icon>
    <span class="select-message-text hint-text">Select a message to read</span>
</div>

<div *ngIf="!message" fxLayout="column" fxLayoutAlign="center center" fxFlex>
    <md-icon class="s-128 mb-16">email</md-icon>
    <span class="select-message-text hint-text">Select a message to read</span>
</div>

<div id="printArea" *ngIf="message">

    <div class="mail-header" fxLayout="row" fxLayoutAlign="space-between center">

        <div>
            <div class="subject" flex>{{message.subject}}</div>

            <div class="labels" fxLayout="row" fxLayoutWrap>
                <div class="label" *ngFor="let labelId of message.labels" fxLayout="row" fxLayoutAlign="start center">
                    <div class="label-color" [ngStyle]="{'background-color': labels | getById:labelId:'color'}"></div>
                    <div class="label-title">{{labels | getById:labelId:'title'}}</div>
                </div>

            </div>

        </div>

        <!--  <div class="actions" fxLayout="row" fxLayoutAlign="start center">
            <button md-button class="mat-icon-button" (click)="toggleStar($event)" aria-label="Toggle star">
                <md-icon *ngIf="message.starred">star</md-icon>
                <md-icon *ngIf="!message.starred">star_outline</md-icon>
            </button>

            <button md-button class="mat-icon-button" (click)="toggleImportant($event)" aria-label="Toggle important">
                <md-icon *ngIf="message.important">label</md-icon>
                <md-icon *ngIf="!message.important">label_outline</md-icon>
            </button>
        </div> -->
        <!-- </div> -->

        <div class="mail-content">

            <div class="info" fxLayout="row" fxLayoutAlign="space-between start">

                <div fxFlex fxLayout="column" fxLayoutAlign="start start">

                    <div class="co-style" fxLayout="row" fxLayoutAlign="start start">

                        <div>
                            <div>
                                <img *ngIf="attach=='true'" alt="{{message.from}}" [src]="_DomSanitizer.bypassSecurityTrustUrl(urlStaff)" class="avatar"
                                />
                            </div>
                            <!--   <div>
                                <img *ngIf="!attach" alt="{{message.from}}" class="avatar" />
                            </div>  -->
                            <div *ngIf="attach=='false'" class="avatar" ms-random-class="vm.colors">
                                {{message.from[0].substr(0,1).toUpperCase()}}
                            </div>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="start start">

                            <div class="name">
                                {{message.from}}
                            </div>

                            <div class="to" fxLayout="row" fxLayoutAlign="start center">
                                <div class="to-text">to</div>
                                <div>{{message.to}}</div>
                            </div>
                        </div>
                    </div>

                    <a class="toggle-details" (click)="showDetails = !showDetails">
                    <span class="floatdetail co-style2" *ngIf="!showDetails">Show Details</span>
                    <span *ngIf="showDetails">Hide Details</span>
                </a>

                    <div *ngIf="showDetails" class="details" fxLayout="row" fxLayoutAlign="start start">

                        <div fxLayout="column">
                            <span class="title ">From:</span>
                            <span class="title">To:</span>
                            <span class="title">Date:</span>
                        </div>

                        <div fxLayout="column">
                            <span class="detail">{{message.from}}</span>
                            <span class="detail">{{message.to}}</span>
                            <span class="detail">{{message.time}}</span>
                        </div>
                    </div>
                </div>

                <button md-button [mdMenuTriggerFor]="moreMenu" aria-label="More" class="mat-icon-button vetfloat" ng-click="$mdOpenMenu($event)">
                <md-icon>more_vert</md-icon>
            </button>

                <md-menu #moreMenu="mdMenu">
                    <button (click)="composeDialog(message)" md-menu-item aria-label="Reply">
                    <md-icon>reply</md-icon>
                    <span>Reply</span>
                </button>

                    <button (click)="composeDialog(message)" md-menu-item aria-label="Forward">
                    <md-icon>forward</md-icon>
                    <span>Forward</span>
                </button>

                    <button (click)="print()" md-menu-item aria-label="Print">
                    <md-icon>print</md-icon>
                    <span>Print</span>
                </button>
                </md-menu>
            </div>

            <div class="messagefloat" [innerHTML]="message.message"></div>
        </div>


    </div>

    <div *ngIf="message._attachments" class="mail-attachments">

        <div class="title">
            <span>Attachments</span> ({{message._attachments.length}})
        </div>

        <div class="attachment-list" fxLayout="row" fxLayoutWrap>

            <!-- *ngFor="let attachment of message.attachments" -->
            <div class="attachment" fxLayout="column">

                <img *ngIf="fileType=='image/jpeg'||fileType=='image/jpg'||fileType=='image/png'||fileType=='image/x-icon'" class="preview"
                    [src]="_DomSanitizer.bypassSecurityTrustUrl(url)">
                <a [href]="_DomSanitizer.bypassSecurityTrustUrl(url)" *ngIf="fileType!='image/jpeg'||fileType!='image/jpg'||fileType!='image/png'||fileType!='image/x-icon'"
                    target="_blank"><label>{{docName}}</label></a>

                <br>
                <div fxLayout="column">
                    <!-- <a [href]="_DomSanitizer.bypassSecurityTrustUrl(url)" target="_blank">View</a> -->
                    <a [href]="_DomSanitizer.bypassSecurityTrustUrl(url)" download>Download {{docName}}</a>
                    <!-- <div class="size">({{attachment.size}})</div> -->
                </div>

            </div>
        </div>

    </div>

    <!--  <div *ngIf="message._attachments">
        <div class="title">
            <span>Attachments</span> ({{message._attachments.length}})
            <div>
            <img class="co-style3" [src]="_DomSanitizer.bypassSecurityTrustUrl(url)">
            </div>
        </div>
        <br/>
    </div> -->