.event-form-dialog {

    .mat-dialog-container {
        padding: 0;
        width: 720px;
    }
}

.color-transparent{
    background-color: transparent !important;
}

:host {
    display: flex;
    flex-direction: column;
}
