<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form name="eventForm" [formGroup]="noticeForm" class="event-form" fxLayout="column" fxFlex>

        <md-input-container>
            <input mdInput name="title" formControlName="title" placeholder="Title" required>
        </md-input-container>

        <div class="py-16" fxFlex="1 0 auto" fxLayout="row">
            <md-input-container>

                <textarea mdInput name="description" formControlName="description" placeholder="Description" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
        </div>

        <div fxFlex="1 0 auto" fxLayout="row">

            <md-input-container class="mr-24">
                <input mdInput name="start_timestamp" formControlName="start" [mdDatepicker]="startDatePicker" placeholder="Start Date">
                <button mdSuffix class="color-transparent" [mdDatepickerToggle]="startDatePicker"></button>
            </md-input-container>
            <md-datepicker #startDatePicker></md-datepicker>
        </div>

        <div fxFlex="1 0 auto" fxLayout="row">

            <md-input-container class="mr-24">
                <input mdInput name="end_timestamp" formControlName="end" [mdDatepicker]="endDatePicker" placeholder="End Date">
                <button mdSuffix class="color-transparent" [mdDatepickerToggle]="endDatePicker"></button>
            </md-input-container>
            <md-datepicker #endDatePicker></md-datepicker>

        </div>

        <div class="py-16" fxFlex="1 0 auto" fxLayout="row" formGroupName="color">
            <md-input-container class="mr-24">
                <input mdInput name="primary color" formControlName="primary" placeholder="Primary color" [(colorPicker)]="notices.color.primary"
                    cpWidth="290px" [cpPresetColors]="presetColors" [style.background]="notices.color.primary" (colorPickerChange)="notices.color.primary = $event; noticeForm.patchValue({color:{primary:$event}})"
                />
            </md-input-container>
            <md-input-container>
                <input mdInput name="secondary color" formControlName="secondary" placeholder="Secondary color" [(colorPicker)]="notices.color.secondary"
                    cpWidth="290px" [cpPresetColors]="presetColors" [style.background]="notices.color.secondary" (colorPickerChange)="notices.color.secondary = $event; noticeForm.patchValue({color:{secondary:$event}})"
                />
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(noticeForm)" class="save-button mat-accent" [disabled]="noticeForm.invalid"
        aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',noticeForm])" class="save-button mat-accent"
        [disabled]="noticeForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',noticeForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>
