<h2 class="font-weight-500 mb-8 ml-8 mr-8">
        Precious Medical History</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let anterecord of pmh">
    <span>{{anterecord.name}} <button md-button color="accent" class="color-transparent">{{anterecord.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigureanterecord(anterecord)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigureanterecord(anterecord)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
        Child Birth</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let anterecord of childBirths">
    <span>{{anterecord.name}} <button md-button class="color-transparent" color="accent">{{anterecord.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigureanterecord(anterecord)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigureanterecord(anterecord)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
        Immunization</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let anterecord of immunization">
    <span>{{anterecord.name}} <button md-button class="color-transparent" color="accent">{{anterecord.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigureanterecord(anterecord)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigureanterecord(anterecord)"><md-icon class="white">edit</md-icon></button></span>

</md-card>
<h2 class="font-weight-500 mb-8 ml-8 mr-8">
        Primary Assessment(History of Present Pregnancy)</h2>
<md-card fxLayout="row" class="mat-elevation-z8 mb-8 ml-8 mr-8" *ngFor="let anterecord of primaryasses">
    <span>{{anterecord.name}} <button md-button class="color-transparent" color="accent">{{anterecord.type}}</button></span>
    <span fxLayoutAlign="end" fxFlex> <button  md-mini-fab color="warn" title="Delete Part" class="mr-8 danger" (click)="deleteConfigureanterecord(anterecord)"><md-icon class="white">delete</md-icon></button>
                <button  md-mini-fab color="accent" class="mr-8 edit" (click)="editConfigureanterecord(anterecord)"><md-icon class="white">edit</md-icon></button></span>

</md-card>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-configureanterecord-button" (click)="newConfigureanterecord($event)" aria-label="add configureanterecord">
    <md-icon>add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->