<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell *cdkCellDef="let patient">
                <md-checkbox [(ngModel)]="checkboxes[patient.id]" (ngModelChange)="onSelectedChange(patient.id)" (click)="$event.stopPropagation()">
                </md-checkbox>
            </md-cell>
        </div>

        <div *ngIf="localStorageType=='Doctor'">
            <md-cell *cdkCellDef="let patient">
                <!--  <md-checkbox [(ngModel)]="checkboxes[patient.id]" (ngModelChange)="onSelectedChange(patient.id)"
                         (click)="$event.stopPropagation()">
            </md-checkbox> -->
            </md-cell>
        </div>
    </ng-container>

    <!-- Patientnumber Column -->
    <ng-container cdkColumnDef="patientno">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Number</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxShow.gt-md>
                <p class="email text-truncate">
                    {{patient.patientno}}
                </p>
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
            <md-cell *cdkCellDef="let patient" fxShow.gt-md>
                <p class="email text-truncate">
                    {{patient.patientno}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Patientname Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-md>Name</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxShow.gt-md>
                <p class="email text-truncate">
                    {{patient.name}}
                </p>
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
            <md-cell *cdkCellDef="let patient" fxShow.gt-md>
                <p class="email text-truncate">
                    {{patient.name}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Sex Column -->
    <ng-container cdkColumnDef="sex">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Sex</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{patient.sex}}
                </p>
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
            <md-cell *cdkCellDef="let patient" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{patient.sex}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Age Column -->
    <ng-container cdkColumnDef="age">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Age</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
            <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{patient.age}}
                </p>
            </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
            <md-cell *cdkCellDef="let patient" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{patient.age}}
                </p>
            </md-cell>
        </div>
    </ng-container>

    <!-- Bloodgroup Column -->
    <ng-container cdkColumnDef="blood_g">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Blood Group</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{patient.blood_group}}
            </p>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let patient" fxHide fxShow.gt-md>
            <p class="email text-truncate">
                {{patient.blood_group}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Phone</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxShow.gt-md>
            <p class="email text-truncate">
                {{patient.phone}}
            </p>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let patient" fxShow.gt-md>
            <p class="email text-truncate">
                {{patient.phone}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Email</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.email}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.email}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Address</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.address}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.address}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Birth Column -->
    <ng-container cdkColumnDef="birth">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Date Of Birth</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.birth_date}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.birth_date}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Account-Open Column -->
    <ng-container cdkColumnDef="accounttimestamp">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Date Of Patient Registration</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.account_opening_timestamp}}
            </p>
        </md-cell>
        </div>

        <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.account_opening_timestamp}}
            </p>
        </md-cell>
        </div>
    </ng-container>

    <!-- Password Column -->
    <ng-container cdkColumnDef="password">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Password</md-header-cell>
        <div *ngIf="localStorageType!=='Doctor'">
        <md-cell (click)="editPatient(patient)" *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.password}}
            </p>
        </md-cell>
        </div>

         <div *ngIf="localStorageType==='Doctor'">
        <md-cell *cdkCellDef="let patient" fxHide fxShow.gt-lg>
            <p class="email text-truncate">
                {{patient.password}}
            </p>
        </md-cell>
        </div>
    </ng-container>

     <!-- Buttons Column -->
     <ng-container cdkColumnDef="buttonslab">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let patient">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-raised-button small color="accent" aria-label="prescriptions" (click)="patientlab(patient)">
                    <div class="align-text">LAB TEST</div>
                </button>
            </div>

        </md-cell>
    </ng-container>

     <!-- Buttons Column -->
     <ng-container cdkColumnDef="buttons2">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let patient">
            <div fxFlex="row" fxLayoutAlign="center">
                <button md-raised-button small color="accent" aria-label="prescriptions" (click)="patientpresc(patient)">
                    <div class="align-text">PRESCRIBE</div>
                </button>
            </div>

        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let patient">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button md-raised-button small color="accent" aria-label="records" (click)="patientrecords(patient)">
                    <div class="align-text">RECORDS</div>
                </button>
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <div *ngIf="localStorageType!=='Doctor'">
        <md-row *cdkRowDef="let patient; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[patient.patient_id]}"
            md-ripple>
        </md-row>
    </div>

    <div *ngIf="localStorageType==='Doctor'">
        <md-row *cdkRowDef="let patient; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[patient.patient_id]}" md-ripple>
        </md-row>
    </div>
</md-table>

<md-paginator #paginator
                [length]="patients.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>


<!-- ADD CONTACT BUTTON -->
<button *ngIf="localStorageType!=='Doctor' || localStorageType!=='Laboratorist'" md-fab class="md-accent-bg" id="add-patient-button" (click)="newPatient($event)"
    aria-label="add patient">
    <md-icon>local_hotel</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->

<!-- ADD CONTACT BUTTON -->
<button *ngIf="localStorageType==='Doctor' || localStorageType==='Laboratorist' " md-fab class="md-accent-bg" id="add-patient-button" (click)="newPatient($event)"
    aria-label="add patient" disabled>
    <md-icon>local_hotel</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->