

<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let staff">
            <md-checkbox [(ngModel)]="checkboxes[staff.id]" (ngModelChange)="onSelectedChange(staff.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container> 

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxShow.gt-sm>Name</md-header-cell>
        <md-cell *cdkCellDef="let staff" (click)="editStaff(staff)" fxShow.gt-sm>
            <p class="email text-truncate">
                {{staff.name}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Email</md-header-cell>
        <md-cell *cdkCellDef="let staff" (click)="editStaff(staff)" fxHide fxShow.gt-lg>
            <p class="phone text-truncate">
                {{staff.email}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container cdkColumnDef="address">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Address</md-header-cell>
        <md-cell *cdkCellDef="let staff" (click)="editStaff(staff)" fxHide fxShow.gt-md>
            <p class="job-title text-truncate">
                {{staff.address}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phone">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-md>Phone</md-header-cell>
        <md-cell *cdkCellDef="let staff" (click)="editStaff(staff)" fxShow.gt-md>
            <p class="phone text-truncate">
                {{staff.phone}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Department Column -->
    <ng-container cdkColumnDef="department_id">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Department</md-header-cell>
        <md-cell *cdkCellDef="let staff" (click)="editStaff(staff)" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{staff.department_id}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Profile Column -->
    <ng-container cdkColumnDef="profile">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Profile</md-header-cell>
        <md-cell *cdkCellDef="let staff" (click)="editStaff(staff)" fxHide fxShow.gt-lg>
            <p class="phone text-truncate">
                {{staff.profile}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let staff">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--   <button md-menu-item aria-label="remove" (click)="deleteDoctor(doctor)">
                    <md-icon>visibility</md-icon>
                    <span>View</span>
                </button> -->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let staff; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[staff.id]}" md-ripple>
    </md-row>
</md-table>

<md-paginator #paginator
                [length]="staffs.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<button md-fab class="md-accent-bg" id="add-staff-button" (click)="newStaff($event)" aria-label="add staff">
    <md-icon>person_add</md-icon>
</button>
<!-- / ADD CONTACT BUTTON -->