
<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button"
                (click)="dialogRef.close()"
                aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="settingForm">

       <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="name" formControlName="name" mdInput placeholder="Hospital Name">
            </md-input-container>
        </div>

       <div>
            <md-icon class="mr-12 mt-12">note</md-icon>
            <md-input-container>
                <textarea mdInput name="address" formControlName="address" placeholder="Hospital Address" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
        </div>


         <div>
            <md-icon class="mr-12 mt-12">place</md-icon>
            <md-input-container>
               <input name="country" formControlName="country" mdInput placeholder="Hospital Country">
            </md-input-container>
        </div>


         <div>
            <md-icon class="mr-12 mt-12">place</md-icon>
            <md-input-container>
               <input name="city" formControlName="city" mdInput placeholder="Hospital City">
            </md-input-container>
        </div>


        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">phone</md-icon>
            <md-input-container fxFlex>
                <input name="phone" formControlName="phone" mdInput placeholder="Hospital Phone Number">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">mail</md-icon>
            <md-input-container fxFlex>
                <input name="email" formControlName="email" mdInput placeholder="Hospital Email">
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'"
            md-raised-button
            (click)="dialogRef.close(settingForm)"
            class="save-button mat-accent"
            [disabled]="settingForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-raised-button
            (click)="dialogRef.close(['save',settingForm])"
            class="save-button mat-accent"
            [disabled]="settingForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

   <!--  <button *ngIf="action ==='edit'"
            md-button
            class="mat-icon-button"
            (click)="dialogRef.close(['delete',settingForm])"
            aria-label="Delete"
            md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button> -->

</div>
