<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button"
                (click)="dialogRef.close()"
                aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="insuranceschemeForm">

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">library_books</md-icon>
            <md-select [(ngModel)]="patient" formControlName="patient" fxFlex placeholder="Patients">
                <md-option (click)=getId(patient) *ngFor="let patient of patientss" [value]="patient.name">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>

       <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">title</md-icon>
            <md-input-container fxFlex>
                <input name="name" formControlName="name" mdInput placeholder="Insurance Name">
            </md-input-container>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">more_horiz</md-icon>
            <md-input-container fxFlex>
                <input name="percentage" formControlName="percentage" mdInput placeholder="%">
            </md-input-container>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'"
            md-raised-button
            (click)="dialogRef.close(insuranceschemeForm)"
            class="save-button mat-accent"
            disabled
            aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'"
            md-raised-button
            (click)="dialogRef.close([save(),insuranceschemeForm])"
            class="save-button mat-accent"
            [disabled]="insuranceschemeForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

   <!--  <button *ngIf="action ==='edit'"
            md-button
            class="mat-icon-button"
            (click)="dialogRef.close(['delete',insuranceschemeForm])"
            aria-label="Delete"
            md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button> -->

</div>
