<md-table #table [dataSource]="dataSource" mdSort>

    <!-- Checkbox Column -->
    <!-- <ng-container cdkColumnDef="checkbox">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let bed_allotment">
            <md-checkbox [(ngModel)]="checkboxes[bed_allotment.id]" (ngModelChange)="onSelectedChange(bed_allotment.id)" (click)="$event.stopPropagation()">
            </md-checkbox>
        </md-cell>
    </ng-container> -->



    <!-- Bed Number Column -->
    <ng-container cdkColumnDef="number">
        <md-header-cell *cdkHeaderCellDef md-sort-header fxHide fxShow.gt-sm>Bed Number</md-header-cell>
        <md-cell *cdkCellDef="let bed_allotment" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{bed_allotment.bed_id}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="type">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Bed Type</md-header-cell>
        <md-cell *cdkCellDef="let bed_allotment" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{bed_allotment.bed_type}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Patient Column -->
    <!-- <ng-container cdkColumnDef="patient">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Patient</md-header-cell>
        <md-cell *cdkCellDef="let bed_allotment" fxHide fxShow.gt-sm>
            <p class="job-title text-truncate">
                {{bed_allotment.patient_id}}
            </p>
        </md-cell>
    </ng-container> -->

    <!-- Allotment Column -->
    <ng-container cdkColumnDef="allotment">
        <md-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Allotment Time</md-header-cell>
        <md-cell *cdkCellDef="let bed_allotment" fxHide fxShow.gt-sm>
            <p class="company text-truncate">
                {{bed_allotment.allotment_timestamp}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Discharge Column -->
    <ng-container cdkColumnDef="discharge">
        <md-header-cell *cdkHeaderCellDef fxShow.gt-sm>Discharge Time</md-header-cell>
        <md-cell *cdkCellDef="let bed_allotment" fxShow.gt-sm>
            <p class="company text-truncate">
                {{bed_allotment.discharge_timestamp}}
            </p>
        </md-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let bed_allotment">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--<button md-menu-item aria-label="remove" (click)="deletebed_allotment(bed_allotment)">
                    <md-icon>delete</md-icon>
                    <span>Edit</span>
                </button>-->
            </div>

        </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
   
         <md-row *cdkRowDef="let bed_allotment; columns: displayedColumns;" [ngClass]="{'md-light-blue-50-bg':checkboxes[bed_allotment.bed_allotment_id]}"
            md-ripple>
        </md-row>

</md-table>

<md-paginator #paginator
                [length]="bed_allotments.length"
                [pageIndex]="0"
                [pageSize]="30"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>

<!-- ADD CONTACT BUTTON -->
<!-- <button md-fab *ngIf="localStorageType!=='Admin'" class="md-accent-bg" id="add-bed_allotment-button" (click)="newBed_allotment($event)"
    aria-label="add bed_allotment">
    <md-icon>person_add</md-icon>
</button>

<button md-fab *ngIf="localStorageType==='Admin'" class="md-accent-bg" id="add-bed_allotment-button" (click)="newBed_allotment($event)"
    aria-label="add bed_allotment" disabled>
    <md-icon>person_add</md-icon>
</button> -->
<!-- / ADD CONTACT BUTTON -->