<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form name="eventForm" [formGroup]="addappointmentForm" class="event-form" fxLayout="column" fxFlex>

        <md-input-container>
            <input mdInput name="title" formControlName="title" placeholder="Title" required>
        </md-input-container>

        <div class="mb-24" fxFlex="1 0 auto" fxLayout="row">
            <md-icon class="mr-12 mt-12">local_hotel</md-icon>
            <md-select formControlName="patient_id" fxFlex placeholder="Select Patient">
                <md-option *ngFor="let patient of patientss" [value]="patient.name" (click)="getPId(patient)">
                    {{patient.name}}
                </md-option>
            </md-select>
        </div>
       
        <div class="mb-24" fxFlex="1 0 auto" fxLayout="row">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-select formControlName="doctor_id" fxFlex placeholder="Select Doctor">
                <md-option *ngFor="let doctor of doctorss" [value]="doctor.name" (click)="getPId(patient)">
                    {{doctor.name}}
                </md-option>
            </md-select>
        </div>



        <div class="py-16" fxFlex="1 0 auto" fxLayout="row">
            <md-input-container>

                <textarea mdInput name="description" formControlName="description" placeholder="Description" md-maxlength="250" max-rows="4">
            </textarea>
            </md-input-container>
        </div>

        <div fxFlex="1 0 auto" fxLayout="row">

            <md-input-container class="mr-24">
                <input mdInput name="start_timestamp" formControlName="start" [mdDatepicker]="startDatePicker" placeholder="Start Date">
                <button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
            </md-input-container>
            <md-datepicker #startDatePicker></md-datepicker>

              <md-input-container class="no-errors-spacer" flex md-no-float>
                <input mdInput formControlName="startTime"  placeholder="Start Time">
            </md-input-container>
        </div>

        <div fxFlex="1 0 auto" fxLayout="row">

            <md-input-container class="mr-24">
                <input mdInput name="end_timestamp" formControlName="end" [mdDatepicker]="endDatePicker" placeholder="End Date">
                <button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
            </md-input-container>
            <md-datepicker #endDatePicker></md-datepicker>

             <md-input-container class="no-errors-spacer" flex md-no-float>
                <input mdInput formControlName="endTime"  placeholder="End Time">
            </md-input-container>
        </div>

        <div class="py-16" fxFlex="1 0 auto" fxLayout="row" formGroupName="color">
            <md-input-container class="mr-24">
                <input mdInput name="primary color" formControlName="primary" placeholder="Primary color" [(colorPicker)]="appointment.color.primary"
                    cpWidth="290px" [cpPresetColors]="presetColors" [style.background]="appointment.color.primary" (colorPickerChange)="appointment.color.primary = $event; addappointmentForm.patchValue({color:{primary:$event}})"
                />
            </md-input-container>
            <md-input-container>
                <input mdInput name="secondary color" formControlName="secondary" placeholder="Secondary color" [(colorPicker)]="appointment.color.secondary"
                    cpWidth="290px" [cpPresetColors]="presetColors" [style.background]="appointment.color.secondary" (colorPickerChange)="appointment.color.secondary = $event; addappointmentForm.patchValue({color:{secondary:$event}})"
                />
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">access_time</md-icon>
            <md-select formControlName="status" fxFlex placeholder="Status">
                <md-option *ngFor="let status of statuss" [value]="status">
                    {{status}}
                </md-option>
            </md-select>
        </div>

    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(addappointmentForm)" class="save-button mat-accent"
        [disabled]="addappointmentForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',addappointmentForm])" class="save-button mat-accent"
        [disabled]="addappointmentForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',addappointmentForm])"
        aria-label="Delete" md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>