<md-toolbar id="receipt-head" md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div id="printable" md-dialog-content class="p-24 m-0 " perfect-scrollbar>


    <div class="mb-24 mr-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">title</md-icon>
        <span class="font-size-15 h3 font-weight-500"> {{hospitalName}} </span>
    </div>


    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">mail</md-icon>
        {{hospitalEmail}}
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">phone</md-icon>
        {{hospitalPhone}}
    </div>
    <hr/>

    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">person</md-icon>
        <span class="font-size-15 font-weight-500"> Patient: </span> <span class="ml-8"> {{patientName}}</span>
    </div>

    <div class="mb-8" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">filter_2</md-icon>
        <span class="font-size-15 font-weight-500"> invoice No: </span> <span class="ml-8"> #{{invoiceNumber}}</span>
    </div>

    <div class="mb-24" fxLayout="row" fxLayoutAlign="center">
        <md-icon class="mr-12">event</md-icon>
        <span class="font-size-15 font-weight-500"> Date: </span> <span class="ml-8"> {{invoiceDate}}</span>
    </div>

    <div fxLayout="row">
        <span class="font-size-15 font-weight-500" fxLayoutAlign="start start"> UNIT </span>
        <span class="font-size-15 font-weight-500" fxLayoutAlign="end" fxFlex>
            UNIT PRICE
            </span>
    </div>

    <div *ngFor="let unit of unitss" fxLayout="row">
        <span fxLayoutAlign="start start"> {{unit.entry}} </span>
        <span fxLayoutAlign="end" fxFlex>{{displayCurrencys}} {{unit.amount}}</span>
    </div>
    <hr/>
    <div class="subtotal mt-24" fxLayout="row">
        <span fxLayoutAlign="start start">  SUBTOTAL </span>
        <span fxLayoutAlign="end" fxFlex>{{displayCurrencys}} {{subTotal}}</span>

    </div>
    <hr>

    <div class="tax" fxLayout="row">
        <span fxLayoutAlign="start start" class="total">VAT PERCENTAGE</span>
        <span fxLayoutAlign="end" fxFlex>{{displayCurrencys}} {{vat}}%</span>
    </div>

    <hr>

    <div class="discount" fxLayout="row">
        <span fxLayoutAlign="start start" class="subtotal">DISCOUNT </span>
        <span fxLayoutAlign="end" fxFlex>{{displayCurrencys}} {{discount}}</span>
    </div>
    <hr>

    <div class="total" fxLayout="row">
        <span fxLayoutAlign="start start" class="total">TOTAL</span>
        <span fxLayoutAlign="end" fxFlex>{{displayCurrencys}} {{total}}</span>
    </div>
<br>
    <div fxLayout="row" class="footer  invoice-data4">
        <div class="note" fxFlex>Please pay before {{invoiceDueDate}}. Thank you for your business.</div>

    </div>

</div>

<div md-dialog-actions id="print-head" class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button md-raised-button (click)="print()" class="save-button mat-accent" aria-label="SAVE" #childtext>
        PRINT RECEIPT
    </button>

</div>