
<div id="invoice" class="compact page-layout blank" fxLayout="row" perfect-scrollbar>

    <div class="invoice-container">

        <!-- INVOICE -->
        <div>
            <div>
                <div class="card" id="printArea">
                    <div class="header">
                        <div class="invoice-date ">{{saleDate}}</div>
                        <br/>


                        <div fxLayout="row" fxLayoutAlign="space-between stretch">
                            <div class="client">
                                <div class="invoice-number" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title">PATIENT NAME:</span>
                                    <span class="number">{{patientName}}</span>

                                </div>

                               <!--  <div class="invoice-title" fxLayout="row" fxLayoutAlign="start center">
        
                                    <span class="invoice-name">{{documentName}}</span>

                                </div>
 -->
                                 <div class="invoice-title" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title">PATIENT ADDRESS:</span>
                                    <span class="invoice-name">{{patientAddress}}</span>
                                </div>

                                <div class="invoice-title" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title">PATIENT EMAIL:</span>
                                    <span class="invoice-name">{{patientEmail}}</span>
                                </div>

                                <div class="due-date" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="title">PATIENT PHONE:</span>
                                    <span class="date">{{patientNumber}}</span>
                                </div>
                                <div class="info">

                                    <div class="title">
                                        <span class="title">PHARMACIST NAME:</span>
                                        {{pharmName}}
                                    </div>
                                    <div class="address">
                                       <span class="title">PHARMACIST EMAIL:</span>
                                        {{pharmEmail}}
                                    </div>
                                </div>
                            </div>


                            <div class="issuer md-accent-bg" fxLayout="row">
                                <div class="logo" fxLayout="row">
                                    <span><md-icon id="co-size"> local_pharmacy </md-icon></span>
                                </div>

                                <div class="info">
                                    <div class="title">{{hospitalName}}</div>
                                    <div class="address">{{hospitalAddress}}</div>
                                    <div class="phone">{{hospitalPhone}}</div>
                                    <div class="email">{{hospitalEmail}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <table class="simple invoice-table">
                            <thead>
                                <tr>
                                    <th>QUANTITY</th>
                                     <th class="text-center">MEDICINE DETAILS</th>
                                    <th class="text-right">UNIT PRICE</th> 

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let quantity of quantityss">

                                    <td>
                                        {{quantity.quantity}}
                                    </td>

                                     <td class="text-center">
                                        {{quantity.medicine}}
                                    </td>

                                    <td class="text-right">
                                        {{displayCurrencys}} {{quantity.price}}
                                    </td> 
                                </tr>
                            </tbody>
                        </table>

                       <table class="simple invoice-table-footer">
                            <tbody>
                               <!--  <tr class="subtotal">
                                    <td>SUBTOTAL</td>
                                    <td class="alignright">{{displayCurrencys}} {{subTotal}} </td>
                                </tr>
                                <tr class="tax">
                                    <td>VAT PERCENTAGE</td>
                                    <td class="alignright">{{displayCurrencys}} {{vat}}%</td>
                                </tr>
                                <tr class="discount">
                                    <td class="line">DISCOUNT</td>
                                    <td id="alignright" class="line">{{displayCurrencys}} {{discount}} </td>
                                </tr> -->
                                <tr class="total">
                                    <td class="mytotal">TOTAL</td>
                                    <td class="alignright">{{displayCurrencys}} {{totalAmount}} </td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>

                    <div class="footer">
                        
                        <div class="note">Remember to take your drugs as prescribed by the Doctor or Pharmacist. Thanks</div>

                        <div fxLayout="row" fxLayoutAlign="start start">




                        </div>
                    </div>
                </div>

            </div>
            <br/>
            <button md-raised-button (click)="print()" class="save-button mat-accent">
                     PRINT
                    </button>
        </div>
        <br/>
        <!-- / INVOICE -->

        <!-- Use the following element to add breaks to your pages -->
        <!-- This will make sure that the section after this element will be printed on a new page -->
        <div class="page-break"></div>

    </div>
</div>