.staff-form-dialog {

    .mat-dialog-container {
         padding: 0;
        width: 600px !important ;
        max-height: 90vh;

        .toolbar-bottom {
            height: 200px;
        }
    }
}

:host {
    display: flex;
    flex-direction: column;
}

body {
  text-align: center;
}

section {
  width: 81%;
  margin: auto;
  text-align: left;
}