<md-toolbar md-dialog-title class="mat-accent m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button md-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
            <md-icon>close</md-icon>
        </button>
    </div>
</md-toolbar>

<div md-dialog-content class="p-24 m-0" perfect-scrollbar>

    <form [formGroup]="staffForm">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">library_books</md-icon>
            <md-select formControlName="department_id" fxFlex placeholder="Departments">
                <md-option *ngFor="let department of departmentss" [value]="department.name">
                    {{department.name}}
                </md-option>
            </md-select>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">group</md-icon>
            <md-select formControlName="usertype" fxFlex placeholder="Users">
                <md-option *ngFor="let userType of userTypes" [value]="userType">
                    {{userType}}
                </md-option>
            </md-select>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">person</md-icon>
            <md-input-container fxFlex>
                <input name="name" formControlName="name" mdInput placeholder="Staff Name">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">mail</md-icon>
            <md-input-container fxFlex>
                <input name="email" formControlName="email" mdInput placeholder="Staff Email">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">enhanced_encryption</md-icon>
            <md-input-container fxFlex>
                <input type="password" name="password" formControlName="password" mdInput placeholder="Enter Password">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">domain</md-icon>
            <md-input-container fxFlex>
                <input name="address" formControlName="address" mdInput placeholder="Enter Address">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">phone</md-icon>
            <md-input-container fxFlex>
                <input name="phone" formControlName="phone" mdInput placeholder="Enter Phone">
            </md-input-container>
        </div>

         <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">feedback</md-icon>
            <md-input-container fxFlex>
                <input name="secretquestion" formControlName="secretquestion" mdInput placeholder="Secret Question for account recovery (Applicable to only Admin)">
            </md-input-container>
        </div>

          <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">question_answer</md-icon>
            <md-input-container fxFlex>
                <input name="answer" formControlName="answer" mdInput placeholder=" Answer to Secret Question (Applicable to only Admin)">
            </md-input-container>
        </div>

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <md-icon class="mr-12 mt-12">account_circle</md-icon>
            <!--  <md-input-container fxFlex> -->
            <div [froalaEditor] formControlName="profile">
                <i> Enter Profile Details </i>
                <!-- <input name="profile" formControlName="profile" mdInput placeholder="Enter Your Profile"> -->
            </div>
          
        </div>

         <!-- ADD FILE BUTTON -->
                <div class="file-uploader">
                     <input  hidden name="files" type="file" id="fileupload" #fileInput required/> 
                    <button md-fab
                            class="add-file-button mat-warn"
                            (click)="fileInput.click()"
                            aria-label="Add file">
                        <md-icon>create_new_folder</md-icon>
                    </button>
                </div>
                <!-- / ADD FILE BUTTON -->
        <div id="img3">
          
            </div>
     
    </form>

</div>

<div md-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'" md-raised-button (click)="dialogRef.close(staffForm)" class="save-button mat-accent" [disabled]="staffForm.invalid"
        aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-raised-button (click)="dialogRef.close(['save',staffForm])" class="save-button mat-accent"
        [disabled]="staffForm.invalid" aria-label="SAVE">
        SAVE
    </button>

    <button *ngIf="action ==='edit'" md-button class="mat-icon-button" (click)="dialogRef.close(['delete',staffForm])" aria-label="Delete"
        md-tooltip="Delete">
        <md-icon>delete</md-icon>
    </button>

</div>