
.labrecord-receipt-dialog {

    .mat-dialog-container {
         padding: 0;
        width: 600px !important ;
        max-height: 90vh;

        .toolbar-bottom {
            height: 200px;
        }
    }
}

:host {
    display: flex;
    flex-direction: column;
}

@media print {
    #invoice, #receipt-head, #sales-body, #pos-head, #pos-body, #print-head,#dashboard-project 
    {    
      display: none !important;
    }
    :host(fuse-main){
      display: none !important;   
    }

    .labrecord-receipt-dialog {
          #printable{
        display: block !important;
    }

    .mat-dialog-container {
        padding: 0;
        width: 600px;
        position:absolute;
        top:0px;
        left:10px;
        max-height: 120vh;
        
        .toolbar-bottom {
            height: 200px;
        }
    }

    body,html #printable{
        display: block !important;
        width: 100%;
    }
}

    #printable{
        display: block !important;
    }

     @page {
        //size: letter landscape;
        margin: 0cm;
    }

}